[2019-08-09 17:20] georgemccabe commented on #242
Added [config] USER_SHELL that can be set to csh to output env var setting as setenv instead of export in log output. This is available in 2.2

[2019-08-09 17:20] #242 closed, assigned to georgemccabe

[2019-08-09 22:46] georgemccabe opened #283 "Reduce external exe dependencies"
It looks like we are able to remove some of these dependencies.

CUT and TR don't seem to be used in the code.

The Series* wrappers can toggle using RegridDataPlane or wgrib2 for the same purpose, so it seems like we should just use the MET tool and remove the dependency for WGRIB2.

Do we already require the netCDF4 python library be available? If so, we would likely use that library to remove t

[2019-08-09 22:47] georgemccabe commented on #283
Sorry, EGREP is used with WGRIB2, but we could still remove our dependency on it.

[2019-08-12 17:13] georgemccabe opened #284 "Handle multiple verification masks"
Currently some wrappers (grid_stat, mode, point_stat) have a <app_name>_VERIFICATION_MASK_TEMPLATE config that allows the user to specify the masking region in the MET config file. The user can currently only specify one masking file to pass to the MET config.

In hwt/met_config/GridStatConfig_hwt:
 poly = ["${VERIF_MASK}"];

It is likely that multiple files could not be specified (separated by co

[2019-08-12 20:14] bikegeek commented on #280
see GitHub issue #281

[2019-08-12 20:14] #280 closed, assigned to nobody

[2019-08-12 20:21] bikegeek commented on #109
Related to  #275

No current use case to support 90min = 1 hour 30 minutes

[2019-08-12 20:21] #109 closed

[2019-08-12 20:33] georgemccabe commented on #281
#211 handles python embedding for all apps, this focuses on the custom ingester wrapper

[2019-08-12 20:40] TaraJensen commented on #276
Whether this is included in METplus-3.0 release depends on how a priority it is for NRL and how much work it is to complete.  I'll try to ask Tim for priority on this

[2019-08-12 20:49] bikegeek commented on #137
Refer to Github Issue #254 (README template)

[2019-08-12 20:55] bikegeek commented on #241
Only check for the wgrib2 exe if the user has selected wgrib2 over regrid data plane to subset the data.

[2019-08-12 21:29] jimfrimel commented on #74
The Initial Commit of METplus to Python 3.

See 'develop' branch commit log for details: e4edcde5a3b

The METplus develop branch has been updated and is now python 3.
The develop branch will not run under python 2.

The intent of the INITIAL commit is to make available a port that allows all of
METplus’ current functionally to run so folks can start working with Python 3.
It is expected that more

[2019-08-12 21:29] #74 closed

[2019-08-14 14:10] georgemccabe opened #285 "MTD conv radius/thresh looping and quilting logic in wrapper"
MTD only allows one value for conv_radius and conv_thresh to be set for a given run. If a list for these values are set in the MTD wrapper, it will try to pass the list to the MET config file and fail. We should add logic similar to the MODE QUILT option to loop over these values and call MTD for each combination of values.

We will need to add:
- Logic to loop over the list of values for these va

[2019-08-14 14:21] georgemccabe opened #286 "Set output_prefix via config variable"
output_prefix in MET config files can be set to change the output filename by adding a prefix. Currently, these values are set based on environment variables that are set by METplus. For example:

output_prefix    = "PROB_${MODEL}_${FCST_VAR}_vs_${OBTYPE}_${OBS_VAR}_A${LEVEL}";

This is not as flexible as it should be, as users will have to modify the MET config file to change these values. Instea

[2019-08-14 14:47] georgemccabe opened #287 "Store current iteration values as config variables that can be referenced by other variables"
For config variables that are looped over in the wrappers (i.e. [FCST/OBS]_VAR<n>_[NAME/LEVEL/THRESH/OPTIONS]) we should save the current values in other METplus config variables that can be referenced in other places. For example, for each iteration of the VAR<n> variables, we can set
FCST_CURRENT_NAME
FCST_CURRENT_LEVEL
FCST_CURRENT_THRESH
FCST_CURRENT_OPTIONS
OBS_CURRENT_NAME
OBS_CURRENT_LEVEL

[2019-08-14 14:57] georgemccabe opened #288 "Add config variable to specify if you should use prob dictionary in MET config"
There are 2 ways to specify probabilistic data in the MET config files:

1) { name="PROB"; level="L0"; prob={ name="VAR_NAME"; thresh_lo=12.7; } cat_thresh=[==0.1]; }

2) { name="VAR_NAME_gt12.7"; level="L0"; prob=TRUE; }

In use case up to this point, we have used (1) for GRIB files and (2) for NetCDF files. However, this is not what decides which to use. extended PDS GRIB files use (1), but not

[2019-08-14 15:05] georgemccabe opened #289 "Check error status of each MET call"
We currently do not check the error code when we run a MET (or non-MET) tool. If the app has an error and does not produce a file, we do not capture that in METplus and alert the user that something went wrong. At the end of METplus execution, we log that METplus successfully finished running, while this may not be completely true.

1) We should capture the error status of a MET run and report an

[2019-08-14 18:19] georgemccabe opened #290 "RegridDataPlane does not handle grid definitions for the verification grid"
Previous uses of this wrapper only specified a file as the verification grid. The app would fail if you define a grid explicitly (like "latlon 60 60 -37.5 141.0 0.5 0.5") because there are no quotes added. The file path can have quotes around it too, so I added quotes around this item so it will work for both cases. The changes were checked into feature_281_py_embed.

[2019-08-14 18:19] #290 closed, assigned to georgemccabe

[2019-08-14 18:30] georgemccabe opened #291 "Need more explicit field name config options for RegridDataPlane and PcpCombine to allow python embedding support"
Currently [FCST/OBS]_VAR<n>_NAME is used to determine many things: output field name for PcpCombine, input and output field name for RegridDataPlane, and input field name for the comparison wrappers (grid_stat, point_stat, ensemble_stat, mode, and mtd). However, also use this variable to supply a python script to pass data into the MET tools. Using python embedding for input into RegridDataPlane w

[2019-08-14 19:01] georgemccabe commented on #291
The input and output names must correspond to the appropriate VAR<n> variable, so they will have to be named [FCST/OBS]_<APP_NAME>_VAR<n>[_INPUT/_OUTPUT/]_FIELD_NAME. The var_info dictionaries contain and 'index' item that corresponds to <n>

[2019-08-21 14:32] georgemccabe opened #292 "Support month and year offsets"
datetime timdelta does not support offsets of month or year because they are not uniform offsets. However, there is a python utility called dateutil which supports relative offsets that can be months or years. We should modify the time offset code (such as [INIT/VALID]_INCREMENT and StringSub shift) to use dateutil so the user can specify months and year offsets.

[2019-08-21 14:55] georgemccabe commented on #275
We discussed in an engineering meeting that the current implementation of handling H, M, and S (each outputs the full number of units, not relative to next highest unit) is sufficient for the use cases we will likely encounter. We can revisit if we come across another use case that requires more support.

The change will likely go in the format_one_time_item function in the string sub code. We wil

[2019-08-21 15:05] georgemccabe commented on #272
This change was made in feature_281_py_embed branch. It will be included in the changes for python embedding support. related #211

[2019-08-21 16:05] georgemccabe commented on #271
This change has been added on feature_281_py_embed branch (related #211 and #281 ). I added a new use case conf in grid_to_grid called precip_continuous_zero_accum.conf to show this behavior. It has not yet tested that it still subtracts if the level difference is 0 and we are not processing accumulation

[2019-08-21 16:13] georgemccabe commented on #268
This change was made in feature_281_py_embed.

[2019-08-22 15:35] georgemccabe opened #293 "Option to configure log output formatting"
Each line in the log file has a lot of information before any developer written message:

08/22 15:25:48.357 metplus.GridStat (master_metplus.py:158) INFO:
08/22 15:25:48.364 metplus.PcpCombine (pcp_combine_wrapper.py:429) ERROR:

It would be nice to be able to configure this so it is not as long if desired. We could have a config variable to specify the formatting of the output. We could also con

[2019-08-26 19:25] georgemccabe commented on #212
@JohnHalleyGotway , are there other MET tools besides PcpCombine that would benefit from this functionality?

[2019-08-26 21:40] bikegeek commented on #241
There is no longer a need for the wgrib2 application or egrep in the series analysis wrappers.  The README has been updated to a ReStructured Text file (rst) and the metplus_config/README has also been updated to a ReStructured Text file (rst) with markup to format the content into a readable format.

[2019-08-26 21:40] #241 closed, assigned to bikegeek

[2019-08-26 21:59] georgemccabe commented on #291
This was implemented for RegridDataPlane. It may not be necessary to implement for PcpCombine, especially since the users can create a custom command to run PcpCombine with (GitHub issue #212 )

[2019-08-26 22:00] georgemccabe commented on #291
Work done in feature_281_py_embed branch. Need to update documentation and merge with develop.

[2019-08-26 22:01] georgemccabe commented on #260
@jvigh , can this issue be resolved?

[2019-08-26 22:06] georgemccabe commented on #143
Calls to met_util.parse_var_list was actually moved to be called more frequently instead of less so that these variables can utilize filename templates. The function will be called for each runtime/lead combination so it can read in the current timing information and substitute values.

We still need to remove uses of VAR_LIST then we can close this ticket.

[2019-08-27 15:44] bikegeek opened #294 "remove produtil code from the METplus repository and put in it's own repo"
produtil will be needed by the METplotpy code and it will also eventually be migrated (by NCEP) to its own GitHub repository.

[2019-08-28 16:31] jprestop opened #1349 "Determine if MET can read new integrated observation data set for arctic studies"
Tara suggested that we can use it as an example for the Python pandas support testing.

met_help ticket #91723 Merged Observatory Data Files from
Taneil Uttal
Polar Observations and Processes (Team Lead)
Earth Systems Research Laboratory

Dear DTC -
Tara Jensen and I have been chatting about a product we are developing that
combines all the observations from an observatory (a single "point" for
y'

[2019-08-28 18:36] jprestop commented on #1349
[barrow_obs_sop1.nc.gz](https://github.com/NCAR/MET/files/3552357/barrow_obs_sop1.nc.gz)
Uploading file

[2019-08-28 18:50] TaraJensen commented on #1349
Taneil just commented that "Please note that this is 1 min data (developed to comparing to model time step data) and for MET it might have to be discussed on how to averaged up to be useful."

[2019-08-28 19:08] TaraJensen commented on #1349
Another data set suggested by Taneil is the ARM data which can be obtained at:
[https://www.arm.gov/capabilities/vaps/armbe](https://www.arm.gov/capabilities/vaps/armbe)

[2019-08-28 23:30] georgemccabe opened #295 "PcpCombine does not handle grib forecast data correctly"
This was brought to our attention via met_help
[rt.rap.ucar.edu #91715] METplus PointStat; MET pcp_combine -sum (wildcard in -pcpdir argument?)

The logic to handle forecast data in the wrapper does not work when grib data is used as input.

[2019-08-29 18:50] bikegeek opened #296 "Replace Python 2.7 escape character with Python 3 escape character"
Running tests written in pytest (in a Python 3.6.3 environment) has resulted in DeprecationWarning in the met_util.py and produtil cluster.py scripts.  In this Stack Overflow solution (https://stackoverflow.com/questions/52335970/how-to-fix-string-deprecationwarning-invalid-escape-sequence-in-python), replace the escape character '/' with '//' or use raw strings.

[2019-08-29 18:59] georgemccabe commented on #296
Minna,

I have already made these changes in my feature branch for python
embedding. You can assign this ticket to me and I will resolve it when I
merge my changes into develop.

On Thu, Aug 29, 2019 at 6:50 PM bikegeek <notifications@github.com> wrote:

[2019-08-29 19:14] bikegeek commented on #296
Re-assigned to George, as requested.  Thanks George!

[2019-09-05 15:49] hankenstein2 commented on #275
Added pytest for testing format_one_time_item. Can be expanded in the future if the functionality of %H etc needs to be expanded

[2019-09-05 15:49] #275 closed, assigned to georgemccabe, hankenstein2

[2019-09-05 21:32] georgemccabe commented on #211
Support for building METplus commands using python embedding is now implemented for EnsembleStat, PointStat (gridded only), GridStat, Mode, MTD, PcpCombine, and RegridDataPlane. Merged changes into develop branch.

[2019-09-05 21:32] #211 closed

[2019-09-05 21:35] georgemccabe commented on #272
Merged into develop branch.

[2019-09-05 21:35] #272 closed, assigned to georgemccabe

[2019-09-05 21:35] georgemccabe commented on #271
Merged into develop branch.

[2019-09-05 21:35] #271 closed, assigned to georgemccabe

[2019-09-05 21:37] georgemccabe commented on #269
GridStat wrapper will now check if the config file is set. If not, it will report and error and not return a command to run. Merged into develop branch.

[2019-09-05 21:37] #269 closed, assigned to georgemccabe

[2019-09-05 21:45] georgemccabe commented on #268
Merged into develop branch.

[2019-09-05 21:45] #268 closed, assigned to georgemccabe

[2019-09-05 21:46] georgemccabe commented on #267
Template string substitution is now supported in [FCST/OBS]_VAR<n>_[NAME/LEVELS] and in an [user_env_vars]. Merged into develop.

[2019-09-05 21:46] #267 closed, assigned to georgemccabe

[2019-09-05 21:49] georgemccabe commented on #250
Wrappers that use find_model or find_obs (EnsembleStat, GridStat, Mode, MTD, PointStat, PB2NC) now output the file that was attempted to find when it cannot be found. PcpCombine, RegridDataPlane, and TcPairs have also been updated to output more useful logs regarding the file that was attempted to be read. Merged into develop branch.

[2019-09-05 21:49] #250 closed, assigned to georgemccabe

[2019-09-05 21:52] georgemccabe commented on #212
PcpCombine wrapper now has a CUSTOM option for [FCST/OBS]_PCP_COMBINE_RUN_METHOD. If set, the wrapper will attempt to run

pcp_combine -v <VERBOSITY>

followed by the value of [FCST/OBS]_PCP_COMBINE_COMMAND. The variable supports string template substitution and can reference other config variables. Example:

OBS_PCP_COMBINE_COMMAND = -derive min,max {OBS_PCP_COMBINE_INPUT_DIR}/{OBS_PCP_COMBINE_IN

[2019-09-05 21:52] #212 closed

[2019-09-06 22:46] georgemccabe commented on #224
From email conversation on metplus-dev, it is not recommended to set MET_BASE environment variable unless you have to. MET_BASE can be referenced in MET config files without the env variable being set. We should remove the setting of this environment variable from any ush script and remove all instances from the METplus config files.

[2019-09-10 16:57] DanielAdriaansen opened #297 "Transition documentation from Lyx to Sphinx"
We currently use Lyx (a LaTeX-based GUI for documentation) to document METplus. We will be moving to using Sphinx, which uses RST (reStructuredText) formatted files to render documentation.

reStructuredText: http://docutils.sourceforge.net/rst.html
Sphinx: http://www.sphinx-doc.org/en/master/

@jprestop converted most of the current Lyx documentation to RST files using Pandoc (https://pandoc.org/

[2019-09-11 15:07] georgemccabe opened #298 "PcpCombine support sub-hourly accumulations"
Currently only support hourly

[2019-09-11 19:03] georgemccabe commented on #295
Changes have been made in the following branches: bugfix_v2.1_pcp_combine, bugfix_v2.2_pcp_combine, and develop. The changes in the bugfix branches have not yet been merged into master_v2.1 and master_v2.2.

[2019-09-11 19:24] georgemccabe commented on #265
Refactored pb2nc wrapper code to break large functions into smaller, testable components. Wrote unit tests for the components to
- find input files
- find output path, check if it exists, and run or not according to SKIP_IF_OUTPUT_EXISTS
- based on what is set in wrapper, build command appropriately

Work was done in branch feature_265_pb2nc_test and merged into develop

[2019-09-11 19:24] #265 closed, assigned to georgemccabe

[2019-09-12 18:37] georgemccabe opened #299 "Allow different verbosity levels per MET tool"
Currently we have LOG_MET_VERBOSITY to control the verbosity level for all MET tools. Perry suggested that we be able to change the verbosity level for a single tool so we can see more information on a tool that is failing without cluttering up logs with output from tools that are not failing.

We could keep this variable, but also have different variables for each wrapper to override this value f

[2019-09-16 21:23] georgemccabe opened #300 "File window variable bug"
There is a typo in the handle_window_variables function in CompareGriddedWrapper that is used for PointStat, GridStat, and EnsembleStat. The function incorrectly sets [FCST/OBS]_FILE_WINDOW_[BEGIN/END] in the c_dict dictionary used by the wrappers to [FCST/OBS]_WINDOW_[BEGIN/END] when [FCST/OBS]_<app_name>_FILE_WINDOW_[BEGIN/END] is not set. It should use the [FCST/OBS]_FILE_WINDOW_[BEGIN/END] con

[2019-09-19 17:42] JohnHalleyGotway opened #301 "Assist in creating a new use case for RAL/ACOM Air Quality forecast evaluation."
On 9/18/2019, John Halley Gotway and Tara Jensen met with Rajesh Kumar (RAL) and Gabi Pfister (ACOM) about the application of METplus for evaluation of their air quality forecast.  Here's the current project page: https://www.acom.ucar.edu/firex-aq/forecast.shtml

Listed below are the meeting notes and plans for the new METplus use case:

The air quality modeling is initialized daily at 2am.  Air

[2019-09-23 23:28] bikegeek opened #302 "from __future__ imports need to be removed from python 3.6 code"
The from __future__ import (a,b,c) is no longer necessary, now that we have migrated to Python 3.  The __future__ is something that is found in Python3 to allow Python2 users to use Python3 features.

[2019-09-24 20:31] jimfrimel commented on #296
This fix needs to be applied to produtil also.

[2019-09-25 16:04] georgemccabe commented on #300
This has been fixed in the 3.0-beta1 release. There is now a unit test to make sure the functionality is correct. All of the users who have run into issues with this bug have been given the new beta release, so there is no need at this time to create a bugfix release for 2.1 or 2.2 unless someone is unable to transition away from Python 2 and needs this functionality.

[2019-09-25 16:04] #300 closed, assigned to georgemccabe

[2019-09-25 19:24] georgemccabe commented on #291
These changes are in the 3.0-beta1 release. The documentation still needs to be updated before the 3.0 release.

[2019-09-25 22:57] georgemccabe commented on #281
Implemented CustomIngest wrapper and was able to generate commands calling regrid_data_plane using python embedding scripts for input. The script used was fake so it didn't actually work, but it generated the command the way it should be generated. We need a good use case to test that the behavior works correctly. I think the scripts on the DTC webpage require python with an hdf library that doesn

[2019-10-02 15:26] georgemccabe commented on #302
On a similar note, any use of super no longer requires the class name and self.

OLD:        c_dict = super(ModeWrapper, self).create_c_dict()
NEW:        c_dict = super().create_c_dict()

Are there any clean up to do in result of the move from python 2 to 3?

[2019-10-03 19:29] bikegeek opened #303 "Enhancement to online user tutorial"
Jun Wang,  a visitor from SWPC (Space Weather Prediction Center) was following the instructions for the online METplus tutorial and had a few suggestions that address issues he had:

For instance, he was unsure as to what he was supposed to set the METPLUS_PARM directory.
He also needed a syntax example for setting the environment variables in his profile, since he was unfamiliar with bash command

[2019-10-07 23:49] georgemccabe commented on #170
This is done and found in the METplus 3.0-beta1 release. Still need to add documentation for new config variables.

[2019-10-07 23:56] georgemccabe commented on #224
MET_BASE is now only found in the CyclonePlotter and TCMPRPlotter. @bikegeek , could you take these references out and ensure that it doesn't break anything?

[2019-10-10 21:29] georgemccabe commented on #263
This wrapper has been implemented and tested on a few cases using the MET test data. The work is found in branch feature_263_ascii2nc. I still need to update the documentation.

[2019-10-10 23:00] georgemccabe commented on #291
Documentation was added to branch feature_297_sphinx_transition

[2019-10-10 23:00] #291 closed, assigned to georgemccabe

[2019-10-11 15:23] georgemccabe commented on #260
This work has been completed, but we still need to clean up a use case configuration to add to the repository because this use case utilizes new functionality that hasn't been covered in a use case prior to this work. We also need to obtain some sample data to add to a sample data tarball for the next release.

[2019-10-11 15:24] georgemccabe commented on #259
This work has been completed, but we still need to clean up a use case configuration to add to the repository because this use case utilizes new functionality that hasn't been covered in a use case prior to this work. We also need to obtain some sample data to add to a sample data tarball for the next release.

[2019-10-11 16:22] georgemccabe commented on #170
Added documentation to sphinx transition branch.

[2019-10-11 16:22] #170 closed

[2019-10-11 16:23] georgemccabe commented on #263
Documentation has been added to sphinx transition branch.

[2019-10-11 16:23] #263 closed, assigned to georgemccabe

[2019-10-14 22:59] georgemccabe opened #304 "Consistent wrapper naming"
* Should match MET naming except dashes are not allowed in python class names, i.e. PCP-Combine => PCPCombine (currently PcpCombine) and Grid-Stat => GridStat, ASCII2NC => ASCII2NC (currently Ascii2Nc)
* We should make each item in PROCESS_LIST case insensitive to reduce user error.
* We could also support dashes and underscores by stripping them out
* We will need to create a dictionary that maps

[2019-10-24 16:42] jprestop opened #305 "Enhance pcp_combine functionality to handle dumping the precip accum bucket frequency"

[2019-10-25 18:57] bikegeek commented on #234
Created entry in run_pytests for extract tiles wrapper tests.  Tests take longer because tc_pairs output needed and created prior to running test.

[2019-10-25 18:57] #234 closed, assigned to bikegeek

[2019-10-25 19:05] georgemccabe commented on #234
Hi Minna, could we stage some tc_pairs output for use in testing so we
don't have to run it for these tests?

On Fri, Oct 25, 2019 at 12:57 PM bikegeek <notifications@github.com> wrote:

--
George McCabe - Software Engineer III
National Center for Atmospheric Research
Research Applications Laboratory
303-497-2768
---
My working day may not be your working day. Please do not feel obliged to
reply t

[2019-10-25 19:42] bikegeek commented on #234
Only if we do this just before calling these tests.  I tried using "stale"
tc_pairs output and the extract tiles wrapper is looking for certain temp
files because it's calling tc_stat. I tried so many ways of doing this
within the test itself without success.  We can do this by calling the
run_precondition.py prior to calling run_pytests.sh.  I thought about that,
but then if someone forgets to ru

[2019-10-25 20:11] georgemccabe commented on #234
Could you elaborate on the temp files? Why do we create them and rely on
the temp file name from previous execution?

On Fri, Oct 25, 2019 at 1:42 PM bikegeek <notifications@github.com> wrote:

--
George McCabe - Software Engineer III
National Center for Atmospheric Research
Research Applications Laboratory
303-497-2768
---
My working day may not be your working day. Please do not feel obliged to

[2019-10-25 20:59] bikegeek commented on #234
I know that the tc_stat wrapper throws an error when there are some /tmp
files missing.  These contain a list of analysis and forecast files- I
don't remember why these are needed, but this is how things work.  When we
have more time and money, we can refactor the feature relative use cases to
fit in with the rest of the wrappers.

---------------
Minna Win
National Center for Atmospheric Research

[2019-10-25 21:35] bikegeek commented on #234
Update, John and I looked at the extract tiles wrapper and we do indeed need to keep the code as it is, where the temporary file has the current process ID appended to it.  This is done to prevent concurrent runs clobbering the output.  The information in the temporary file is used to create the final output names.  The logic employed in the wrapper is based on the original ksh script that perform

[2019-10-29 21:20] georgemccabe commented on #302
Changes made in branch feature_302_remove_future_imports. Still need to merge into develop and test.

[2019-10-29 21:24] georgemccabe commented on #305
This functionality has been added via branch feature_305_bucket_precip and has been merged into develop. Still need to update documentation to add FCST_PCP_COMBINE_BUCKET_INTERVAL and update FCST_PCP_COMBINE_INPUT_ACCUMS to mention that {lead} can be used as an item in this list and _BUCKET_INTERVAL will reset the value.

[2019-10-29 21:31] georgemccabe commented on #304
This has been implemented, but we need to write a test for met_util's get_process_list function to make sure different combinations of inputs to PROCESS_LIST are handled correctly.

[2019-10-29 21:49] georgemccabe commented on #298
This has been implemented and merged into the develop branch. Still need to update documentation with new config names for input/output accumulation information for PCPCombine.

[2019-10-31 20:10] bikegeek commented on #235
added entry to run_pytests.sh script, using staged data on 'eyewall', under the /d1/METplus_test_input/extract_tiles directory as input.

[2019-11-04 21:42] bikegeek commented on #294
This was an exercise required by METplotpy when INI config files were still under consideration.  The METplotpy development has adopted YAML config files, as this works seamlessly with Plotly.

[2019-11-04 21:42] #294 closed, assigned to jimfrimel

[2019-11-04 22:13] georgemccabe commented on #76
Add/set methods are not the Pythonic way to set class variables, so we do not need to use these functions. We should set the variables we need to set directly.

Other things that need to be updated in wrappers to be consistent with other wrappers:

- Config variable naming - variables should include the tool name the variable name if they are specific to that wrapper, i.e. GRID_STAT_INPUT_DIR or F

[2019-11-04 22:16] georgemccabe commented on #76
I assigned this issue to all METplus developers that may have code in the ush directory. Please review the code you have written to make sure it is consistent with the other wrappers.

[2019-11-04 23:08] georgemccabe commented on #76
Related to #205

[2019-11-04 23:09] georgemccabe commented on #219
@malloryprow  any update on the status of this work? Do you need help getting it done before the 3.0 release?

[2019-11-04 23:26] georgemccabe opened #306 "Rename config variables so that they contain the wrapper name"
We need to rename config variables so that it is clear where they are used if they are used exclusively in a given wrapper. For example, GENERATE_TRACK_ASCII is used only in CyclonePlotter. It should be named something like CYCLONE_PLOTTER_GENERATE_TRACK_ASCII.

Files that need review/updates:

cyclone_plotter_wrapper.py
extract_tiles_wrapper.py
make_plots_wrapper.py
series_by_init_wrapper.py
seri

[2019-11-04 23:30] georgemccabe commented on #152
The branch was merged into develop and is now available.

[2019-11-04 23:30] #152 closed

[2019-11-04 23:41] georgemccabe commented on #298
Documentation has been updated in the branch feature_297_sphinx_transition. These changes will be merged into develop by Dan.

[2019-11-04 23:41] #298 closed, assigned to georgemccabe

[2019-11-04 23:42] georgemccabe commented on #305
Documentation has been updated in the branch feature_297_sphinx_transition. These changes will be merged into develop by Dan.

[2019-11-04 23:42] #305 closed, assigned to georgemccabe

[2019-11-04 23:43] georgemccabe commented on #292
This work has been completed.

[2019-11-04 23:43] #292 closed, assigned to georgemccabe

[2019-11-04 23:45] georgemccabe commented on #177
This wrapper has been greatly improved to help implement sub-hourly input support and bucket interval resets, but it could always be improved more.  The get_accumulation function could still be refactored more to contain many small components so it can be tested.

[2019-11-04 23:46] georgemccabe commented on #207
This is low priority involving code cleanup for efficiency, so moving this to future versions.

[2019-11-04 23:48] georgemccabe commented on #227
As discussed today, we decided that this issue is no longer relevant. The developers are responsible for documenting any new configuration variables that they add or change.

[2019-11-04 23:48] #227 closed, assigned to georgemccabe

[2019-11-04 23:50] georgemccabe commented on #231
Here is a list of wrappers that I don't think have a use case that runs only that wrapper:
CyclonePlotter (Minna)
EnsembleStat (Jim)
ExtractTiles (We do not need this)
MakePlots (We do not need this)
MODE (George)
MTD (George)
PB2NC (George)
PointStat (George)
RegridDataPlane (George)
SeriesByInit (Jim)
SeriesByLead (Jim)
StatAnalysis (Mallory)
TcPairs (Jim)
TcStat (Hank)
TCMPRPlotter (Minna)

[2019-11-05 19:58] #217 closed

[2019-11-05 20:13] georgemccabe commented on #231
I can create use cases that only run the following wrappers. If you are familiar with any others, please volunteer to create a use case that only runs and uses configuration variables needed for that use case.

MODE
MTD
RegridDataPlane
PB2NC
PointStat

[2019-11-05 20:14] georgemccabe commented on #143
@bikegeek , are you able to get this done for the 3.0 release? It would be great to deprecate VAR_LIST before then.

[2019-11-06 12:48] malloryprow commented on #306
stat_analysis_wrapper.py and make_plots_wrapper.py will be renamed config variables and cleaned up when feature_226_stat_analysis_cleanup gets into develop.

[2019-11-06 12:49] malloryprow commented on #219
stat_analysis_wrapper.py and make_plots_wrapper.py will be renamed config variables and cleaned up when feature_226_stat_analysis_cleanup gets into develop.

[2019-11-06 12:50] malloryprow commented on #93
Added this for stat_analysis_wrapper.py and make_plots_wrapper.py in feature_226_stat_analysis_cleanup.

[2019-11-06 16:00] georgemccabe commented on #306
Great! It looks like tc_stat_wrapper.py already conforms to the naming convention.

I will take a look at:

series_by_init_wrapper.py
series_by_lead_wrapper.py

The following are still unclaimed:

cyclone_plotter_wrapper.py (Minna)
extract_tiles_wrapper.py
tcmpr_plotter_wrapper.py (Minna)

[2019-11-06 16:18] georgemccabe opened #307 "Implement [INIT/VALID]_EXCLUDE for time looping"
When looping over all run times, we should check if the current run time is in the exclude list. If it is, we should log a debug message and skip that time.

[2019-11-07 17:13] JohnHalleyGotway commented on #281
Tina will test this and coordinate with George.

[2019-11-07 17:31] georgemccabe commented on #231
Mallory has StatAnalysis - save GridStat use case output to use as input for StatAnalysis
Jim will do EnsembleStat and TcPairs - if time create SeriesAnalysis use case based on MET unit tests
Minna will do CyclonePlotter and TCMPRPlotter
Hank will do TcStats
Don't need ExtractTiles or MakePlots

[2019-11-07 18:17] bikegeek opened #308 "Pre-pend cyclone plotter config variables with CYCLONE_PLOTTER"
This is a sub-issue, related to GitHub issue #306 to pre-pend the cyclone plotter related variable names with CYCLONE_PLOTTER

Components:
-changes to config file
-associated changes to the wrapper
-update user documentation (Sphinx)

[2019-11-07 18:18] bikegeek opened #309 "Pre-pend config variables with TCMPR_PLOTTER for TCMPRPlotter wrapper"
Refer to GitHub Issue #306

Three components:
-modify TCMPR_Plotter config file
-make associated changes to the wrapper
-update user documentation (Sphinx)

[2019-11-07 18:35] #226 closed, assigned to malloryprow

[2019-11-07 19:00] bikegeek commented on #219
DUPLICATE.
Closing, this is the predecessor to GitHub Issue #306 but #306 specifically identifies which changes need to be made

[2019-11-07 19:00] #219 closed

[2019-11-08 00:05] georgemccabe commented on #304
Also need to update documentation to use the correct names.

[2019-11-08 18:19] malloryprow commented on #270
This can be closed correct? We are no longer going this route with parm/use_cases, i.e. we are doing parm/use_cases/met_tool_wrapper and parm/use_cases/model_applications.

[2019-11-08 18:24] #270 closed, assigned to malloryprow

[2019-11-08 18:38] DanielAdriaansen commented on #297
This is mostly complete, as there now exists Sphinx documentation for developers to edit in the develop branch. Remaining items:

1. Decide upon string formatting for keywords used for searching
2. Decide where to host quick reference page using keywords
3. Remove RST files that were created from Lyx in docs/Users_Guide
4. Remove doc/METplus_Users_Guide directory containing Lyx and PDF files
5. Me

[2019-11-08 19:46] georgemccabe commented on #306
I have made the config changes for SeriesByLead, SeriesByInit, and ExtractTiles. I still need to run the rest of the tests and update documentation.

[2019-11-08 20:40] georgemccabe opened #310 "Refactor SeriesBy and ExtractTiles wrappers"
1) SeriesByLead and SeriesByInit do mostly the same thing, but code is duplicated in each. We can reconcile them into a SeriesAnalysis wrapper and add a configuration variable to determine whether to sort by lead or init.

2) It looks like there may be some redudant processing going on in these wrappers. ExtractTiles calls TCStat and then RegridDataPlane, while SeriesBy* also run TCStat and Regrid

[2019-11-08 20:44] georgemccabe commented on #310
I also discussed with John about creating a use case that only run TcPairs, TcStat, and ExtractTiles, then have another couple use cases that just run SeriesAnalysis (and optionally another TcStat) on the output from ExtractTiles. This would demonstrate a useful way that uses would likely run these tools (run the first case frequently, then run the analysis as needed). It is still useful to have u

[2019-11-08 23:35] georgemccabe opened #311 "Rearrange ush with subdirs"
Rearranging the ush directory would make it more clear which script to run (master_metplus.py) and the organization would be moving in the directory of eventually components of the METplus wrappers into a package that could be installed by a user.

-\ ush
    - master_metplus.py (only script in top level so it is easy to tell what to run)
    -\ metplus (or should this be outside of ush so it can

[2019-11-08 23:38] georgemccabe commented on #311
In Python3 you can create namespace packages that can contain files in various different places. This could be useful for making METplus into a package since the files will be under ush and not under the top level directory. More info here:
https://www.python.org/dev/peps/pep-0420/

[2019-11-11 20:34] georgemccabe opened #312 "Rename configs in SeriesBy[Lead/Init] and ExtractTiles to conform to naming conventions"
Component of GitHub issue #306

Add EXTRACT_TILES and SERIES_ANALYSIS_ to config variables.
Change ANLY to OBS wherever used.
Change SERIES_BY_X to SERIES_ANALYSIS because we will eventually merge the two wrappers into SeriesAnalysis wrapper.

[2019-11-11 20:45] georgemccabe commented on #296
Here are the depracted warnings from produtil:

=
/d3/personal/mccabe/METplus/ush/produtil/config.py:677
  /d3/personal/mccabe/METplus/ush/produtil/config.py:677: DeprecationWarning: invalid escape sequence \.
    =(?P<value>.*)$''',arg)

/d3/personal/mccabe/METplus/ush/produtil/config.py:1337
  /d3/personal/mccabe/METplus/ush/produtil/config.py:1337: DeprecationWarning: invalid escape sequence \A

[2019-11-11 20:57] georgemccabe commented on #244
This involves finding a use case that uses probabilistic forecast data (FCST_IS_PROB = TRUE) and run the input data through a tool like RegridDataPlane (could use the same file as the verification grid) to generate a NetCDF file, then see if that file can be used as input to GridStat.

There is a chance that it will not work and the command will have to be called using prob= { name=... instead of

[2019-11-12 16:54] malloryprow opened #313 "Fix stat_analysis and plotting pytests"
Currently these call the fixtures directly, which is no longer supported in pytest>=4.0, so tests need to be updated.

"Fixture "stat_analysis_wrapper" called directly. Fixtures are not meant to be called directly,
but are created automatically when test functions request them as parameters.
See https://docs.pytest.org/en/latest/fixture.html for more information about fixtures, and
https://docs.py

[2019-11-12 17:35] CPKalb commented on #244
I should have probabilistic netCDF data that we can test this on, but I need to find it.  Is there a specific place I should put this netCDF data once I find it, or should I test it wherever it's located?

[2019-11-13 18:10] georgemccabe commented on #312
The variables have been changed to include the wrapper names. The documentation has been updated. All changed merged into develop.

[2019-11-13 18:10] #312 closed, assigned to georgemccabe

[2019-11-13 19:45] georgemccabe commented on #302
Any 'from future imports' call has been removed from the METplus wrappers. This has been tested and merged into develop.

[2019-11-13 19:45] #302 closed, assigned to georgemccabe

[2019-11-13 22:01] georgemccabe commented on #142
Improved the regex string for thresholds to support complex thresholds (#230) which will fail if a character that is not expected is found. Wrote new pytests for met_util to test that out of place characters will cause the threshold string to be considered invalid.

[2019-11-13 22:01] #142 closed

[2019-11-13 22:11] bikegeek commented on #224
affected files for cyclone plotter wrapper:

1)  master_metplus.py (uncomment import statement for cyclone plotter now that we have access to the necessary plotting libraries)

2) cyclone_plotter.conf (replaced MET_BASE with MET_INSTALL_DIR/share/met)
3) Added README.rst

[2019-11-13 22:39] georgemccabe commented on #224
I'm confused, I still see the METplus config variable MET_BASE used in multiple wrappers and test cases besides the files listed above. I also see the environment variable being set in multiple wrappers.

(metplus_env) mccabe@eyewall:/d1/mccabe/METplus.new$ search . MET_BASE | grep get
././internal_tests/test_extract_tiles_unittest.py:            os.environ['MET_BASE'] = CONFIG_INST.getdir('MET_BA

[2019-11-13 22:42] georgemccabe commented on #224
It is also set in parm/metplus_config/metplus_system.conf

MET_BASE = {MET_INSTALL_DIR}/share/met

[2019-11-13 23:17] bikegeek commented on #224
Sorry, I thought this issue was directed just at the cyclone plotter wrapper.   I will create new issues that correspond to the code that you found.

[2019-11-13 23:21] bikegeek commented on #224
Now I'm confused, on the comment above from October 7 there is a comment:

_MET_BASE is now only found in the CyclonePlotter and TCMPRPlotter. @bikegeek , could you take these references out and ensure that it doesn't break anything?_

So I take it the above comment is incorrect?

[2019-11-13 23:22] georgemccabe commented on #230
These changes are made, tested, and merged into develop. The regex for reading thresholds was improved to allow complex thresholds and make sure no unexpected characters are found. I replaced the utilities to pull out the comparison operator and number from a threshold with a function that parses a threshold and creates a list of tuples that contain the comparison operator and number. Updated test

[2019-11-13 23:22] #230 closed, assigned to georgemccabe

[2019-11-13 23:29] bikegeek commented on #224
deleting test_extract_tiles_unittest.py . This test was written with the unittest framework on the first version of extract_tiles_wrapper, which has undergone numerous, major refactorings due to change in configuration file parser, wrapper base class, etc.

[2019-11-13 23:31] georgemccabe commented on #224
MET_BASE is still found in cyclone_plotter_wrapper.py and tcmpr_plotter_wrapper.py. Both wrappers read the METplus config variable and sets MET_BASE via os.environ. It is also in make_plots_wrapper.py but it is not used for anything. It is still in parm/metplus_config/metplus_system.conf because the wrappers that use it would break if it was removed.

I didn't realize that it was also used in the

[2019-11-13 23:34] bikegeek commented on #224
@malloryprow, can you make the updates to the test_make_plot when you get around to updating your tests?  I know you needed to modify the syntax to support the changes to how fixtures are used.

[2019-11-14 00:15] georgemccabe commented on #284
A list verification mask files is now supported in GridStat, PointStat, and Mode wrappers.

[2019-11-14 00:15] #284 closed, assigned to georgemccabe

[2019-11-14 00:40] georgemccabe commented on #281
Upon review it appears that Python version conflicts cause python embedding scripts to fail, even if they only import numpy and set variables met_data and attrs. Testing this issue has to wait until MET is updated to handle python embedding with user defined python.

[2019-11-14 00:48] georgemccabe opened #314 "Single wrapper use cases for MODE, MTD, RDP, PB2NC, PointStat, and others"
Subtask of issue #231.

Current status:
MODE - this already exists in parm/use_cases/hmt/examples/href-vs-href.conf, a more useful use case could be added to the repo

MTD - this already exists in parm/use_cases/hmt/examples/href-mtd.conf

RegridDataPlane - this already exists in parm/use_cases/wrappers/examples/regrid_data_plane.conf. Config could be cleaned up to show use of new config variables

[2019-11-14 00:56] georgemccabe commented on #231
These use cases should be put under parm/use_cases/met_tool_wrapper inside a subdirectory named after the tool. The need appropriate rst and py files for documentation. They also need a sym link for README.txt. See grid_stat directory for an example. These directories should likely be named with the wrapper notation GridStat instead of grid_stat.

[2019-11-14 14:22] malloryprow commented on #224
Sure! It isn't used in the wrapper. After the rework, I think it is just a "leftover" that got left behind.

[2019-11-14 16:15] bikegeek commented on #224
Correct!  In the wrappers I touched, I replaced MET_BASE with
MET_INSTALL_DIR or MET_INSTALL_DIR/share/met, whenever appropriate.

Thanks,
Minna
---------------
Minna Win
National Center for Atmospheric Research
Developmental Testbed Center
Phone: 303-497-8423
Fax:   303-497-8401

On Thu, Nov 14, 2019 at 7:22 AM malloryprow <notifications@github.com>
wrote:

[2019-11-14 16:22] georgemccabe commented on #224
To clarify
- remove any use of the MET_BASE config variable in METplus configs/wrappers.
- remove any setting of MET_BASE environment variable (os.environ) in wrappers
- Use of MET_BASE/... in a MET config file is OK, because the MET tools figure out the location of MET automatically. We don't want to reference ${MET_BASE} though.

[2019-11-14 19:13] jimfrimel opened #315 "Single wrapper use cases for EnsembleStat, TCPairs, SeriesByInit, SeriesByLead"
Subtask of issue #231

Single wrapper use cases for EnsembleStat, TCPairs, SeriesByInit, SeriesByLead

[2019-11-14 19:18] jimfrimel commented on #231
See subtask #315 Single wrapper use cases for:
EnsembleStat,
TCPairs,
SeriesByInit,
SeriesByLead

[2019-11-14 19:32] georgemccabe opened #316 "Revamp tests so that they cover all run configurations"

[2019-11-14 21:07] bikegeek opened #317 "Replace MET_BASE with MET_INSTALL_DIR in tcmpr_plotter_wrapper.py"
MET_BASE is a MET environment variable, and shouldn't be set or expected to be set for anything else.

Sub issue of GitHub issue #224

[2019-11-14 22:10] georgemccabe commented on #231
In the meeting today we discussed trying to set up use cases that run one wrapper using data in met_test if possible. If there is insufficient data in there to run a case (for example the TC apps), then we should add new data to met_test so we can move towards making the MET tests more complete in regards to coverage.

[2019-11-15 16:40] malloryprow commented on #231
Is this data in met_test included in the MET source code? I'm looking at the 8.1 install on Hera. There are various datasets in /contrib/met/8.1/met-8.1/data. There is also tutorial data on Hera in /contrib/met/tutorial_data, but there is no data for 8.1. Anyone know if either of these is the equivalent to met_test? Or if met_test exists on Hera? Maybe @JohnHalleyGotway @jprestop ?

[2019-11-15 17:22] jprestop commented on #231
I'm not sure if I fully understand what is meant by "met_test", but I think I do. The data used when running "make_test" for met is on hera at /contrib/met/8.1/met-8.1/data and /contrib/met/8.1/met-8.1/out.  You can see the tools that were tested in running "make_test" and the commands that were run for those tools in /contrib/met/8.1/met-8.1/make_test.log.  If that does not answer your question,

[2019-11-15 17:32] malloryprow commented on #231
@jprestop I think the data in this "met_test" directory is the data used in the nightly build and testing of MET?

[2019-11-15 17:32] #313 closed, assigned to malloryprow

[2019-11-15 17:40] jprestop commented on #231
I thought that at first too, but then I remembered the data that we discussed at the meeting was a small amount of data.

The data used in make_test is small:
[Julie.Prestopnik@hfe10 met-8.1]$ du -sh data
181M	data
[Julie.Prestopnik@hfe10 met-8.1]$ du -sh out
82M	out

But, the data used in the nightly build and testing of MET is large and is not on hera:
dakota:jpresto:~% du -sh /d3/projects/MET/M

[2019-11-15 17:43] georgemccabe commented on #231
met_test is on eyewall under /d1/METplus_Data and in one of the sample data
tarballs attached to the METplus releases. It was taken from the data
directory in the MET build area that are used to run the
unit_met_test_scripts.xml unit tests. It may be a subset of the data in the
met-8.1/data directory. Here is what the directory listing looks like:

*ls /d1/METplus_Data/met_test/**
/d1/METplus_Data

[2019-11-15 17:54] jprestop commented on #231
Thank you, George.  In that case, no, the met_test data is not on hera because the METplus-2.2 sample data is not yet present on hera.  Only the sample data for 2.0, 2.0.4, and 2.1 is on hera.  I will put the met_test data on hera.  It will be located at /scratch1/BMC/dtc/Julie.Prestopnik/METplus.  I will update the webpage as well: https://dtcenter.org/community-code/model-evaluation-tools-met/me

[2019-11-15 18:14] georgemccabe commented on #231
What is in /contrib/met/8.1/met-8.1/data? This likely contains the same
data.

On Fri, Nov 15, 2019 at 10:54 AM jprestop <notifications@github.com> wrote:

--
George McCabe - Software Engineer III
National Center for Atmospheric Research
Research Applications Laboratory
303-497-2768
---
My working day may not be your working day. Please do not feel obliged to
reply to this email outside of your no

[2019-11-15 18:56] jprestop commented on #231
Yes, the data is /contrib/met/8.1/met-8.1/data appears to be the same data as what is in met_test/data.  However, there is also atcf_data in the met_test directory at the same level as "data", which I do not believe is anywhere in the MET area on hera.

I needed to put the METplus-2.2 data on hera anyway, and I did go ahead and grab the met_test data anyway.   So, all of the METplus-2.2 sample dat

[2019-11-15 18:59] malloryprow commented on #231
Thank you!!

[2019-11-15 20:17] bikegeek commented on #317
Replaced checking for MET_BASE, RSCRIPTS_BASE, and MET_BUILD_BASE environment variables with checking for the MET_INSTALL_DIR variable in the METplus configuration.  Updated comments to reflect these changes and updated log messages.  Now that we are well beyond met-6.1, we no longer need to check for the above MET environment variables.

[2019-11-15 20:17] #317 closed, assigned to nobody

[2019-11-15 20:31] bikegeek opened #318 "replace MET_BASE with MET_INSTALL_DIR in test_series_by_init.py"
MET_BASE is an environment variable set for the MET tool.  As such, we should not be setting it in METplus wrapper code.  This is a sub-issue of GitHub Issue #224

[2019-11-15 20:52] bikegeek commented on #318
The test_series_by_init.py that is referenced in GitHub issue #224 is to a unit test file that was written with the unittest framework and tests the original version of series_by_init_wrapper.py.  As such, this test can simply be deleted from the repository.

[2019-11-15 21:26] bikegeek commented on #318
Removed the test_series_by_init.py file, which was written in unittest and is no longer relevant.

[2019-11-15 21:26] #318 closed, assigned to bikegeek

[2019-11-15 21:29] bikegeek opened #319 "Replace MET_BASE with MET_INSTALL_DIR in cyclone_plotter_wrapper"
Sub issue of GitHub Issue #224
MET_BASE is an environment variable used by MET and should not be set by METplus wrappers.
Instead, use the MET_INSTALL_DIR variable, that is set in the METplus config file(s).

[2019-11-15 21:30] bikegeek commented on #319
Fixes made, affected files for cyclone plotter wrapper:

master_metplus.py (uncomment import statement for cyclone plotter now that we have access to the necessary plotting libraries)

cyclone_plotter.conf (replaced MET_BASE with MET_INSTALL_DIR/share/met)

cylone_plotter_wrapper.py

Added README.rst

[2019-11-15 21:30] #319 closed, assigned to bikegeek

[2019-11-15 21:35] bikegeek commented on #224
sub issues closed:
Github Issue #317 (tcmpr_plotter and test_extract_tiles_unittest.py)
Github Issue #318 (test_series_by_init unittest)
Github Issue #319 (cyclone plotter wrapper)

[2019-11-15 21:39] bikegeek opened #320 "Prepend variable names with CyclonePlotter in METplus config file"
To alleviate any confusion, prepend any variables that are specific to the CyclonePlotter with 'CyclonePlotter'.  For example, INPUT_DIR would become CYLONE_PLOTTER_INPUT_DIR

[2019-11-15 21:41] bikegeek commented on #306
Subissue created:
Github Issue #320 (cyclone plotter wrapper)

[2019-11-15 22:17] bikegeek commented on #320
This is a duplicate of Github Issue #308, closing.

[2019-11-15 22:17] #320 closed, assigned to bikegeek

[2019-11-18 17:46] bikegeek opened #321 "Update Sphinx documentation for cyclone plotter"
This is a sub issue of Github Issue #308 (which is a sub-issue of Github Issue #306).  Renaming the variable names in the METplus config file for the cyclone plotter now require that the affected variable names be updated in the Sphinx METplus Users Guide.

[2019-11-18 18:29] bikegeek commented on #308
affected files:
parm/use_cases/cyclone_plotter/cyclone_plotter.conf
ush/cyclone_plotter_wrapper.py

Created a sub issue: GitHub issue #321 to address the updates to the METplus User's Documentation (Sphinx version)

[2019-11-18 18:29] #308 closed, assigned to nobody

[2019-11-18 18:34] bikegeek commented on #266
This use case is currently configured to use tropical cyclone data from 20150301 to 20150331.  This track (adeck and bdeck) data is now part of the data tarball that is included in each METplus release and on the host 'eyewall' under the /d1/METplus_Data/cyclone_track_feature/track_data directory.  This use case can be run by invoking both the TcPairs and CyclonePlotter wrappers.

[2019-11-18 18:34] #266 closed, assigned to bikegeek

[2019-11-18 18:37] bikegeek opened #322 "Prepend TCMPR plotter specific variables with TCMPR_PLOTTER"
This is a sub-issue of GitHub Issue #306.  Rename any TCMPR plotter-specific variables so they begin with 'TCMPR_PLOTTER' to clearly indicate that these variables are specific to this wrapper.

[2019-11-18 18:39] bikegeek opened #323 "Update TCMPR_Plotter documentation"
This is a sub-issue of Github Issue #322 (which is a sub-issue of Github Issue #306).  Now that the TCMPR plotter-specific variables have been renamed to begin with 'TCMPR_PLOTTER', make these updates to the METplus User's Guide (in Sphinx)

[2019-11-18 20:25] bikegeek opened #324 "Update tcmpr_plotter documentation"
Update the variable names for the tcmpr_plotter section of the METplus User's Guide (in Sphinx).  This is a sub issue of Github Issue #322 (which is itself a sub issue of GitHub Issue #306)

[2019-11-18 20:26] bikegeek commented on #322
affected files:
ush/tcmpr_plotter_wrapper.py
parm/use_cases/track_and_intensity/track_and_intensity.conf
parm/use_cases/track_and_intensity/examples/tcmpr_mean_median.conf

Also renamed README to README.rst and change formatting to Restructured Text (RST)

Github issue #324 is a sub-issue of this issue and addresses the need to update the user documentation)

[2019-11-18 20:26] #322 closed, assigned to bikegeek

[2019-11-18 20:28] bikegeek commented on #324
Closing this as this is a duplicate of Github Issue #323

[2019-11-18 20:28] #324 closed, assigned to bikegeek

[2019-11-18 22:48] bikegeek opened #325 "Set up CyclonePlotter single use case"
Sub issue of Github Issue #231.

Currently, the cyclone plotter use case is set up to run the tc-pairs wrapper first, and the output from that wrapper is used as input to the cyclone plotter wrapper.  Instead, store tc-pairs output data in an approved area and use that as input to the cyclone plotter wrapper.

This will require new user documentation for the METplus Users Guide and Sphinx gallery.

[2019-11-18 22:52] bikegeek opened #326 "TCMPR plotter as single use case"
This is a sub-issue to Github Issue #231
Currently, the TCMPR plotter has a use case which runs the TcPairs wrapper and uses that output as input.  Instead, create a use case that calls only the TCMPR plotter wrapper by using pre-existing tc-pairs output data.

NOTE:  This issue entails creating new METplus user documentation (METplus User's Guide) and the Sphinx gallery.  Follow the template and

[2019-11-18 23:40] bikegeek commented on #277
The extract tiles wrapper invokes the **tc-stat tool via the TcStat wrapper** but first checks that the tc-pairs output left behind by invoking the MET tc-pairs tool (via METplus TcPairs wrapper) has created any output.  There are some instances where there are dated subdirectories created by the TcPairs wrapper with no .tcst files as output.  Currently, there is only a check for the empty tc-pair

[2019-11-19 17:48] georgemccabe commented on #299
This exists starting in METplus 3.0 beta1

[2019-11-19 17:48] #299 closed, assigned to nobody

[2019-11-20 16:57] bikegeek commented on #277
Now we get a list of all files in all dirs and if empty, log an error message indicating that no .tcst files exist, then exit.  If .tcst files exist, proceed as usual using these files as arguments to the -lookin flag and  invoke tc_stat.

[2019-11-20 16:57] #277 closed, assigned to bikegeek

[2019-11-20 17:44] georgemccabe commented on #244
You can test it where it is located, but we may want to include it in the met_test sample data so we have an example of this new input being used.

Any update on this work? If it does not work we will need to make code changes, so we need to get that in before the code freeze.

[2019-11-20 20:29] georgemccabe commented on #289
This has been implemented for METplus 3.0. However, errors are only reported when the return code of the MET tool is non-zero. We should keep track of the number of times an ERROR is encountered in the wrappers. To do this, we could create a function for CommandBuilder called log_error that takes an error string. The function will simply log that error string as an error and then increment the Com

[2019-11-21 16:33] CPKalb commented on #244
It doesn't work yet.  The error I'm getting in my log file is this:

ERROR  :
ERROR  : GridStatConfInfo::process_config() -> The number of verification tasks in "obs.field" (1) must be non-zero and match the number in "fcst.field" (9).
ERROR  :

Any idea what this means?

[2019-11-21 16:53] CPKalb commented on #244
I see another issue in the log file.  When using probabilities with netcdf files, the variable name should not be "PROB"

[2019-11-21 16:53] JohnHalleyGotway opened #327 "Delete this issue."
The UKMO reported via met-help that MTD is reporting centroid longitude values in degrees west, when it should be reporting them in degrees east:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=93155

[2019-11-21 16:55] JohnHalleyGotway commented on #327
This is the same issue as NCAR/MET#1214 whose fix was committed to the develop and master_v8.1 branches.  Use this issue to track the fact that it was fixed in master_v8.1.

[2019-11-21 19:25] georgemccabe commented on #295
Closing this issue since it has been in develop for a long time and has been tested.

[2019-11-21 19:25] #295 closed, assigned to georgemccabe

[2019-11-21 21:10] CPKalb commented on #244
I had to remove the quotes around the ${CLIMO_FILE} in the met GridStat configuration file to get this to run.  But once I did that, it ran.  However, I get 36 output lines instead of the 4 that I get when running this directly in MET, so something is still not working as it should be.

[2019-11-21 23:10] bikegeek commented on #325
Single wrapper conf file CyclonePlotter.conf created and in the parm/met_tool_wrapper. No MET config file needed for this single-wrapper use case.  Input data available in the /d1/METplus_Data/met_test/tc_pairs directory.

[2019-11-21 23:21] bikegeek commented on #325
Initial commit of CyclonePlotter.py, but incomplete and will need to be filled in properly following code-freeze.

[2019-11-22 03:20] georgemccabe commented on #244
Added config variables [FCST/OBS]_PROB_IN_GRIB_PDS that need to be set to determine how to format probabilistic field info if INPUT_DATATYPE is not set to NETCDF. The new variables can either be set to FALSE or INPUT_DATATYPE to NETCDF to handle NetCDF probabilistic input correctly.

[2019-11-23 00:58] georgemccabe commented on #314
Also eed to create tests for the following using met_test data:

PcpCombine (all modes - add, sum, subtract, derive, custom)
ASCII2NC
GridStat - DONE

MODE, MTD, PB2NC, and PointStat examples using met_test have been added, just need to update documentation.

[2019-11-25 16:45] georgemccabe commented on #289
log_error is now available and any call to self.logger.error in a wrapper has been replaced with self.log_error. Note that error logs in files outside of a wrapper, like config and utils, report logging.error and exit. If we change these to not exit the script but rather return a boolean to designate a failure, we should increment the error count in the case.

[2019-11-25 16:46] #289 closed, assigned to georgemccabe

[2019-11-25 16:49] georgemccabe commented on #262
We are moving to a new organization of the use case directory, so a README file for the HWT top directory will no longer be necessary. A README RST file will be needed for any use case from this area that will be moved into the model_applications directory, which should be covered in another GitHub issue. Closing this ticket unless someone things it should stay open to remember to move HWT use cas

[2019-11-25 16:49] #262 closed, assigned to bikegeek, jimfrimel, CPKalb, georgemccabe, malloryprow

[2019-11-25 20:26] bikegeek commented on #326
Committed TCMPRPlotter.conf and TCMPRPlotterCustomize.conf config files to the 'develop' branch.  Need to update user documentation.

[2019-11-26 05:59] #327 closed, assigned to JohnHalleyGotway

[2019-11-26 15:13] bikegeek opened #328 "Create documentation for TCMPR use case"
This is a sub-issue of Github Issue #326.  The TCMPR Plotter use case has been updated to rely on only one wrapper, the TCMPRPlotter.  As such, there is now a need for documentation for this simplified use case.  Affected documentation is the METplus User's Guide and the Sphinx Gallery.

[2019-11-26 15:16] bikegeek commented on #326
Created sub-issue #328 to address the documentation portion of this issue.  Closing this issue.

[2019-11-26 15:16] #326 closed, assigned to bikegeek

[2019-11-26 15:19] bikegeek opened #329 "Create documentation for CyclonePlotter use case"
The CyclonePlotter use case has a simplified version, which uses only the CyclonePlotter.  No documentation exists that detail this simplified use case.  Create documentation in the METplus User's Guide and for the Sphinx gallery.  This issue is a sub-issue of Github Issue #325

[2019-11-26 15:20] bikegeek commented on #325
Created sub-issue #329 to address the documentation portion of this issue.  Closing this issue.

[2019-11-26 15:20] #325 closed, assigned to bikegeek

[2019-11-26 15:39] bikegeek commented on #309
Closing, this is a duplicate of Github Issue #322, which is closed.  The documentation portion of this task has been assigned to Github Issue #324.

[2019-11-26 15:39] #309 closed, assigned to nobody

[2019-11-26 15:45] bikegeek opened #330 "Remove unused stand-alone tests for produtil"
There are stand-alone produtil tests that were created for a code sprint that transpired two years ago.  These tests are no longer needed.  Remove only those unused stand-alone tests that were created for this exercise.

[2019-11-26 16:29] bikegeek commented on #330
Removed the internal_tests/stand_alone directory (recursively).  All stand-alone (ie tests not written in pytest framework) for the produtil package have been removed.

[2019-11-26 16:29] #330 closed, assigned to bikegeek

[2019-12-02 18:57] bikegeek opened #331 "Refactor extract_tiles_wrapper"
The extract tiles wrapper needs to be refactored so that 1) there are more methods than the run_at_time() method and 2) to not rely on a process id to differentiate one extract tile wrapper run from another.  Issue #2 prevents the ability to use pre-existing data for unit testing.  Currently, the only testing that can be performed is system (end-to-end) testing where the extract tiles wrapper must

[2019-12-02 19:02] bikegeek opened #332 "Refactor series_by_lead wrapper"
Refactor the series by lead wrapper to stop depending on a process id to identify a particular series by lead run.  It was originally assumed that the tc-pairs wrapper, extract tiles wrapper and series by init wrappers would be run in succession to satisfy the origin use case/funding institution, as such, it was necessary to identify which groups of wrappers were associated.  This dependence on id

[2019-12-02 19:03] bikegeek commented on #235
Gihub Issue #331 and #332 need to be completed before addressing this issue

[2019-12-02 19:06] bikegeek opened #333 "Refactor Series by init wrapper"
This is similar to Github Issue #332, where the dependence on identifying a feature relative use case run is done via a process id and which is hampering the ability to run unit tests using pre-existing data.

[2019-12-02 19:06] bikegeek commented on #236
This is linked to Github Issue #331 and #333, which need to be complete before unit testing can be accomplished using pre-existing input data.

[2019-12-02 20:49] bikegeek commented on #323
Closing committed to 'develop' branch.  Note, this is a partial duplicate of Github Issue #328

[2019-12-02 20:49] #323 closed, assigned to bikegeek

[2019-12-02 20:51] bikegeek commented on #328
Only need to create the Sphinx gallery documentation for the single wrapper use case, as the User's Reference Manual was updated in Github Issue #323.

[2019-12-02 23:30] hankenstein2 commented on #231
TCStat has a single use case wrapper committed to develop

[2019-12-02 23:45] bikegeek commented on #329
Committed CyclonePlotter.conf and CyclonePlotter.py to the 'develop' branch.

[2019-12-02 23:45] #329 closed, assigned to bikegeek

[2019-12-03 16:02] georgemccabe commented on #231
Hey Hank, I tried to run this use case to test the bugfix that Mallory
pointed out and it failed. It looks like the input data is relative to
{OUTPUT_BASE}. It should be using data in the {INPUT_BASE} area (ideally
from met_test if possible). Could you add this input data to the met_test
area and update the config to use that path? The use case should run
successfully using an empty output directo

[2019-12-03 17:44] hankenstein2 commented on #231
I can give it a shot. I initially tried to do that but TCStat depends on
TCPairs and wanted the data in OUTPUT_BASE. I will override that.

I also only did a use case for one of the stats. Let me know if I should
add another. I don't have Mallory's bug in front of me but will look it up
shortly

Hank

On Tue, Dec 3, 2019, 9:02 AM George McCabe <notifications@github.com> wrote:

[2019-12-03 20:11] georgemccabe commented on #231
I fixed the bug Mallory mentioned in the develop branch. I think you will
need to take the output from TCPairs and put it in the met_test area so it
can be run without relying on TCPairs running first. It should probably go
in the met_test/out directory in a new tc_stat subdirectory.

On Tue, Dec 3, 2019 at 10:44 AM Hank Fisher <notifications@github.com>
wrote:

--
George McCabe - Software Enginee

[2019-12-03 20:19] hankenstein2 commented on #231
I am using some TCPairs data that is already there but I had to copy that
data to the output directory to have it found. Still working on pointing
TCStat to a different input location.

Hank

On Tue, Dec 3, 2019, 1:11 PM George McCabe <notifications@github.com> wrote:

[2019-12-04 15:56] jimfrimel commented on #153
Note: The original --version usage message referenced in the comment above  no-longer occurs since the METplus version of produtil is a subset of the full package:

https://github.com/NOAA-EMC/NCEPLIBS-pyprodutil/tree/metplus-python3

However, there are still a set of INFO log messages at startup.
These INFO log messages  are NOT a bug and has always been a part of the package,
my understanding is

[2019-12-04 15:56] #153 closed

[2019-12-04 16:28] jimfrimel commented on #296
This issue is being closed and resolved vi this commit 326a2803dbf786b286c

This commit now makes the METplus produtil package fully python 3 compliant.

This ticket not only addressees the Deprecation warning BUT ALSO includes bringing in remaining python 3 changes.

If you recall, the METplus produtil is a subset of the full produtil package, and even within
the modules in common, there was code

[2019-12-04 16:28] #296 closed, assigned to jimfrimel

[2019-12-04 22:36] bikegeek commented on #328
TCMPRPlotter.py, TCMPRPlotter.conf, and TCMPRPlotterCustomize.conf files committed to the 'develop' branch to provide a TCMPR plotter entry in the Sphinx gallery for METplus single wrapper use cases.

[2019-12-04 22:36] #328 closed, assigned to bikegeek

[2019-12-04 23:14] bikegeek commented on #321
CyclonePlotter section of the 'Python Wrappers' chapter has been updated.  Changes committed to the 'develop' branch.

[2019-12-04 23:14] #321 closed, assigned to bikegeek

[2019-12-05 21:31] georgemccabe commented on #314
All of the above mentioned single wrapper use cases have been implemented and tested. The following still need documentation:

ASCII2NC
Example
MODE (finish)
MTD
PB2NC
PCPCombine (A-E)
PointStat
RegridDataPlane

[2019-12-05 21:35] georgemccabe commented on #306
It looks like all of the sub-issues have been closed, so I am going to close this ticket. Please reopen if you have not yet completed any work that needs to be done for this issue.

[2019-12-05 21:35] #306 closed, assigned to bikegeek, jprestop, jimfrimel, georgemccabe, malloryprow

[2019-12-05 23:57] bikegeek commented on #331
removed the creation of the tmp/<PID> subdirectory in extract_tiles_wrapper.py. Also checking for pre-existing tmp file (before appending header and storm info) in feature_util.py (retrieve_and_regrid()).  This check is needed to support the re-running of extract tiles wrapper, or when running the extract tiles wrapper using pre-existing tc pairs output.

[2019-12-06 22:25] bikegeek opened #334 "refactor extract tiles wrapper tests to be unit tests"
Now that the extract tiles wrapper has been refactored so that it can be run using pre-existing/pre-run tc-pairs data, re-factor the unit tests to reflect this change.

[2019-12-06 22:29] bikegeek commented on #331
extract tiles wrapper is now refactored so that it is unit-testable by breaking up the run_at_time() method to invoke other methods:
   -tc_files_exist()
   -do_filtering(cur_init, filter_name)
   -create_results_files(sorted_storm_ids, cur_init, filter_name, tmp_dir)
   -cleanup(tmp_dir)

Now the wrapper is unit-testable (refer to Github Issue #334 refactor extract tiles wrapper tests) and can be

[2019-12-06 22:29] #331 closed, assigned to bikegeek

[2019-12-09 22:20] bikegeek opened #335 "Add support for isOK in all wrappers"
isOK has been implemented to "fail early" if a user has misconfigured their METplus config file.  Rather than waiting for a wrapper to run and fail due to misconfiguration, an earlier check for correct configuration should be performed and the isOK flag should be set appropriately.

Create sub-issues of this parent issue for each wrapper.

[2019-12-10 20:18] bikegeek commented on #333
Removed usage of the process id in the run_at_time() and apply_series_filter() methods.  Runs using pre-existing extract tiles output or as part of the originally planned end-to-end with TcPairs, ExtractTiles and SeriesByInit wrappers run in succession in one run.  Also clean up tmp dir by removing it when all work is done and re-create a new, empty tmp dir for any further runs.

Merged into the '

[2019-12-10 20:18] #333 closed, assigned to bikegeek

[2019-12-10 23:08] bikegeek opened #336 "Refactor series by lead animation logic"
Extracting the 'TODO' in the create_animated_gifs() method in series_by_lead_wrapper.py (as added by Jim Frimel):
                # TODO:
                    # Fix animate_cmd so it does not require run_inshell
                    #  to work.
                    # It is working as is, ideally we do not require
                    # run_inshell
                    # The issue has to do with multipl

[2019-12-11 20:12] bikegeek commented on #332
Merged updates to 'develop' branch.  No longer create a subdir in the tmp directory based on the process id and after removing tmp dir, create a new, empty tmp dir so it is available if series by lead wrapper or another wrapper is to be run again.

[2019-12-11 20:12] #332 closed, assigned to bikegeek

[2019-12-12 16:58] bikegeek commented on #143
George will work on the met_util.py parse_var_list() to support VARn_LEVEL, VARn_NAME and then I can incorporate any necessary changes to the feature_util.py:
1) modify retrieve_and_regrid() to invoke parse_var_list() instead of feature_util.py's retrieve_var_info
2) make necessary changes to the feature_relative use case conf files
3) make necessary changes to the initialization and other section

[2019-12-13 15:56] georgemccabe opened #337 "Modify FCST_/OBS_ behavior to include BOTH_ and require FCST and OBS be set if one is used"
Subtask of #143

Currently it is assumed that if you set FCST_VAR<n>_* and not OBS_VAR<n>_*, then the values used are the same. We should remove this assumption. If FCST or OBS is set but the other isn't, an error should be thrown. BOTH_* can be used to set both FCST and OBS to the same value. If BOTH and FCST and/or OBS are set, report an error.

[2019-12-13 21:51] bikegeek commented on #143
Modifications made to series_by_init_wrapper.py, series_by _lead_wrapper.py, feature_util.py, met_util.py (removal of unnecessary/no longer used function), feature_relative.conf, series_by_init_12-14_to_12-16.conf, series_by_lead_all_fhrs.conf, and series_by_lead_by_fhr_grouping.conf.

Changes committed to feature branch, then merged to the 'develop' branch.

[2019-12-16 18:37] georgemccabe opened #338 "Add options to set -valid_beg and -valid_end in PB2NC command line"
These should be able to handle filename template syntax i.e. {valid?fmt=%Y%m%d_%H}

[2019-12-16 23:10] georgemccabe commented on #143
Made changes to met_util.py parse_var_list to require FCST and OBS vars be set, or BOTH can be used instead. Merged into develop.

[2019-12-16 23:23] bikegeek commented on #143
ToDo:  In the series_by_init_wrapper.py and series_by_lead_wrapper.py, create another function that cleans out just the files in the users TMP directory, rather than deleting and re-creating a new TMP directory.

[2019-12-17 01:07] georgemccabe commented on #338
Changes have been made, documentation updated, merged into develop.

[2019-12-17 01:07] #338 closed, assigned to georgemccabe

[2019-12-17 16:14] georgemccabe opened #339 "Adding regrid to_grid configuration for all MET tools that have it"
Currently only PointStat has this config option. Other tools should have this support as well.

[2019-12-17 17:50] bikegeek opened #340 "Check if ncap.nc file exists before calling ncap2 in series_by_lead_wrapper.py"

[2019-12-17 17:54] bikegeek commented on #340
From Jim Frimel's earlier comments in the series_by_lead_wrapper.py and George's recent run-ins, when you re-run without cleaning up your workspace and NCO's ncap2 tool has been run then the feature relative use case is re-run (due to premature termination, user stops it prematurely, failure, etc), you will see the following error:

---------------------------snip----------------------------------

[2019-12-17 20:38] bikegeek opened #341 "Use STAGING_DIR rather than the TMP dir for series analysis wrappers"

[2019-12-17 20:47] bikegeek commented on #341
Instead of using the TMP dir for storing the filtered output for the series_by_init_wrapper.py and series_by_lead_wrapper.py wrappers, save these files to the  STAGING_DIR .  Remove only files that are owned by the user, just in case the user uses a STAGING_DIR that is a common/shared directory.

[2019-12-17 23:31] bikegeek commented on #341
Affected files:
-met_util.py (the addition of remove_staged_files(staged_dir, filename_regex, logger) to remove files based on filename pattern and only files that are owned by the current owner)
-README.rst (updated the description of what needs to be defined in the custom.conf file)
-To use the staging dir rather than the TMP dir and to use met_util.remove_staged_files() to remove files beginnin

[2019-12-17 23:31] #341 closed, assigned to bikegeek

[2019-12-17 23:37] bikegeek commented on #143
instead of doing the above, see GitHub Issue #341, which has been closed.

[2019-12-18 13:16] georgemccabe opened #342 "Refactor SeriesBy and ExtractTiles wrappers"
These wrappers should be cleaned up. Some tools are called multiple times with the exact same command in a use case. The SeriesBy[Lead/Init] wrappers can be combined into a single wrapper, as the logic in the two is nearly identical. The wrappers should conform to the format of the other wrappers. For example, os.environ should not be used to set environment variables, as it affects the environmen

[2019-12-18 13:17] georgemccabe commented on #340
This previously only happened when a run was restarted after failing in the middle and the files were already created. However, this now occurs on a fresh run. I modified the calls to ncap2 to overwrite the files if they already exist. This is a temporary solution to allow the use cases to run as expected in the upcoming release. These wrappers are due for a refactor to make them more efficient, c

[2019-12-18 13:17] #340 closed, assigned to bikegeek, jimfrimel, georgemccabe

[2019-12-18 13:36] georgemccabe commented on #337
This functionality has been merged into develop. I still need to update documentation to include BOTH_ variables and update descriptions for FCST_VAR<n> and OBS_VAR<n> variables to mention BOTH_

[2019-12-18 14:37] georgemccabe commented on #339
This has been implemented for all wrappers that have a regrid to_grid option (GridStat, MODE, MTD, EnsembleStat, SeriesBy*). I cleaned up the set_environment_variables function to make it easier to add new commonly used environment variables and print out list of environment variables that were set by the wrapper (no longer have to keep track of list of items, self.add_env_var adds to a list autom

[2019-12-18 14:37] #339 closed, assigned to georgemccabe

[2019-12-18 15:17] georgemccabe opened #343 "Clean up StringSub/StringExtract calls"
Currently we create an instance of these every time we want to do a substitution. We could create one (or per wrapper?) that can be called whenever we need to perform a string sub or extraction. Instead of creating an instance, call the existing object with all of the info needed. This will reduce the memory usage of METplus if processing many files in a run.

## Enhancement Checklist ##
See the [

[2019-12-18 15:19] georgemccabe opened #344 "Internal: Organize utility scripts used by multiple wrappers"
Sub-issues of #799
Currently met_util is huge with many different functions that only apply to a specific area of METplus, i.e. config, logging, timing/looping, etc. We should organize these into separate utilities. This will make it more manageable and scripts will not need to get many functions they don't need to perform a task.

[2019-12-18 19:31] bikegeek opened #345 "Consolidate MET config file used by series by lead and series by init wrappers"

[2019-12-18 19:44] bikegeek commented on #345
The feature relative use case for performing series analysis by lead time and by init time are both using the SeriesAnalysisConfig_by_init MET config file.  The SeriesAnalysisConfig_by_init and SeriesAnalysisConfig_by_lead config files differ by only a whitespace.

[2019-12-19 20:44] bikegeek commented on #143
updated met_util.py check_for_deprecated_config() to check for VAR_LIST, EXTRACT_VAR_LIST, and SERIES_ANALYSIS_VAR_LIST

[2019-12-19 22:31] georgemccabe commented on #143
@bikegeek 's comment reminded me that we should test the validate_config.py script to make sure it handles VAR_LIST correctly. Other config variables that include VAR_LIST in the name still exist, like PB2NC_OBS_BUFR_VAR_LIST. The script should only try to replace VAR_LIST if it is found at the beginning of a line or if it is surrounded by {}s meaning it is referenced in another config variable.

[2019-12-19 22:37] georgemccabe commented on #143
I just looked at the deprecated variable list. If the variable cannot be simply renamed, you have to add 'copy': False to the dictionary for that item. Otherwise METplus will try to replace the value. I made the changes to fix this.

[2019-12-19 23:51] jimfrimel commented on #315
**The Use Cases have been completed and tested.**

THE ONLY REMAINING Task is to update the RST documentation for these
single wrapper use case files:
TCPairs.py EnsembleStat.py, SeriesByInit.py and SeriesByLead.py

[2019-12-23 21:08] bikegeek commented on #2
John, is this still relevant????

[2019-12-23 21:12] bikegeek commented on #17
John & Tara:  does this really need to go into the METplus-3.0 Release?  If so, what's involved in completing this task?

[2019-12-23 21:27] bikegeek opened #346 "Migrate multiple use case wrappers to the new directory structure"
Restructure the METplus/parm/use_cases directory to include the following sub-directory structure:

METplus/parm/use_cases/model_applications/medium_range
METplus/parm/use_cases/model_applications/tc_and_extra_tc
... etc.  (see below for the subdirectories)

(see METplus wrapper and repo notes for December 19, 2019
-------------snip------------
Medium_range
feature_relative/feature_relative.conf
f

[2019-12-23 21:44] bikegeek commented on #346
George is going to experiment with one of the use cases in the 'develop' branch of the repository, and then let Tara take a look and verify if this is the desired organizational structure.

[2019-12-23 23:21] bikegeek opened #347 "Migrate feature relative use case conf files to new directory structure"
See "parent" issue GitHub #346 , except this relates to the following use case configuration, which should go under the METplus/parm/use_cases/model_applications/medium_range subdirectory, with the accompanying README.rst/txt and <conf_name>.py file for the Sphinx gallery.

=================================================
feature_relative/feature_relative.conf
feature_relative/examples/series_by_

[2019-12-24 16:16] bikegeek commented on #346
Sub-Issue GitHub #347 for migrating the following to 'medium_range' sub-directory:
feature_relative/feature_relative.conf
feature_relative/examples/series_by_init_12-14_to_12-16.conf
feature_relative/examples/series_by_lead_all_fhrs.conf
feature_relative/examples/series_by_lead_by_fhr_grouping.conf

[2019-12-26 21:45] bikegeek commented on #347
Need contributions to the 'Scientific Objective' section of the feature_relative.py file

[2019-12-30 18:31] georgemccabe commented on #337
Documentation has been updated.

[2019-12-30 18:31] #337 closed, assigned to georgemccabe

[2019-12-30 18:33] georgemccabe commented on #143
Closing this ticket because I believe it is complete. Please reopen if there are other outstanding tasks related to this issue.

[2019-12-30 18:33] #143 closed

[2020-01-02 17:44] bikegeek commented on #346
Here is how we assigned the tasking (taken from the 20191223 METplus Engineering Topics meeting notes: https://docs.google.com/document/d/1bDX64UnsUVgXLVHZjalEJOGcZQdeB6L9meDTLE42xGs/edit#):

===================================
Rearranging use case subdirectories:
grid_to_grid (Mallory)
grid_to_obs (George)
qpf (George)
These go under precip
feature_relative (Minna)
track_and_intensity (Minna)
hwt

[2020-01-03 20:56] georgemccabe commented on #314
Adding py file for each single wrapper use case and updated each conf file with detailed descriptions of each variable.

[2020-01-03 20:56] #314 closed, assigned to georgemccabe

[2020-01-03 22:53] georgemccabe commented on #93
Currently all of the existing wrappers now call met_util.run_stand_alone with __file__ (the wrapper scripts filename) and the name of the wrapper, i.e. ASCII2NC. The differences between the run_stand_alone function and main in master_metplus.py has grown to be very different, so I extracted the logic from both and reconciled any differences. Now master_metplus.py and run_stand_alone call the same

[2020-01-06 22:29] georgemccabe commented on #93
The tests passed. Closing this ticket.

[2020-01-06 22:29] #93 closed

[2020-01-06 22:37] georgemccabe commented on #244
Moved Tina's config files for this test into internal_tests/config so that it can be preserved and be used for future testing.

[2020-01-06 22:37] #244 closed, assigned to CPKalb, georgemccabe

[2020-01-06 22:39] georgemccabe commented on #244
Input data used for test is on eyewall under /d1/METplus_Data/prob_nc_testing in case we want to make this a use case in the repo and provide the input data.

[2020-01-07 17:43] bikegeek opened #348 "Migrate track and intensity use cases to new directory structure"

[2020-01-07 17:44] bikegeek commented on #348
This is a sub-issue of GitHub Issue #346.  Move the track and intensity use case files from the METplus/parm/use_cases/track_and_intensity directory to the METplus/parm/use_cases/model_applications/tc_and_extra_tc directory.

[2020-01-07 18:56] georgemccabe opened #349 "Add scientific objective information to each use case documentation file"
I will create a list of use case files that still need science review to complete. Input for the header, Scientific Objective, Datasets sections (and any other that may need more information).

[2020-01-07 18:58] georgemccabe commented on #349
All of the following files can be found in the develop branch and are in met_tool_wrapper directory unless otherwise specified. When completed, add your name and any notes next to the filename.

ASCII2NC.py - [x]sci input and review
CyclonePlotter.py - [x]sci input and review
EnsembleStat.py - [x]sci input and review
Example.py - [x]sci input and review
GridStat.py - [x]sci input and review
MODE.p

[2020-01-08 02:42] bikegeek commented on #347
updated the SeriesAnalysisConfig file in the METplus/parm/use_cases/model_applications/medium_range to be consistent with the SeriesAnalysisConfig_wrapper in METplus/parm/met_config, which had been updated with the latest changes for MET 9.0.

Committed changes to the 'feature_347_subdir_feature_relative' branch, then the 'feature_347_subdir_feature_relative' branch was merged with the 'develop' b

[2020-01-08 02:42] #347 closed, assigned to bikegeek

[2020-01-08 15:18] georgemccabe commented on #349
A review of the existing model application use cases could be useful before delegating files to document as some of the use cases may be similar to other cases and not necessary to include. For example, ruc-vs-s2grib and phpt-vs-s4grib both run PCPCombine, RegridDataPlane, and GridStat, but phpt-vs-s4grib uses probabilistic forecast data as input, so both of these cases should likely be included.

[2020-01-08 21:06] georgemccabe commented on #349
I added TCPairs_B.conf to met_tool_wrapper because this case demonstrates looping over run times and processing HWRF data. The other TCPairs use case in that directory processes SBU data (runs a reformatter to get it into ATCF format) for all run times.

[2020-01-08 22:12] lindsayrblank opened #350 "Sea Ice Validation and Verification"
Creating a METplus use case to read in, run MET tools on, and return relevant statistics for sea ice data.

Includes MET issue #1231

[2020-01-08 23:29] georgemccabe opened #351 "output prefix METplus configuration"
I added <APP_NAME>_OUTPUT_PREFIX (i.e. GRID_STAT_OUTPUT_PREFIX) in the METplus config for all MET tools that have output_prefix in their MET config files. This was done so users can configure their output prefix from the METplus config file instead of having to go into the MET config file and modify the variable.

Previously a few wrappers (GridStat, MODE, and MTD) set environment variables that w

[2020-01-08 23:43] georgemccabe commented on #11
These files are currently supported in METplus. Closing this ticket.

[2020-01-08 23:43] #11 closed

[2020-01-09 16:32] georgemccabe commented on #26
Check for Python version is already done in master_metplus.py. The script will error and exit if the user's version is less than the minimum required version of Python. I moved this check to metplus_check_python_version.py so that it can be imported by each wrapper that can be called stand alone.

However, if f-strings are used in a wrapper, a SyntaxError will be shown before the error message can

[2020-01-14 00:26] #351 closed, assigned to georgemccabe

[2020-01-15 16:40] jimfrimel commented on #315
TCPairs.py has been changed to two use cases: TCPairs_A.py and TCPairs_B.py

The Documentation for these use cases has been updated. f6f64569afb
EnsembleStat.py
SeriesByLead.py
SeriesByInit.py
TCPairs_A.py
TCPairs_B.py

Still requires  a"Scientist" to add and review each case.
Which I believe is being tracked elsewhere, so closing this issue.

[2020-01-15 16:40] #315 closed, assigned to jimfrimel

[2020-01-15 21:19] bikegeek commented on #348
tcmpr_mean_median_box.py, tmcmpr_mean_median_box.conf (replaces tcmpr_mean_median.conf and track_and_intensity.conf), tc_stat_filter.py and tc_stat_filter.conf now in the METplus/parm/use_case/model_applications/tc_and_extra_tc directory

[2020-01-15 22:24] bikegeek opened #352 "Migrate the cyclone plotter use cast to model_applications subdirectory"
This is a sub issue of GitHub issue #346, move the existing METplus configuration file to the METplus/parm/use_cases/model_applications/tc_and_extra_tc directory, and create a corresponding Sphinx gallery document

[2020-01-16 19:08] georgemccabe opened #353 "Update TCPairs to supply full time to INIT_BEG and INIT_END"
Previously only YYYYMMDD is passed in to the INIT_BEG and INIT_END environment variables to be read by the MET TCPairs config file. If the user specifies a run time range that starts and ends on the same day, like 2018-08-30_6Z to 2018-08-30_18Z, both begin and end times will be set to 20180830 in the MET config file. These values assume 0Z, so none of the data from 6Z to 18Z will be used.

Update

[2020-01-16 19:08] #353 closed, assigned to georgemccabe

[2020-01-17 23:17] georgemccabe commented on #231
As far as I can tell, the only single wrapper use case that we need to add is StatAnalysis.conf. @malloryprow do you already have a use case that just runs StatAnalysis somewhere? We need to add it to parm/use_cases/met_tool_wrapper/StatAnalysis

[2020-01-21 12:43] malloryprow commented on #231
@georgemccabe Ah yes, this has been in the back of my mind of things to do. I have an example here https://github.com/NCAR/METplus/blob/feature_226_stat_analysis_cleanup/parm/use_cases/grid_to_grid/examples/gather_by_date.conf.

[2020-01-21 18:55] georgemccabe commented on #260
Input data and config files are now available on kiowa under /d1/projects/APIK. Documentation file is found under parm/use_cases/model_applications/s2s. Need to:

- put config files in use case dir
- put input data in sample data location
- fill out rest of information in doc file

[2020-01-22 18:54] bikegeek opened #354 "Create Plot Display option for tcmpr_plotter wrapper and cyclone plotter wrapper"
Currently, both the tcmpr plotter and cyclone plotter wrappers create only .png output.  Add the ability to set in the METplus config file a setting to indicate whether to display the plot (which will require the user to close in order for wrapper completion).  The default should be set to 'No'/ False - no plot display

[2020-01-22 19:45] georgemccabe opened #355 "Write documentation for conus surface and upper air use cases"

[2020-01-22 19:46] georgemccabe opened #356 "Create StatAnalysis met_tool_wrapper use case"
Use met_test data and recreate a command from the MET make tests if possible. Also add documentation.

[2020-01-22 19:48] georgemccabe opened #357 "Add StatAnalysis to EMC use cases"
We should at least add the call to the tool for the anom.conf use case. conus_surface.conf or upper_air.conf would be nice as well to demonstrate calling the tool on output from PointStat. Refer to gather_by_date.conf that were previously in grid_to_grid and grid_to_obs, which were designed to be called after running one of the other use cases in that directory. The two can be combined into one co

[2020-01-22 23:41] georgemccabe opened #358 "Deprecated config variables from StatAnalysis not found in deprecated conf list"
When a config variable name changes, it must be added to the deprecated_dict list in met_util.py:check_for_deprecated_config function. This is required to allow METplus to report if an old config name is used and to include the changes in the validate_config.py script. I was informed by a user that there are name changes in StatAnalysis wrapper that were not included in this list.

[2020-01-23 16:08] georgemccabe commented on #358
List of changes to StatAnalysis and MakePlots provided by Mallory are here:
https://docs.google.com/spreadsheets/d/1dlOtq8BSQwPUl0TRriAd25ix0O5mY__-tS9oIDBVUc0/edit?ts=5e29b022#gid=0

[2020-01-23 20:56] JohnHalleyGotway opened #1561 "New Use Case: StatAnalysis Python Embedding to read native grid (u-grid)"
## Describe the New Use Case ##

Note that this was originally an issue in MET with the plan of adding support directly to the C++ tools. However, as of 4/6/2022, the plan has changed to leveraging existing python functionality for an initial implementation. Along with that, we'll need a new use case to demonstrate that functionality. In the long run, enhancements could be added directly to MET to

[2020-01-23 21:34] dwfncar commented on #1561
See dakota:/d3/projects/JEDI

[2020-01-24 20:09] georgemccabe commented on #358
I added all of the items from Mallory's list for StatAnalysis and MakePlots to the deprecated item dictionary. Some of these items have a number in them, like MODEL1_NAME or MODEL2_NAME, so I added functionality to look for the string \<n\> in the deprecated item list and find all instances that have a number substituted for \<n\>.

Related to this work, Logan from EMC discovered that his MET conf

[2020-01-24 20:09] #358 closed, assigned to georgemccabe

[2020-01-24 20:11] malloryprow commented on #358
Thanks @georgemccabe!

[2020-01-24 20:11] georgemccabe commented on #356
I created this use case based on gather_by_date.conf previously in grid_to_grid. I modified the use case to read grid_stat output that is found in the met_test directory. However, the configuration removes all input, so it needs to be modified to be able to read and process this data. This could be as simple as changing the init or valid times that it allows.

[2020-01-24 22:06] jimfrimel opened #359 "HPC anaconda logging error message"
This is a system level issue that exists ONLY on NOAA HPC systems.

## Hera

### Error Messages on computational nodes
Running jobs on computational nodes will return an Errno 101. Something like this: Lots of these messages are placed in the output of the job log file.

`--- Logging error --- Traceback (most recent call last): File ".../lib/python3.7/logging/handlers.py", line 939, in emit self.s

[2020-01-30 15:34] georgemccabe commented on #356
@jimfrimel modified the StatAnalysis.conf file to resolve the issue.

[2020-01-30 16:10] georgemccabe commented on #357
Updated anom.conf to include StatAnalysis configs. Created documentation file anom.py and added engineering information.

[2020-01-30 16:10] #357 closed, assigned to georgemccabe

[2020-01-30 16:11] georgemccabe commented on #349
model_applications/medium_range/anom.py now exists and needs scientific input.

[2020-01-30 16:42] georgemccabe commented on #355
Create documentation files for these use cases and filled out engineering information. Added note to scientific objective issue #349 to fill out science info for these cases.

[2020-01-30 16:42] #355 closed, assigned to georgemccabe

[2020-01-30 16:43] georgemccabe commented on #349
conus_surface.py and upper_air.py now exist in model_applications/medium_range and need scientific input.

[2020-01-30 16:44] georgemccabe commented on #231
StatAnalysis/StatAnalysis.conf was created in met_tool_wrappers and @jimfrimel fixed it to generate valid output. Closing this ticket.

[2020-01-30 16:44] #231 closed, assigned to bikegeek, jprestop, jimfrimel, georgemccabe, malloryprow, hankenstein2

[2020-01-31 19:16] jimfrimel commented on #356
Updated the StatAnalysis Single Wrapper Use Case sphinx documentation.
see commit: 3577cc02f2b

[2020-01-31 19:16] #356 closed, assigned to jimfrimel, georgemccabe

[2020-02-03 18:00] DanielAdriaansen opened #361 "Figure out a way to reference the Sphinx glossary from sphinx-gallery"
Sphinx allows the use of the :term: [role](https://www.sphinx-doc.org/en/master/usage/restructuredtext/roles.html#role-term), however this is limited to the Sphinx documentation only and is not available in sphinx-gallery.

Inside the sphinx-gallery source code, it appears that perhaps inside the gen_rst.py file we could contribute to the project by adding an interface that would allow use of the

[2020-02-03 23:35] georgemccabe commented on #260
Config files are now found in s2s directory (seasonal_forecast.conf METplus config and GridStatConfig_APIK_S2S_use_case_1 MET config file)

Sample input data is available on eyewall in /d1/METplus_Data/model_applications/s2s

Still need to clean up doc file and config files, but they now run in the correct structure.

[2020-02-03 23:40] georgemccabe commented on #352
@bikegeek , can this issue be closed? It looks like the files have been moved over and docs updated.

[2020-02-03 23:40] georgemccabe commented on #348
@bikegeek , can this be closed?

[2020-02-04 15:11] bikegeek commented on #348
Updates merged into the develop branch.

[2020-02-04 15:11] #348 closed, assigned to bikegeek

[2020-02-04 15:17] bikegeek commented on #352
Updates merged into develop branch.

[2020-02-04 15:17] #352 closed, assigned to bikegeek

[2020-02-04 19:08] georgemccabe opened #362 "Review/Update User's Guide for 3.0"

[2020-02-04 19:08] georgemccabe opened #363 "Fill in Contributor's Guide content"

[2020-02-04 19:09] georgemccabe opened #364 "Review pytests to make them more efficient and complete"

[2020-02-04 20:04] georgemccabe opened #365 "Use cases with external dependencies"
Note to Jim and Minna - I assigned both of you because I think either of you are familiar enough with the SeriesBy* cases to take care of this. You can either claim it or talk to someone else about handling it if you are unable to.

We currently have some use cases that use external dependencies and will potentially have more in the future. These currently include the SeriesBy* use cases (that use

[2020-02-05 19:50] georgemccabe opened #366 "Refactor config get methods to not exit when item is not found"
Currently the get methods in config_launcher.py will exit if an item is not found, except for getexe. getexe returns None and all uses of that function check if the output is None and sets self.isOK = False if so. Instead of error and exit when a config is not found, we should request all of the configs we will need in the init step (mainly in create_c_dict) and set isOK if a required item is not

[2020-02-05 22:39] JohnHalleyGotway opened #367 "Update regrid_data_plane wrapper to support -gaussian_dx and -gaussian_radius command line options in met-9.0."
Jeff Hamilton raised the following issue via met-help:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=94050

"One thing I'll note, the METplus regrid_data_plane wrapper does not support
the Gaussian method (specifically adding gaussian_dx and gaussian_radius as
argument options). I'm sure that is on the to-do list for future versions,
but it would be nice to have at some point. In the meantime

[2020-02-06 00:04] georgemccabe commented on #365
Update: I modified getexe to return None if the executable was not found correctly instead of calling exit(1). This was only called in the SeriesBy* wrappers, so I added checks in the init function for each of the exes needed by the wrapper and set self.isOK to False if any were not found. Moved getexe call in SeriesByInit to the init function so it will be caught in that stage instead of when run

[2020-02-06 00:07] georgemccabe commented on #362
Please claim a section if you start working on it! We need to make sure the information is accurate and refers to METplus 3.0 and MET 9.0

Section                                                                                                        Reviewer
======                                                                                                      =======
Software Installation/Get

[2020-02-06 16:41] bikegeek commented on #365
On 2/05/2020, Updated the documentation for feature_relative.py, series_by_init_12-14_to_12_16.py, series_by_lead_all_fhrs.py, and series_by_lead_by_fhr_grouping.py and committed to develop branch.

[2020-02-06 22:29] georgemccabe opened #370 "Create use case for ASCII2NC python embedding"

[2020-02-07 18:33] #259 closed, assigned to jvigh, georgemccabe

[2020-02-07 19:42] georgemccabe commented on #365
GempakToCF.py is created with instructions on how to obtain the jar file needed for Gempak support and how to configure METplus to find the file. Error message if GEMPAKTOCF_JAR is not set correctly mentions to check that py file for information on obtaining and configuring it. We need to include a note in the other 2 use cases that use Gempak data to mention to refer to GempakToCF.py to configure

[2020-02-07 21:07] j-opatz commented on #349
Updated Jan 7 comment with uses cases included in 3.0. New issue will be developed for engineering input and review on close of this issue.

[2020-02-07 23:00] georgemccabe commented on #281
CustomIngest wrapper now has a working use case using 2 different python scripts to generate NetCDF files.

[2020-02-07 23:00] #281 closed, assigned to CPKalb, georgemccabe

[2020-02-08 00:45] georgemccabe commented on #370
There are now 2 use cases in met_tool_wrapper/ASCII2NC that utilize python embedding scripts. They are based on the python unit test used in MET. They are the same except one case sets MET_PYTHON_EXE to envoke the pickle logic. The value is simply set to 'python' so it uses the pickle logic but uses the version of python that is in the user's path.

[2020-02-08 00:45] #370 closed, assigned to georgemccabe

[2020-02-08 01:13] georgemccabe commented on #367
REGRID_DATA_PLANE_GAUSSIAN_DX and REGRID_DATA_PLANE_GAUSSIAN_RADIUS are now config variables that can be set to set the -gaussian_dx and -gaussian_radius command line args respectively. If unset or set to a blank string, they will not be added to the command.

[2020-02-08 01:13] #367 closed, assigned to georgemccabe

[2020-02-10 16:13] georgemccabe opened #371 "Rename use cases"
We need to rename the use cases so that they fit a standard with descriptive names. John O. has created a list of name changes.

[2020-02-10 16:14] georgemccabe commented on #371
I am starting on the convection_allowing_models use cases.

[2020-02-10 16:26] j-opatz commented on #371
Beginning name changes for medium range use cases.

[2020-02-10 17:05] georgemccabe commented on #346
The use cases are now in the new directory structure. We still need to rename the use cases (another ticket #371 ), but I am closing this ticket.

[2020-02-10 17:05] #346 closed, assigned to bikegeek, jprestop, jimfrimel, georgemccabe, malloryprow, hankenstein2, j-opatz

[2020-02-10 17:06] georgemccabe commented on #371
Finished convection_allowing_models use cases. Moving on to precipitation.

[2020-02-10 17:41] jprestop opened #372 "Automate links in the User's Guide to the Glossary"
Write a script to modify the documentation to create a link for each of the variables in the Python Wrappers section of the User's Guide to link to the variables in the Configuration Glossary (or see if Sphinx can do this automatically)

[2020-02-10 17:42] georgemccabe commented on #371
Finished precipitation cases except for precip_continuous.conf and ruc-vs-s2grib.conf since we haven't decided on what to do with these cases.

Moving on to s2s and space_weather.

[2020-02-10 17:57] georgemccabe commented on #371
Finished s2s and space_weather, on to tc_and_extra_tc

[2020-02-10 18:10] georgemccabe commented on #371
Finished tc_and_extra_tc except for tc_stat_filter.conf since we haven't decided on what to do with this case.

[2020-02-10 19:14] DanielAdriaansen commented on #372
Are you thinking of having a script run and check the Python Wrappers section against a database of glossary terms, or are you trying to find a way to link to the glossary when writing the RST/updating the Python Wrappers RST? If the latter, then check out the :term: role:
https://www.sphinx-doc.org/en/1.5/markup/inline.html#role-term

[2020-02-10 19:37] j-opatz commented on #371
Finished Medium range use cases

[2020-02-11 17:13] georgemccabe commented on #371
All of the use cases are now named following the new standard.

[2020-02-11 17:13] #371 closed, assigned to georgemccabe, j-opatz

[2020-02-11 17:14] georgemccabe commented on #365
This work has been completed.

[2020-02-11 17:14] #365 closed, assigned to bikegeek, jimfrimel, georgemccabe, j-opatz

[2020-02-12 18:09] j-opatz commented on #349
All scientific objectives have been added or updated as necessary.

[2020-02-12 18:09] #349 closed, assigned to TaraJensen, georgemccabe, j-opatz

[2020-02-12 20:54] georgemccabe opened #374 "Output command to log when separating MET logs from METplus log"
Currently it is difficult to tell which logs came from which run when writing MET commands to their own log file. When LOG_MET_OUTPUT_TO_METPLUS is false, the command that was just run be output to the MET tool log file with "COMMAND:" before it so it is clear which command created which output.

[2020-02-12 21:01] #374 closed, assigned to georgemccabe

[2020-02-18 17:23] georgemccabe opened #376 "Support pandas and xarray python embedding in CustomIngest wrapper"

[2020-02-19 22:56] georgemccabe opened #378 "Support wrapper-specific var list items"
Currently [FCST/OBS]_VAR<n>_* is used for the stat tools (PointStat, EnsembleStat, GridStat) because the current use cases would use the same variables for each of those tools. However, we now have a use case where we need to run EnsembleStat then read the output NetCDF file into GridStat. To handle this case, we need to support wrapper-specific var list items, such as FCST_GRID_STAT_VAR1_NAME, OB

[2020-02-21 17:11] JohnHalleyGotway opened #379 "Create a new METplus use case for magnetic perturbations."
This is a task discussed on 02/21/2020 at NASA with Leila and Lutz.
Google Meeting Notes: https://docs.google.com/document/d/1k5R5oh5B4USsLbBvZEg0qY1anJmBxc9Qluas0ulfXss/edit#

Define one new use case for Magnetic Perturbations… reads the forecast output of the CalcDeltaB tool for the SWF model:
We currently have 1 timestep of forecast data, but we need to get a full day of forecasts from Lutz.
Pu

[2020-02-24 22:42] georgemccabe commented on #379
Modified read_CDB_ascii.py script (found on the sample scripts webpage) to optionally convert geomagnetic coordinates to geographic. Add 'geog' to the end of the command to convert, and leave it off to skip conversion.

[2020-02-24 23:06] georgemccabe opened #380 "Create PlotDataPlane wrapper"

[2020-02-24 23:29] georgemccabe opened #381 "Support Python Embedding input to SeriesAnalysis, MTD, and EnsembleStat"
Using Py embedding to pass input for multiples files is now supported in these MET tools, but modifications to METplus are needed to support these cases.

MTD and EnsembleStat should be able to support it by adding environment variables FCST_FILE_TYPE and OBS_FILE_TYPE that will be set inside the fcst and obs dictionaries respectively. These should normally be set to an empty string, but if Python

[2020-02-24 23:34] georgemccabe opened #382 "Add verification mask support to EnsembleStat"
See GridStat wrapper for how this is used.

[2020-02-24 23:34] georgemccabe commented on #382
Also used in PointStat and MODE wrappers

[2020-02-26 00:21] georgemccabe opened #383 "Enhance logic to allow custom list of strings be processed for each run time"
For each run time, it would be helpful to have a list of strings that can be used in filename templates to be able to handle multiple files for the same runtime, i.e. multiple ensembles. Something like:

CUSTOM_RUN_STRINGS = ens1, ens2, ens3

Then for each init or valid and forecast lead run time combination, METplus would loop over each value in the list and make it available in the filename temp

[2020-02-26 18:34] georgemccabe commented on #378
This functionality is now available in develop for EnsembleStat, PointStat, GridStat, MTD, and MODE. I updated the documentation to reflect the new items in the glossary and python wrappers section. I also added a section to the System Configuration section describing how to use this functionality. I added a pytest to ensure that the functionality behaves the way it is described in the documentati

[2020-02-26 18:34] #378 closed, assigned to georgemccabe

[2020-02-26 18:49] georgemccabe opened #384 "Incorporate SeriesAnalysis portion of APIK use case into METplus wrappers"

[2020-02-26 18:55] georgemccabe commented on #260
This use case has been added to the repository for the 3.0 release.  Adding issue #384 for adding SeriesAnalysis portion via METplus.

[2020-02-26 18:55] #260 closed, assigned to jvigh, georgemccabe

[2020-02-27 18:14] georgemccabe opened #386 "Develop method to specify certain tools to only run at certain times"
We need to discuss a way to allow certain tools to only run at certain intervals. For example, only run SeriesAnalysis every 24 hours, or only run PointStat on 0Z and 12Z. How should we define these cases?

[2020-02-27 18:14] georgemccabe opened #387 "Create gen_vx_mask wrapper"
## Describe the New Feature ##
We need to wrap the Gen-Vx-Mask tool for use in several use-cases.
One example is using data thresholding for given thresholds in the [Surrogate Severe](https://github.com/NCAR/METplus/issues/413) and [Practically Perfect](https://github.com/NCAR/METplus/issues/406) use-cases.

Options that need to be included:
-type str
-input_field string
-mask_field string
-comple

[2020-02-27 18:15] georgemccabe opened #388 "Create custom script wrapper"
To allow users to run their own scripts within a METplus run so they don't have to do this outside of METplus.

[2020-03-02 15:53] georgemccabe opened #390 "Enhance PCPCombine wrapper to supply additional options for field info"
Currently the [FCST/OBS]_PCP_COMBINE_INPUT_OPTIONS values are only read in derive mode. If these are provided, they should be added to other modes, such as -add. This functionality can be tested with Ying Lin's (NOAA EMC) use case using UKMO data.

[2020-03-03 23:18] georgemccabe commented on #381
MTD and EnsembleStat wrappers have been modified to support python embedding. There are use cases in the met_tool_wrapper section demonstrating how to run this way.

EnsembleStat/EnsembleStat_python_embedding.conf
MTD/MTD_python_embedding.conf

I wrote a SeriesAnalysis wrapper that just finds files and calls the tool without filtering. I created a use case demonstrating how to use this wrapper wit

[2020-03-03 23:23] georgemccabe commented on #390
This functionality has been implemented and demonstrated in 2 use cases

Using PCPCombine - met_tool_wrapper/PCPCombine/pcp_loop_custom.conf
Using SeriesAnalysis - model_applications/s2s/GridStat_fcstNMME_obsCPC_seasonal_forecast.conf

The METplus config
<MET-tool>_CUSTOM_LOOP_LIST can be set to apply the custom string looping to the given MET tool. It has only been tested using PCPCombine and Ser

[2020-03-03 23:24] georgemccabe commented on #383
This functionality has been implemented and demonstrated in 2 use cases

Using PCPCombine - met_tool_wrapper/PCPCombine/pcp_loop_custom.conf
Using SeriesAnalysis - model_applications/s2s/GridStat_fcstNMME_obsCPC_seasonal_forecast.conf

The METplus config
<MET-tool>_CUSTOM_LOOP_LIST can be set to apply the custom string looping to the given MET tool. It has only been tested using PCPCombine and Ser

[2020-03-05 21:33] georgemccabe commented on #390
This has been implemented and added to the develop branch. The _OPTIONS can also support reading valid time {valid?fmt=%Y%m%d_%H}

[2020-03-05 21:33] #390 closed, assigned to georgemccabe

[2020-03-05 21:35] georgemccabe commented on #381
John O. is working on the doc files for each SeriesAnalysis use case

[2020-03-05 23:34] georgemccabe commented on #381
I finished to-do items 2 and 3.

[2020-03-06 20:23] j-opatz commented on #381
Completed item 1, documentation for the SeriesAnalysis use case

[2020-03-09 14:48] georgemccabe commented on #383
Documentation is updated. Leaving issue open because the name of the variables may change and we need to update all references in code and docs to match.

[2020-03-09 15:58] #381 closed, assigned to georgemccabe, j-opatz

[2020-03-09 20:23] georgemccabe opened #394 "Support -obs_valid_beg and -obs_valid_end in PointStat"
Need to be able to set these command line arguments via METplus and accept filename template substitution syntax.

[2020-03-12 16:52] jvigh commented on #261
The initial use case was finished, then @georgemccabe opened #384 to fully wrap the series analysis into the use case as well. That work has also finished. Closing this issue.

[2020-03-12 16:59] jvigh commented on #261
I incorrectly closed this issue. #259 is the issue that points to George's #384. I don't believe the work outlined in this issue was ever done. I am not sure that there is any need to, however, since the APIK project is closed.

[2020-03-12 20:56] georgemccabe commented on #384
This work has been completed. The use case parm/use_cases/model_applications/s2s/GridStat_fcstNMME_obsCPC_seasonal_forecast.conf now runs GridStat, then SeriesAnalysis twice using new custom string looping functionality (see #383).

[2020-03-12 20:56] #384 closed, assigned to jvigh, georgemccabe

[2020-03-12 21:23] georgemccabe commented on #383
the name CUSTOM_LOOP_LIST and <MET-tool>_CUSTOM_LOOP_LIST stuck, so closing this issue.

[2020-03-12 21:23] #383 closed, assigned to TaraJensen, georgemccabe

[2020-03-12 21:24] georgemccabe commented on #394
This work has been implemented and is available in develop and 3.0 release.

[2020-03-12 21:24] #394 closed, assigned to georgemccabe

[2020-03-12 21:25] georgemccabe commented on #379
Still need to write python script to read point data and create a use case that runs PointStat with that data and the CDB data.

[2020-03-12 21:37] georgemccabe commented on #363
Each section has initial content, but some sections will be expanded with more content in the future. We will create new issues to address the new additions.

[2020-03-12 21:37] #363 closed, assigned to bikegeek, jprestop, jimfrimel, JohnHalleyGotway, georgemccabe, hankenstein2

[2020-03-12 21:38] #362 closed, assigned to bikegeek, jprestop, DanielAdriaansen, jimfrimel, JohnHalleyGotway, georgemccabe, malloryprow, hankenstein2, j-opatz

[2020-03-12 21:39] georgemccabe commented on #224
@bikegeek  and @malloryprow  can this issue be closed?

[2020-03-12 21:40] georgemccabe commented on #229
Errors and warnings are now caught in the METplus logs.

[2020-03-12 21:40] #229 closed, assigned to jimfrimel

[2020-03-12 21:46] bikegeek commented on #224
@bikegeek:  All my sub-issues related to this issue have been closed (see earlier comments).

@malloryprow, has any of your work been affected by this issue?

[2020-03-13 14:59] georgemccabe opened #395 "Remove logic to that removes double slashes in paths"
MET appears to not like when a path contains a double slash, i.e. /some/path//to/file.nc. This occurs when a directory in a METplus config ends with a slash, i.e. INPUT_BASE = /some/path/. os.path.join handles this correctly and will remove the extra slash. However, if a METplus config references another variable, the produtil get methods don't handle this correctly. Example:

INPUT_BASE = /some/p

[2020-03-13 16:01] JohnHalleyGotway commented on #395
George,

I'm not able to replicate this behavior when running MET tools directly on
the command line. Having 1, 2, or 10 consecutive slashes produces the same
result... at least in my test of plot_data_plane:

bin/plot_data_plane
data//sample_fcst/2005080700///////////////////wrfprs_ruc13_12.tm00_G212
plot.ps 'name="TMP"; level="Z2";'
DEBUG 1: Opening data file:
data//sample_fcst/2005080700///////

[2020-03-13 16:10] georgemccabe commented on #395
/d1/CODE/MET/MET_releases/met-9.0_beta4/bin/regrid_data_plane -v 2 PYTHON_NUMPY -field 'name="/d1/METplus_Data//met_test/scripts/python/read_ascii_numpy.py /d1/METplus_Data/met_test/data/python/fcst.txt FCST";' G130  /d1/mccabe/out/met_tool_wrapper/CustomIngest/regrid_data_plane.nc

It looks like the issue occurs when the double slash is in the field name, like when using python embedding.

[2020-03-13 16:44] JohnHalleyGotway commented on #395
George,

Thanks for sending the example.  I see the parsing error you describe.
This is an issue in the config file parsing logic.  The fix for this in the
parser is probably just a one-liner.

Now if I can just figure out what/where that one line needs to be ;)

John

On Fri, Mar 13, 2020 at 10:10 AM George McCabe <notifications@github.com>
wrote:

[2020-03-13 16:50] JohnHalleyGotway commented on #395
George,

I wrote up a GitHub issue to describe this change.  Does this look accurate
to you?
https://github.com/NCAR/MET/issues/1277

John

On Fri, Mar 13, 2020 at 10:44 AM John Halley Gotway <johnhg@ucar.edu> wrote:

[2020-03-13 17:16] georgemccabe commented on #395
Yes, that looks accurate to me.

On Fri, Mar 13, 2020 at 10:50 AM johnhg <notifications@github.com> wrote:

--
George McCabe - Software Engineer III
National Center for Atmospheric Research
Research Applications Laboratory
303-497-2768
---
My working day may not be your working day. Please do not feel obliged to
reply to this email outside of your normal working hours.

[2020-03-13 17:38] JohnHalleyGotway commented on #395
George,

I tried, but couldn't find an easy fix.  The parser/scanner logic is very
confusing.  I've reassigned the issue to Randy for the met-9.1 release.
   https://github.com/NCAR/MET/issues/1277

Thanks,
John

On Fri, Mar 13, 2020 at 11:16 AM George McCabe <notifications@github.com>
wrote:

[2020-03-17 18:29] georgemccabe opened #398 "Add information about logging configs to Ch. 3 System Configuration in User's Guide"
There should be a section to describe each of the logging config variables found in the default config file in parm/metplus_config/metplus_logging.conf. There is documentation within these files, but a clear example of how the output changes would be very nice to have.

[2020-03-17 18:30] georgemccabe commented on #297
@DanielAdriaansen  can this issue be closed?

[2020-03-17 18:31] georgemccabe commented on #334
@bikegeek is this issue resolved?

[2020-03-17 18:32] georgemccabe commented on #304
@fisherhucar , did you write the test for this issue and update the documentation?

[2020-03-17 19:18] bikegeek commented on #224
It looks like the plotting tests that Mallory created are gone (and the MET__BASE environment variable was originally set in these tests???). I'm going to close this since all the sub issues associated with this are closed.   Reopen if this issue still persists.

[2020-03-17 19:29] georgemccabe commented on #224
I did a grep for MET_BASE and see that the environment variable is still set in TCMPR Plotter

(metplus_env) mccabe@eyewall:/d1/mccabe/METplus/ush$ grep MET_BASE *
grep: plotting_scripts: Is a directory
grep: produtil: Is a directory
grep: __pycache__: Is a directory
tcmpr_plotter_wrapper.py:        if 'MET_BASE' not in os.environ:
tcmpr_plotter_wrapper.py:            self.logger.debug("Setting en

[2020-03-17 19:31] georgemccabe commented on #224
It looks like we can also now remove MET_BASE from the parm/metplus_config/metplus_system.conf since all references of that METplus config are now removed.

[2020-03-17 20:50] DanielAdriaansen commented on #254
A template for documenting use cases can be found in the METplus repository [here](https://github.com/NCAR/METplus/blob/master_v3.0/parm/use_cases/template/use-case-application.py).

[2020-03-17 20:50] #254 closed, assigned to jprestop, DanielAdriaansen

[2020-03-17 20:54] DanielAdriaansen commented on #225
This issue is deprecated with the transition to Sphinx. The original issue stemmed from calling "METplus" "METplus Wrappers" inadvertently. METplus and METplus wrappers are two different things.

[2020-03-17 20:54] #225 closed, assigned to DanielAdriaansen, hankenstein2

[2020-03-17 20:55] DanielAdriaansen commented on #297
Yes! METplus v3.0 now includes documentation in Sphinx.

[2020-03-17 20:55] #297 closed, assigned to jprestop, DanielAdriaansen

[2020-03-17 21:53] georgemccabe commented on #224
TCMPR Plotter wrapper calls share/met/Rscripts/plot_tcmpr.R which will exit if MET_BASE is not set in the environment. I added the setting of MET_BASE back to the wrapper in a rush to get the wrapper to run correctly before the release but forgot to update this ticket with more info. This use case could not have run successfully with the block to set MET_BASE removed unless it was already set in t

[2020-03-17 21:54] DanielAdriaansen commented on #131
I think we have accomplished the following:

As far as a section detailing how MET environment variables are set, does the section in the documentation:
https://ncar.github.io/METplus/Users_Guide/systemconfiguration.html#user-defined-config

handle this?

My opinion is that this issue can probably be closed.

What do you think @bikegeek @jprestop ?

[2020-03-17 22:10] bikegeek commented on #131
It looks like the section of documentation Dan linked to addresses the
original issue brought up by the NCWCP tutorial attendee.  @George McCabe
<mccabe@ucar.edu>, is it OK to close this issue???

---------------
Minna Win
National Center for Atmospheric Research
Developmental Testbed Center
Phone: 303-497-8423
Fax:   303-497-8401

On Tue, Mar 17, 2020 at 3:55 PM Dan Adriaansen <notifications@gith

[2020-03-18 14:24] hankenstein2 commented on #304
I have not written the test or updated the documentation and will move this to the next release.

[2020-03-18 15:07] georgemccabe commented on #131
The section of documentation regarding user defined configs is what can be used if there is an option in a MET config file that is not yet configurable through METplus. However, many of the common MET config options are handled within the wrapper. The "MET Configuration" section of the single wrapper use cases is where we describe the full list of environment variables that are set and which METpl

[2020-03-18 15:07] #131 closed

[2020-03-19 18:49] georgemccabe opened #399 "Disable download button at the bottom of each use case documentation file"
The links at the bottom of each use case will download the documentation file as a Python file or Jupyter notebook. This is misleading, as the user may think it is downloading the actual config file. We should remove these buttons. I believe this is a sphinx_gallery setting to add to the conf.py file in the docs directory. Setting this here should apply to all use cases in the entire User's Guide.

[2020-03-19 18:54] georgemccabe opened #400 "Change mouse over text for use cases to include config file name"
Users have to open each use case listed in the User's Guide by clicking the icon and scrolling down to find the config file name that corresponds to it. At the METplus meetings on 3/19/2020, we discussed changing the use cases so that the mouse-over text (which is the text at the top of the use case py file within the triple quotes) to include the name of the config file that is used for the examp

[2020-03-20 20:17] DanielAdriaansen opened #401 "Adapting existing MET configs to work with METplus wrappers"
Address the use case when a user has an existing MET config file they'd like to use with METplus wrappers.

Some questions:
1. Should the recommendation be for the user to "retrofit" METplus conf item environment variables into their configs so they can use METplus conf items to control aspects of their config? Or should the user take their settings in their file, and merge them into the MET confi

[2020-03-20 20:31] DanielAdriaansen opened #402 "Improve documentation on mapping METplus configuration items to MET config file env vars"
Add additional documentation, or re-work existing documentation that can help a user understand what environment variables are being set by METplus wrappers when a METplus conf item is set. George proposed putting this in the Python Wrappers section of the User's Guide. I also think the glossary could be updated to include the name of the environment variable set by the conf item, so as someone is

[2020-03-24 16:33] georgemccabe commented on #224
There is a MET issue (https://github.com/NCAR/MET/issues/1285) to remove the dependency of MET_BASE in the R scripts. Once this is complete, we can remove the setting of the environment variable MET_BASE in TCMPRPlotter.

[2020-03-24 18:26] georgemccabe opened #404 "Expand support for begin_end_incr syntax"
Currently begin_end_incr() can be used for LEAD_SEQ or for variables that can the met_util.getlist function to create a range of integers. It would be useful to support this syntax in other places, such as filename templates or CUSTOM_LOOP_LIST, so that users can more easily specify which data to process.

## Describe the Enhancement ##

The desire for this has been discussed previously, but it mo

[2020-03-24 20:09] TaraJensen opened #405 "Develop Point2Grid Wrapper"
## Describe the New Feature ##
Develop a wrapper for the Point2Grid tool released in METv9.0
Functionality to be configurable includes:
-config
-qc
-adp
-method
-gaussian_dx
-gaussian_radius
-prob_cat_thresh
-name
See[ User's Guide](https://dtcenter.org/sites/default/files/community-code/met/docs/user-guide/MET_Users_Guide_v9.0.pdf) for tool (under Re-Formatting of Point Observations) for how to c

[2020-03-24 20:37] TaraJensen opened #406 "Develop Practically Perfect Prog Calculation use-case"
*Replace italics below with details for this issue.*

## Describe the New Feature ##
Develop a use case that computes the Practically Perfect Prog analysis.  Steps include:

1. Write a Python script to read in Local Storm Reports
2. Call ASCII2NC using Python Embedding to convert LSRs to MET netcdf - suggest script denotes 1,2,3 in QC area for Tornado, Hail, Wind reports respectively.
[Example of

[2020-03-25 16:26] JohnHalleyGotway opened #407 "Bug in the STAT-Analysis wrapper when setting the level variables for NetCDF data."
##  Describe the Problem ##
This issue arose via MET-Help:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=94703

When NetCDF fcst/obs data is processed by the MET tools, the level strings are set in the MET configuration files as indexes in the variable dimensions.  The * characters indicate the lat and lon dimensions.  And those settings are surrounded by parentheses, e.g. level = "(0,1,*,*)".

[2020-03-25 16:52] fentoad72 opened #408 "Rewrite and update Chapter 1 of the July 2019 Monterrey tutorial to run with MET9/METplus3 on hera and dakota"
component: documentation

[2020-03-25 23:20] georgemccabe opened #410 "Documentation lists conf files that have been renamed"
The following section lists conf files like feature_relative.conf that have been renamed for this release:

https://ncar.github.io/METplus/Users_Guide/installation.html#running-metplus-wrappers

## Describe the Problem ##
Examples need to be renamed to match actual file location
Usage statement (usage_wrapper.py) also contains old paths that should be updated.

### Expected Behavior ###
Documentat

[2020-03-26 00:00] TaraJensen opened #411 "Develop NRL Aerosol Use-Case"
## Describe the New Feature ##
We have a project with NRL to develop use-cases for Aerosol and Dust evaluation.  The first step is developing a python script to read in the observation and forecast data and pass into MET tools such as Grid-Stat and MODE.

### Acceptance Testing ###
Fcst Input:  ENAAPS and ICAP aerosol predictions
Obs Input: UW CIMSS federated data set
Source:  UW CIMSS data set on

[2020-03-26 16:37] CPKalb commented on #406
Should this be separate from the surrogate severe use case or a part of it?

[2020-03-26 16:44] georgemccabe commented on #410
[METplus-resolve-and-review-issues.txt](https://github.com/NCAR/METplus/files/4388506/METplus-resolve-and-review-issues.txt)

[2020-03-26 17:06] TaraJensen commented on #406
Not for now.  They are very different workflows. We need to add a separate issue to develop that use-case.

[2020-03-26 19:19] TaraJensen opened #413 "Develop Surrogate Severe Calculation use-case"
## Describe the New Feature ##
1.  Use pcp_combine to create a 24 h maximum of max UH field
2.  Run Regrid-Data-Plane to NCEP 211 using max; width is 81.27; square of 27 grid boxes
**Plan to loop over multiple thresholds (that correspond to different percentiles)**
3.  Run gen-vx-mask to get a binary masking field
4.  Run Regrid-Data-Plane using max-gauss; width of 1 for smoothing only
5.  Run Plo

[2020-03-26 19:26] TaraJensen opened #414 "Develop Surrogate Severe Evaluation use-case"
## Describe the New Feature ##
Combination of the  Surrogate Severe and Practically Perfect Prog use-cases

### Acceptance Testing ###
Fcst Input: Any file with Updraft Helicity in it
Obs Input: Local Storm Report
Source:  Initially HWT
Test:  Use Burkely Gallo's examples to execute the evaluation

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approxim

[2020-03-26 21:51] lindsayrblank commented on #413
Thresholds and corresponding percentiles provided by Burkely Gallo from SPC. These are values of updraft helicity and are in m^2/s^2.
- 14.2 (75th percentile)
- 19.0 (80th percentile)
- 26.0 (85th percentile)
- 38.0 (90th percentile)
- 61.0 (95th percentile)

[2020-03-26 21:56] lindsayrblank commented on #413
Notes from John Halley Gotway from 03/10/2020 where the group worked with Burkely Gallo to get the commands/steps to successfully produce surrogate severe data.
[Surrogate_Severe_Notes.txt](https://github.com/NCAR/METplus/files/4390178/Surrogate_Severe_Notes.txt)

[2020-03-26 22:47] lindsayrblank commented on #413
Burkely Gallo's surrogate severe Fortran code

[probs_ens_fv3.f90.txt](https://github.com/NCAR/METplus/files/4390396/probs_ens_fv3.f90.txt)
[probs_ens_HREFv2.f90.txt](https://github.com/NCAR/METplus/files/4390398/probs_ens_HREFv2.f90.txt)

[2020-03-26 22:49] lindsayrblank commented on #406
Burkely Gallo's practically perfect Fortran code
[practically_perfectnc.f90.txt](https://github.com/NCAR/METplus/files/4390409/practically_perfectnc.f90.txt)

[2020-03-27 18:09] georgemccabe commented on #399
Dan and I investigated this issue today. It turns out that the setting that sounded like it should remove these buttons does not actually do that. To remove these buttons, we would need to either:

* Write a script to remove the buttons from the HTML files after the documentation is built. We would likely write a build script that calls 'make clean html' on the documentation, then calls the script

[2020-03-27 18:19] JohnHalleyGotway commented on #399
The first option sounds better thought out and less of a hack.  Perhaps the standard document rendering process gets us 95% of what we want, but we need to do some extra work for that last 5%.  Having a script to post-process and clean up the docs is fine.  And this would be one of those cleanup steps.  So the first option makes sense to me.

[2020-03-27 18:51] TaraJensen commented on #399
I agree with John.  Thanks for looking into it.

[2020-03-27 19:36] jimfrimel commented on #399
I think ... that may be ok also ...
My only comment would be to consider defining a unique clean target in the
Makefile, ie. clean_sphinx: ?
Jim

On Fri, Mar 27, 2020 at 12:52 PM TaraJensen <notifications@github.com>
wrote:

[2020-03-27 21:22] JohnHalleyGotway commented on #387
George asked me to test if/how python embedding working gen_vx_mask.

(1) It does NOT work for the "-input_field" option.
[code]
(2) It also does NOT work for the "-mask_field" option.
[code]

For GRIB1, GRIB2, and NetCDF files, once we call "open" on the input file, the grid is defined.  For python embedding, the grid is defined at the same time we read the data.  Logic could be added to make one

[2020-03-27 21:31] georgemccabe commented on #387
Thanks for the info. I will still write the wrapper with support for string substitution for the current run time for these arguments so that when the python embedding support is available for them, the wrapper will already support it.

[2020-03-31 19:29] LoganDawson-NOAA commented on #413
This use case is also highly desired by EMC with the HREFv3 Evaluation beginning on May 4th. I'd be happy to assist with development and/or beta testing of the use case.

[2020-03-31 22:02] j-opatz commented on #410
Both develop and Master_v3.0 branch have been successfully updated with pull requests.

[2020-03-31 22:02] #410 closed, assigned to georgemccabe, j-opatz

[2020-04-01 21:21] lindsayrblank opened #417 "Create python embedding script to read in tripolar grids into a METplus use case"
## Describe the Task ##
Create a python embedding to read in tripolar grid data. This will allow METplus to handle ocean and ice model data, specifically from NOAA's Real-Time Ocean Forecast System (RTOFS) model. There is an existing METplus use case for calculating relevant metrics for sea ice evaluation.

### Time Estimate ###
I (Lindsay) estimate that this task will take me about 3 full days of

[2020-04-02 17:25] georgemccabe opened #418 "Reorganize sphinx documentation files"
Users have been confused with the directories under parm/use_cases having two files with the same name -- one ending with .conf that is read by METplus and one ending with .py which is the documentation file. Users often think that the .py file is a python script that should be executed or read by METplus.

## Describe the Enhancement ##
* Create a docs/use_cases directory structure that mimics th

[2020-04-03 16:48] JohnHalleyGotway commented on #387
sudo-calls for the gen_vx_mask wrapper to create:

INPUT_TEMPLATE=a/b/c
OUTPUT_TEMPLATE=x/y/z
MASK_OPTIONS='-type poly','-type LAT -thresh gt0', '-type LON -thresh gt-100&&lt<70', '-type SOLAR_AZI -thresh gt0'
// Must also be length 4
MASK_TEMPLATE='/path/to/CONUS.poly', 'a/b/c', 'a/b/c', '20180807_120000'

(1) gen_vx_mask a/b/c /path/to/CONUS.poly temp1.nc -type poly
(2) gen_vx_mask temp1.nc a/b/

[2020-04-03 18:48] CPKalb opened #421 "Allow regrid_data_plane wrapper to input multiple fields"
## Describe the New Feature ##
Currently, when two variables are listed in a .conf file for the regrid_data_plane wrapper, it the wrapper runs regrid_data_plane twice, like below:
regrid_data_plane, input_file, G211, output_file -method MAXGAUSS -width 1 -field 'name="ENS_FREQ_14.2"; level="(*,*)";'
regrid_data_plane, input_file, G211, output_file -method MAXGAUSS -width 1 -field 'name="ENS_FREQ_1

[2020-04-03 23:47] georgemccabe commented on #387
Wrapper has been developed and (mostly) tested. Added use cases to process a file with no arguments, a use case that runs the tool multiple times, creating temporary intermediate files to pass to the next call, and added use cases that runs the tool once and utilizes filename templates in the command line arguments. Need to verify that the tool meets the needs of the scientists that will be using

[2020-04-07 15:49] bikegeek opened #422 "StatAnalysis wrapper silently fails when no field information is provided"
## Describe the Problem ##

This issue was first identified by a METplus user* who was running the StatAnalysis wrapper, then the MakePlots wrapper.  The MET stat_analysis tool is never run but the MakePlot wrapper is run and, as expected produces no plots.  When the StatAnalysis wrapper is run alone, then the MakePlots wrapper is run alone, no plots are being generated.

*Refer to MET Help ticket

[2020-04-07 16:51] georgemccabe opened #423 "GenVxMask wrapper subtask - documentation and tests"
This is a sub-issue of #387

## Describe the Sub-Issue ##
* Create documentation files for new use cases
* Add unit tests for GenVxMask wrapper
* Add unit tests for changes to other code needed for wrapper
* Add new use cases to test_use_cases.py and run

### Time Estimate ###
About 1 to 2 days of work.

### Relevant Deadlines ###
Needed for HWT

### Funding Source ###
2770471 - SWPC

## Define th

[2020-04-08 22:38] georgemccabe commented on #423
### Documentation:
* Added 3 use cases with documentation files:
http://icculus.rap.ucar.edu/metplus-test/Users_Guide/met_tool_wrapper/index.html#genvxmask
* Added section to Python Wrappers and added all config variables to glossary
http://icculus.rap.ucar.edu/metplus-test/Users_Guide/wrappers.html#genvxmask
* Added up-to-date info to create a new wrapper in Contributor's Guide:
http://icculus.ra

[2020-04-08 22:38] #423 closed, assigned to lindsayrblank, jvigh, CPKalb, georgemccabe

[2020-04-09 19:21] georgemccabe commented on #137
I believe this work is done when we created the 3.0 release with Sphinx Gallery documentation for each use case.

[2020-04-09 19:21] #137 closed

[2020-04-10 17:15] lindsayrblank commented on #350
The use case is complete and in METplus3.0. I'm going to close this issue and I'll create additional issues using the new issue templates for further development on this use case.

[2020-04-10 17:15] #350 closed, assigned to lindsayrblank

[2020-04-13 20:11] georgemccabe commented on #408
I reviewed the content of Session 1 and it looks good.

[2020-04-13 20:15] georgemccabe commented on #408
@j-opatz , could you run through the instructions on dakota and make sure that everything in Chapter 1 is accurate and works correctly? You can start from here:

https://dtcenter.org/metplus-practical-session-guide-2020-beta/session-1-metplus-setupgrid-grid

[2020-04-13 20:51] #387 closed, assigned to lindsayrblank, jvigh, CPKalb, georgemccabe

[2020-04-14 06:07] jvigh opened #427 "Develop new SWPC use case using_gen_vx_mask"
## Describe the New Feature ##
We need to develop a new use case for the SWPC project that illustrates the new gen_vx_mask wrapper capability that was developed in #387 and #424. The goal of this use case is to take a GloTEC model run and use gen_vx_mask to compute a mask for the region where solar altitude >= 60 deg (sun high in the sky). This could then be modified to do day-night masks or solar

[2020-04-14 16:53] fentoad72 opened #428 "Update Tutorial Chapter 4 for MET 9.0, METplus 3.0"
*Replace italics below with details for this issue.*

## Describe the Task ##
Update Chapter 4 pages to reflect changes to MET9, METplus3
Chapter 4 uses MODE, MTD MET tools; Mode, MTD METplus

### Time Estimate ###
12 pages to review, update
Check for moved or removed links, renamed tools
~1 week at 50%; goal next Tuesday

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *

[2020-04-14 17:58] JohnHalleyGotway opened #429 "Add the PR approval process steps to the contributor's guide."
## Describe the Task ##
Add the PR approval process steps to Chapter 6 of the contributor's guide.   Also work on the formatting of that chapter to get to render well on GitHub pages.
Merge into the master_v3.0 and develop branches.
Push the changes to the gh-pages branch, rendered here:
   https://ncar.github.io/METplus/Contributors_Guide/github_workflow.html

### Time Estimate ###
1 day.

### Su

[2020-04-15 16:41] georgemccabe opened #430 "{now} filename template broken for [INIT/VALID]_[BEG/END]"
Error checking now stops execution when using now tag in time looping.

## Describe the Problem ##
INIT_TIME_FMT = %Y%m%d%H
INIT_BEG = {now?fmt=%Y%m%d%H}

The code compares the length of INIT_BEG before it evaluates the now tag, so the length does not match.

### Expected Behavior ###
The above configuration should work.

### Environment ###
Describe your runtime environment:
1. Machine: kiowa
2.

[2020-04-17 18:14] jprestop opened #434 "Enhance ascii2nc_wrapper to include ASCII2NC_SKIP_IF_OUTPUT_EXISTS"
## Describe the Enhancement ##
Enhance ascii2nc_wrapper to include ASCII2NC_SKIP_IF_OUTPUT_EXISTS

### Time Estimate ###
*Estimate the amount of work required here.*
Less than 1 day

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [x] Add necessary code to ascii2nc_wrapper.py
- [x] Test (see below for details)
- [x] Update the documentation (see below for details)

**T

[2020-04-17 18:22] j-opatz commented on #408
I completed a review of chapter one, and have the following notes:

- METplus Setup
   - Under the Directories and Configuration Files - Overview, in the Example use case call, ${METPLUS_TUTORIAL_DIR} is incorrect; it should use ${METPLUS_BUILD_BASE}, as the TUTORIAL_DIR is just the local holder for user files.
      - Also note that the path needs a parm after the ${} command; use_cases is not a

[2020-04-17 20:22] jprestop opened #435 "Create new Skymet use case for state variables"
## Describe the New Feature ##
Create a new use case for the Skymet project that runs ascii2nc and point_stat on state variables.
- Loop over the initialization time
- Loop over the model lead times (00 to 240, every 1 hour)
- For each valid time:
  - Check to see if daily ascii2nc NetCDF output file already exists.  And if not, run ascii2nc.
  - Run point_stat for “state” variables to compare pos

[2020-04-17 20:30] jprestop opened #436 "Create new Skymet use case for precip"
## Describe the New Feature ##
Create a new use case for the Skymet project that runs ascii2nc and point_stat on state variables.
- Loop over the initialization time
- Loop over the model lead times (00 to 240, every 1 hour)
- For each valid time:
  - Check to see if daily ascii2nc NetCDF output file already exists.  And if not, run ascii2nc.
  - Run pcp_combine on the post processed WRF GRIB2 out

[2020-04-20 15:55] TaraJensen opened #437 "Develop TC-RMW wrapper"
## Describe the New Feature ##
We need to develop a TC-RMW wrapper that provides configurability based on the tool conf options.  It's anticipated George will set-up the wrapper with guidance from David, Kathryn, and Tracy.

### Acceptance Testing ###
*List input data types and sources.*
*Describe tests required for new functionality.*

### Time Estimate ###
~ 30 hours of work

### Sub-Issues ###

[2020-04-20 16:07] #421 closed, assigned to lindsayrblank, CPKalb, georgemccabe

[2020-04-20 16:09] #407 closed, assigned to georgemccabe

[2020-04-20 23:57] hankenstein2 commented on #406
We have a python script used via python embedding to read the storm reports, we have a Point2Grid wrapper and are waiting an ascii2nc bug fix to chain the first 4 steps together.

[2020-04-21 15:13] fentoad72 opened #439 "Update Tutorial Chapter 2 for MET 9, METplus 3.0"
Continue with MET/METplus updates passing to George and John for proofreading

[2020-04-21 16:26] jvigh commented on #427
I made some good progress on this use case (METplus #427).
- I have prototyped the use case -- I am now debugging it. Currently, it doesn’t doesn’t seem to be reading the input file, even though I think the path is now correct. I’m guessing this might be because the GloTEC data are not fully CF-compliant.
- The next step is to probably schedule a one-on-one with George.

[2020-04-21 19:19] #434 closed, assigned to jprestop

[2020-04-22 16:36] georgemccabe commented on #422
c_dict['VAR_LIST'] is OK to use in this wrapper. This is different from the METplus config VAR_LIST, which has been replaced by calling met_util.parse_var_list. This function reads values from [FCST/OBS]\_VAR<n>\_[NAME/LEVELS/THRESH/OPTIONS] to determine which fields to process.

It looks like the StatAnalysis.conf file has FCST_VAR1 and OBS_VAR1 set. These should be set to FCST_VAR1_NAME and OBS_

[2020-04-22 20:17] georgemccabe commented on #408
@j-opatz  I made the changes you listed for Chapter 1. Regarding the comment about adding /bin (actually ${MET_BUILD_BASE}/bin) to the path, I added that directory to the path in the tutorial setup script, so that shouldn't be a problem. We may have already discussed that previously.

I added the metplus conda environment to the path. I think this SHOULD work for people not members of met-dev, but

[2020-04-23 16:25] bikegeek opened #442 "Identify errors, typos in METplus v3.0 documentation"
*Replace italics below with details for this issue.*

## Describe the Task ##
Identify any errors, typos, content that needs editing in the METplus v3.0 User's documentation

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [x] should we add env inst

[2020-04-23 16:27] bikegeek commented on #442
https://ncar.github.io/METplus/Users_Guide/met_tool_wrapper/PointStat/PointStat.html#sphx-glr-users-guide-met-tool-wrapper-pointstat-pointstat-py

Section 5.1.11.1 Point Stat example:
The Scientific Objective talks about a rainfall example, whereas when you examine the datasets and subsequent info this appears to be a wind/temperature example.  In addition there is a typo on prepBUFR (observation

[2020-04-23 18:52] georgemccabe opened #443 "Fix broken MTD use cases"
parm/use_cases/met_tool_wrapper/MTD/MTD.conf produces output files with no data in them.

## Describe the Problem ##
There should be output in these files. The config files need to be modified to adjust the thresholds/radius/min volume values to find results.

### Expected Behavior ###
Run the use case and produce output files that contain more than the header line.

### Environment ###
Describe y

[2020-04-23 18:54] fentoad72 opened #444 "Update Chapter 5 of the Tutorial"
Update text, paths, and METplus wrappers from v2.2 to v3.0 to reflect changes in METplus

[2020-04-23 18:58] fentoad72 opened #445 "Update Chapter 3 of the Tutorial"
Update Chapter 3 of the Monterrey Tutorial (July 2019) to reflect changes from METplus 2.2 to METplus 3.0

[2020-04-23 20:32] georgemccabe opened #446 "GridStat and other wrappers set input dir to OUTPUT_BASE if not set"
This should be set to an empty string if not set so the user can define the entire input path using the input template variable.

## Describe the Enhancement ##
Go through each wrapper and make sure the default value for *_INPUT_DIR is an empty string and not OUTPUT_BASE.

### Time Estimate ###
~ 1 day

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [X] *Add a checkbo

[2020-04-23 23:36] fentoad72 commented on #428
Issue #443, METplus MTD, needs to be resolved

[2020-04-23 23:43] georgemccabe commented on #443
@DanielAdriaansen, I created the two bugfix branches (named above) and made some fixes to MTD.conf in both to create output. Please review it and see if the values make sense or if it should be tweaked any more to produce better results based on the data.

I also noticed a couple other MTD use cases in the model_applications directory tree were using the randomly selected thresh/radius values that

[2020-04-24 23:46] lindsayrblank commented on #406
Hi all, the example practically perfect data from Burkely Gallo can be found on dakota here:
dakota:/d3/projects/MET/test_surrogate_severe/from_burkley_20200310/
- Local Storm Reports CSV: 200205_rpts_filtered.csv
- Binary data of LSRs gridded to the NCEP 211 grid: 20200205_REPS211.dat
- LSRs gridded to the NCEP 211 grid: 20200205_REPS211.nc
- Practically perfect probabilities (finished product):

[2020-04-25 00:08] lindsayrblank commented on #406
Earlier today, we talked about threshold needed for practically perfect. I was incorrect when I said we used thresholds. The thresholds used in the surrogate severe calculations (issue #413 ) are thresholds of updraft helicity, which we don't use for practically perfect. Instead, the binary mask we need to calculate the practically perfect probability can be produced by the Point2Grid tool directl

[2020-04-28 18:07] #404 closed, assigned to georgemccabe

[2020-04-28 18:08] #418 closed, assigned to georgemccabe

[2020-04-28 18:10] #430 closed, assigned to CPKalb, georgemccabe

[2020-04-29 21:16] j-opatz commented on #428
I have reviewed the tutorial chapter and have the following comments:

MET Tool: MODE splash page

—Links to MET users guide goes too ver. 8.0, not 9.0

MODE Tool: configure

—Links to MET users guide goes to ver 8.1, not 9.0

MODE Tool: output

—The tutorial lists what royal blue is, but what does red mean? Or green?
—NCView is installed on the system, but it’s not set for my path and I’m guessin

[2020-04-29 21:20] j-opatz commented on #444
I have reviewed the chapter and have the following comments:

Splash page

—The tutorial has the user check for the METPLUS_PARM_BASE, but this was never set in the Ch 1 tutorial.
—For tc_stat and tc_pairs usage statements, an error message shows up first before the usage statements. Can this behavior be changed to match the other tool usage statements (i.e. no errors)?

TC-Stat Tool: general

—In

[2020-05-05 19:15] georgemccabe opened #451 "Enhance PointStat to process one field at a time"
Currently PointStat only can process all fields specified in one call per run time.

## Describe the Enhancement ##
Other wrappers, like GridStat, have an option (GRID_STAT_ONCE_PER_FIELD) to specify whether to process once per field or once for all fields. This option could be made available for PointStat as well with a few modifications of the code:

* Read POINT_STAT_ONCE_PER_FIELD from config

[2020-05-05 19:25] georgemccabe opened #452 "Reorganize data directories for met_tool_wrapper use cases"
Currently the met_test directory contains all of the data used for the met_tool_wrapper use cases. This data was based on the data used and generated by the MET make test runs. More data was needed to setup all of single wrapper use cases and was added, but the data is very disorganized.

## Describe the Enhancement ##
More info needed

### Time Estimate ###
*Estimate the amount of work required h

[2020-05-05 21:46] bikegeek commented on #444
Made the following edits to the following sections:
=====================================

Chapter 5 TC-STAT: Plotting with R section
-------------------------------------------
- replaced instances of 'okular' with 'display'.  'display' was not available for the hosts during the previous tutorial

Chapter 5 Track Intensity TCMPR:
----------------------------------
- updated directory paths to use

[2020-05-05 21:54] jprestop commented on #451
I don't know that we can use the Skymet funding for this task.  I was only allocated 20 hours and I'm sure I've gone through that.  We should check with Tara to see if another funding source can be used since this work will benefit others and be used by others.  If another funding source cannot be used, we should check with the Skymet folks before charging their account.

[2020-05-06 23:30] fentoad72 commented on #439
Finished my go-through of Chapter 2, updated commands, config files, created additional exercise 2.1 where the user modifies the use_case PointStat.conf file and met_tool_wrapper file to illustrate how METplus interacts with MET

[2020-05-07 13:41] robdarvell commented on #442
Attempt to include my first comment (there will be a few!): Hope all goes well.
Have been through the METplus document (Users Guide part of it) now to make sure all of the examples work on the version which I downloaded with the MET9 version I created on our system.
Didn't run any of the GEMPak examples (not deemed relevant at this point in time)

Some of them may appear a little annoying (small t

[2020-05-07 13:46] robdarvell commented on #442
Section 2.5.1:
In the 'Model Applications' list there are now more than the 4 listed example tar files. Should the others get included in order to be able to run all of the examples?

[2020-05-07 13:47] robdarvell commented on #442
Section 2.6:
Towards the bottom it talks about a /src directory. I couldn't find this. Have I missed something?

[2020-05-07 13:51] robdarvell commented on #442
Section 2.11:
In the first text box for 'Example 1' there is a typo at :
"# Otherwise -et ..."  (missing s in set?)

[2020-05-11 17:56] georgemccabe opened #454 "GenVxMask wrapper doesn't handle commas within command line arguments properly"
The user provides command line arguments pass to gen_vx_mask for each call. The wrapper can be configured to run the tool multiple times, applying new filters for each call. The logic currently separates the arguments to these calls with a comma. However, if the command line arguments contain a comma within [] or (), the arguments will be split up incorrectly. Example: level="(*,*) or censor_thres

[2020-05-11 21:19] fentoad72 commented on #445
I've gone through Chapter 3.  Most changes are in the METplus section, and I'm not sure about the answers to Exercises 3.1 and 3.2 since the conf file contents and variable names may have changed

[2020-05-12 02:30] fentoad72 commented on #444
Modified Chapter 5 through (not including) Feature Relative and Tutorial Survey

[2020-05-12 13:49] robdarvell commented on #442
Section 3.3.1.2:
Format for the VALID_END variable appears different to all others. Others have description starting alongside variable name whereas this variable starts a new section

[2020-05-12 13:53] robdarvell commented on #442
Section 3.3.1.4:
Starting from "If LOOP_BY = INIT" the date of 2019-02-01 is incorrectly written

Also in the INIT_SEQ part:
I am a little confused with how what is written in the first text box then relates to the forecast range list in the words which follow (going as far as 30 etc). Is this relating to something else written above?

[2020-05-12 14:15] robdarvell commented on #442
Section 3.3.4.5:
Typo on following (folloing)

[2020-05-12 14:20] robdarvell commented on #442
Section 3.3.4.4:
The last couple of text boxes with the example text in them. I understand that the obs for P750 would come from the (1,*,*), but I can't see why both of the fcst rows calls [ level="P500" ]. Is it a case you always need to refer to the first element, and then it will find the second element from the ob reference? Perhaps a little more explanation?

[2020-05-12 14:41] robdarvell commented on #442
Section 3.3.5.5
Is there a bit of text missing to aid users who read this example? In order for the time window given in the example to work with the observation files it suggests that it isn't an exact 7200-7200 window which gets used, it appears to be -7200->7199 or >=-7200 and <7200. First times I have read through it it seems a little confusing without that extra info (unless I have mis-interp

[2020-05-12 14:44] robdarvell commented on #442
Section 3.4:
Use case example 1: Is there a format issue after the '-set MET_INSTALL_DIR' row ? (with how the 'where' and subsequent row appear)

[2020-05-12 15:03] robdarvell commented on #442
Section 3.4:  Track and Intensity use case
2(g) : The METplus_Data part of the directory path doesn't appear to exist when you unzip the tarball?
3(b): Last row, should this also be metplus_config ?
3(d): Extra METplus appeared in the path (before parm) ?
3(d) - 1(b): Following comment from 2(g) above not sure path is correct (METplus_Data part)
4(a(2)): Is there an = missing on the export row ?

[2020-05-12 15:10] robdarvell commented on #442
Section 5.1.2.1:
In the 'Running METplus' section it talks about a user_data.conf file, but it doesn't seem to introduce this file anywhere that I could spot (and don't think it was required when I ran it)
In the 'Expected Output' section, the output seems to go into a 'cyclone' directory rather than a 'tc_pairs' directory

[2020-05-12 15:42] georgemccabe commented on #454
Jonathan approved this pull request via email by ensuring his use case now works correctly after the fix.

[2020-05-12 15:42] #454 closed, assigned to georgemccabe

[2020-05-12 16:30] #443 closed, assigned to DanielAdriaansen, georgemccabe, j-opatz

[2020-05-12 22:48] #451 closed, assigned to TaraJensen, georgemccabe

[2020-05-13 13:47] robdarvell commented on #442
Section 5.1.6.1:
In the 'Running METplus' section - In point 2 there is a typo on forecast
In the 'Expected Output' section - Output for the use_case isn't grid_stat/2005080700 relative to OUTPUT_BASE it is met_tool_wrapper/GridStat/GridStat_multiple_config/2005080700. In addition the filenames which you find are different (WRF rather than QPF and MC_PCP rather than QPE)

[2020-05-13 13:54] robdarvell commented on #442
Section 5.1.6.2:
Firstly, was thinking whether or not a 'Basic' use_case should come before the more complicated example?
In the 'Expected Output' section the link to the output in relation to the OUTPUT_BASE is incorrect (it seems to go to met_tool_wrapper/GridStat/GridStat/2005080700). Also as with Section 5.1.6.1 the filenames of the output contain WRF rather than QPF and MC_PCP rather than QPE

[2020-05-13 13:59] robdarvell commented on #442
Section 5.1.8.2:
Similar question as to section 5.1.6.2 above as to whether this 'Basic' case should be the first one in the section, building up to the other examples?

[2020-05-13 14:57] robdarvell commented on #442
Section 5.1.15.1:
In the 'Running METplus' section the text box to run the script just contains /path/to/StatAnalysis.conf whereas other sections include things like /path/to/METplus/parm... Is this in error?

[2020-05-13 14:58] georgemccabe opened #460 "Split up use case tests so it can be run on Travis"
Currently the use case tests take longer to run than the 50 minute limit for a Travis job.

## Describe the Enhancement ##
We need to split up the use case tests into sections (met_tool_wrapper, precipitation, convection_allowing_models, etc.) so they can be run on independent jobs. The test script can take an argument to determine which tests to run.

### Time Estimate ###
~1 day of work

### Sub

[2020-05-13 15:01] robdarvell commented on #442
Section 5.1.16.1:
In the 'Expected Output' section, the path to the output in relation to OUTPUT_BASE doesn't look right. I think grid_stat/2005080700 needs to be replaced by tcmpr_plots/

[2020-05-14 13:42] jimfrimel commented on #185
METplus GItHub-DockerHub-Travis Picture overview.

![METplus_trifecta](https://user-images.githubusercontent.com/20955459/81939372-7900c680-95b3-11ea-9a21-8c983d4aaaa9.jpg)
![METplus_travisjob](https://user-images.githubusercontent.com/20955459/81941614-4ad0b600-95b6-11ea-87e0-7ec2436707a7.jpg)

[2020-05-14 13:42] #185 closed

[2020-05-14 15:18] jimfrimel opened #461 "Setup new location to house INPUT DATA for testing"
## Describe the Task ##
Currently the required input data to run the automated tests in Travis CI is pulling
down the test data from the v3.0 release assets ( attachments ). https://github.com/NCAR/METplus/releases/tag/v3.0

**IMMEDIATE TERM**: 🚀
- [ ] DETERMINE if Google Drive can Be used to meet the requirements of this task.

- [ ] Define a location (Where should we house the Binary Data requir

[2020-05-14 16:28] DanielAdriaansen opened #463 "Add new use case for MTD with convection allowing models"
## Describe the Task ##
Add a new use case utilizing MODE Time Domain (MTD) under the model_applications/convection_allowing_models area of the use cases.

### Time Estimate ###
1-2 days

## Task Checklist ##
See the [METplus Workflow](https://ncar.github.io/METplus/Contributors_Guide/github_workflow.html) for details.
- [ ] Complete the issue definition above.
- [ ] Fork this repository or create

[2020-05-14 16:29] DanielAdriaansen commented on #463
I assigned this to myself and @TaraJensen for now, but I think there may be a scientist better suited to this than myself because I'm not too familiar with MTD or where to source CAM data or what might be evaluated from CAM output using MTD.

[2020-05-18 15:20] #460 closed, assigned to georgemccabe

[2020-05-18 16:13] georgemccabe opened #464 "Use case config files should not set verbosity"
Many use case config files have a value for the MET tool verbosity set, i.e. LOG_GRID_STAT_VERBOSITY = 2. If the user were to set LOG_MET_VERBOSITY = 3, the value would not apply to GridStat due to this variable being set.

## Describe the Problem ##
We should remove (or comment out) all uses of LOG_*_VERBOSITY in the use case config files. This is not technically a bug, but we need the changes to

[2020-05-18 16:17] georgemccabe commented on #464
Here is the full list of use cases that set verbosity:

mccabe@kiowa:~/METplus.master_v3.0/parm/use_cases$ search . VERBOSITY
././met_tool_wrapper/ASCII2NC/ASCII2NC_python_embedding_user_py.conf:# Verbosity of MET output - overrides LOG_VERBOSITY for ASCII2NC only
././met_tool_wrapper/ASCII2NC/ASCII2NC_python_embedding_user_py.conf:LOG_ASCII2NC_VERBOSITY = 1
././met_tool_wrapper/ASCII2NC/ASCII2NC_

[2020-05-18 16:43] fentoad72 commented on #460
Hi George,

That changes Travis.yml in which repos?  (All of them, some of them.). When
I start working on Travis (any second now), want to be sure I’m using the
latest...

On Mon, May 18, 2020 at 09:21 George McCabe <notifications@github.com>
wrote:

--
=============
Todd Arbetter, PhD
Research Applications Laboratory
National Center for Atmospheric Research

[2020-05-18 16:57] georgemccabe commented on #460
The changes to the .travis.yml file are in the develop branch of the METplus repo.

[2020-05-19 15:22] jimfrimel opened #467 "Address Travis CI build and Docker image MET/METplus build timing"
## Describe the Task ##

This Task is also defined as a Sub-issue to: #478
However, it can be considered/viewed and implemented as a separate task,
independent of the parent task.

Implement a solution and/or define a workflow that removes the timing dependency
between Docker Hub images and Travis CI pulling those images.

Currently, commits to METplus on GithHub trigger both a METplus Travis Buil

[2020-05-20 17:06] fentoad72 opened #468 "Tutorial testing on supported platforms"
The 2020 METplus Tutorial Beta is nearly finished, and will be current when MET 9.0.2 and METplus 3.0.2 are being released as early as Friday.  It's been changed to reflect changes in METplus wrappers and configuration files, with a platform-dependent setup script and "tutorial.conf" (called with master_metplus.py) declaring local directories and paths

## Describe the Task ##
Test the tutorial wi

[2020-05-20 17:35] fentoad72 commented on #468
Please wait until Tara finishes her review of the Tutorial.

It starts here:  [https://dtcenter.org/metplus-practical-session-guide-2020-beta](https://dtcenter.org/metplus-practical-session-guide-2020-beta)

[2020-05-20 19:43] #464 closed, assigned to georgemccabe

[2020-05-20 20:03] georgemccabe commented on #461
In the last METplus engineering meeting, we discussed adding new sample data on beta releases that can be downloaded by Travis to run the new use cases.

[2020-05-20 21:46] jprestop commented on #468
Should this be tested only with MET 9.0.2 and METplus 3.0.2?  Thanks!

[2020-05-20 22:02] fentoad72 commented on #468
METplus 3.0.2 contains fixes for MODE, MTD, and also the data patch, so it needs to be that.  (Also can you add the data patch to the global METplus_data directory if it hasn't been done already?  I don't have permission on any of the machines I listed.)

I didn't find any MET issues but I don't know if any of the MET part of the tutorial was changed or if it's using the METplus3.0.2 data patch.

[2020-05-20 22:11] jprestop commented on #468
Thanks, Todd.  I will need to get these versions installed on those machines before folks can test with them.  Regarding any new data sets for the new METplus release, I'll take care of that on the new machines when I install the new MET/METplus software after they're released.

[2020-05-20 23:25] fentoad72 commented on #468
Thanks Julie!  Please let us know when everything's ready

[2020-05-22 15:59] georgemccabe opened #470 "Remove jlogger and postmsg"
We no longer need to use this functionality in METplus and users have set JLOGFILE incorrectly which causes cryptic errors, so we should just remove it from the code.

## Describe the Task ##
From an email from Jim Frimel:

Currently METplus is essentially NOT even using it, at least in the manner intended, so as such there is no
point to keeping what we do have.
I think I just saw one 'jlogger' a

[2020-05-22 18:27] georgemccabe opened #471 "Remove uswrp from use case output directories"
This was copied around and should be removed from all use cases.

## Describe the Problem ##
Not really a bug but going into bugfix release 3.0.2

## Define the Metadata ##

### Assignee ###
- [X] Select **engineer(s)** or **no engineer** required
- [X] Select **no scientist** required

### Labels ###
- [X] Select **component(s)**
- [X] Select **priority**
- [X] Select **requestor(s)**

### Projec

[2020-05-26 18:34] georgemccabe commented on #439
Comment to test Todd's email filtering.

[2020-05-27 00:16] jvigh commented on #427
I've completed development. Am awaiting George's review.

[2020-05-27 01:56] TaraJensen commented on #427
Awesome. Thanks

On Tue, May 26, 2020, 6:17 PM Jonathan Vigh <notifications@github.com>
wrote:

[2020-05-27 15:04] jimfrimel opened #478 "Add additional Branch support to the Travis CI pipeline"
##  Describe the Task ##

This is a parent Task and is broken into  Sub-issues.
Add additional multi-branch support to the METplus Dockerfile and the Travis yml file.

Currently the Travis CI build runs on the develop branch, feature_ branches
and all pull_requests ..., ADD and define additional branches that you
would like to be able to support, ie. master_v3.0, master_vx.x, bugfix) etc ...
The p

[2020-05-27 15:08] jimfrimel opened #479 "Add support to the METplus Dockerfile to build images based on specific branches"
This is a sub-issue of #478

## Describe the Sub-Issue ##
Add support to the METplus Dockerfile to build images based on specific branches.
ie. develop image, a master_v3.0 image, bugfix image etc ...
And then update Docker Hub dtcenter/metplus to Build those images.

MET is building multiple images based on branches now for its Docker file ... good place to look for an example ...

Consider from

[2020-05-27 15:11] jimfrimel opened #480 "Add Multi branch Support to the Travis yml file"
This is a sub-issue of #478

## Describe the Sub-Issue ##
Next, The travis build workflow itself needs 'logic' added to run and BUILD or PULL
different METplus Docker images (develop, master_v3.0, etc ...) based on the branch
it is running a build on.  (Implicit in this is also the proper MET image being used
in the METplus Dockerfile

- Add Multi branch Support to the travis.yml file
  This would

[2020-05-27 16:32] #405 closed, assigned to lindsayrblank, hsoh-u, CPKalb, georgemccabe, hankenstein2

[2020-05-27 16:47] TaraJensen commented on #445
I'm done with this Chapter

[2020-05-27 16:48] TaraJensen commented on #444
I'm done with this chapter

[2020-05-27 16:48] TaraJensen commented on #439
I'm done with this chapter

[2020-05-27 16:48] TaraJensen commented on #428
I'm done with this chapter

[2020-05-27 16:49] TaraJensen commented on #408
I'm done with this chapter

[2020-05-27 16:50] TaraJensen commented on #303
Closing - outdated feedback - will not fix

[2020-05-27 16:50] #303 closed, assigned to nobody

[2020-05-27 21:53] georgemccabe commented on #343
It seems to make more sense to turn these classes into functions. They don't need to be classes since they just initialize, then run one function every time they are used.

[2020-05-28 14:13] jimfrimel opened #481 "Add Anaconda to METplus docker Images"
## Describe the Task ##

Install Anaconda within the METplus Docker image.

Note
This is not necessarily trivial and requires  investigation.
Ideally we do not want to build Anaconda from scratch in our Dockerfile,
we want to import an Anaconda image. Does continuum have one in DockerHub etc ..

Currently running python 3 (3.6.8) which is that latest that is available from the MET Dockerfile  and

[2020-05-28 14:17] jimfrimel opened #482 "Add support to run METplus tests against multiple version of Python"
This is a sub-issue of #481

Once Anaconda has been added to the METplus Docker imagek  Add support to run METplus tests against multiple version of Python.

HOW ?
You could stack up commands to  docker run command to conda activate 3.7
ie. docker run --rm <blah>..<blah>  /bin/bash -c 'conda activate py3.7;<run tests>'

BETTER: Ultimately ci/ scripts should be created and added to METplus repo
and

[2020-05-28 14:29] jimfrimel commented on #481
Need to close and recreate as a Sub-issue.

[2020-05-28 14:29] #481 closed, assigned to nobody

[2020-05-28 14:30] jimfrimel commented on #482
Need to close and re-create.
This is not a Sub-issue

[2020-05-28 14:30] #482 closed, assigned to nobody

[2020-05-28 14:32] jimfrimel opened #483 "Add support to run METplus tests against multiple version of Python"
## Describe the Task ##

Add support to run METplus tests against multiple version of Python.
See Sub-issues (Once Anaconda has been added to the METplus Docker image )

HOW ?
You could stack up commands to docker run command to conda activate 3.7
ie. docker run --rm .. /bin/bash -c 'conda activate py3.7;'

BETTER: Ultimately ci/ scripts should be created and added to METplus repo
and travis calls

[2020-05-28 14:33] jimfrimel opened #484 "Add Anaconda to METplus docker Images"
This is a sub-issue of #483

## Describe the Sub-Issue ##
Install Anaconda within the METplus Docker image.

Note
This is not necessarily trivial and requires  investigation.
Ideally we do not want to build Anaconda from scratch in our Dockerfile,
we want to import an Anaconda image. Does continuum have one in DockerHub etc ..

Currently running python 3 (3.6.8) which is that latest that is availa

[2020-05-28 14:50] jimfrimel opened #485 "Add support to run the METplus plotting tests to Travis CI."
## Describe the Task ##

Add the METplus Plotting Tests to the CI framework.
This depends first on adding Anaconda to the METplus Image (see Sub-issue).

Note: The METPLUS_DISABLE_PLOT_WRAPPERS environment variable
will need to be updated in the current Dockerfile. Plotting wrappers
are currently disabled.

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent

[2020-05-28 15:01] georgemccabe commented on #427
Pull request approved, new use case is now being run in automated tests.

[2020-05-28 15:01] #427 closed, assigned to jvigh, georgemccabe

[2020-05-28 15:16] jimfrimel opened #486 "Consider Documenting the METPlus API with sphinx."
## Describe the Task ##

Consider Documenting the METPlus API with sphinx.

Last conversation at the Engineering meeting: We were no longer going to do this and instead stay with doxygen ? If that is true, you can probably close this issue.

However, I'm not sure, and therefore just wanted to add this issues as a record.
I thought the plan was to move the METplus script layer to sphinx and keep th

[2020-05-28 15:22] jimfrimel opened #487 "Add Automation to Deploy METplus Documentation to GitHub Pages."
## Describe the Task ##

Add Automation to Deploy METplus Documentation to GitHub Pages.

The DOCS task in the current Travis yml is a placeholder and is to be
used as a staring point.

Carp the METpy/ci script and modify to meet METplus requirements.

Reference the METpy travis.yml DOCS sections and setup

METplus travis.yml DOCS section is only running doc8 (the opinionated style checker on the

[2020-05-28 15:36] jimfrimel opened #488 "Revisit and Review the default README badges"
## Describe the Task ##

Regarding the README.md and the badges discussion we had:
Currently the badges define ONLY the develop branch build info.

Figure out a way to to generalize the README.md so it doesn't have
to be edited specifically for each branch it lives on.

Research and review ...number of projects in GitHub try to do,
with no great success ... and I couldn't find a simple solution at

[2020-05-28 15:43] jimfrimel opened #489 "Add Support for running ALL currently runable Pytests within Travis"
## Describe the Task ##

Note: This issue may  be completed. If it is, then close this issue and consider
this as a record of completion.

Add Support for running ALL currently runrable Pytests within Travis CI.

Also, confirm that failures from Pytests cause the Travis build to indeed fail.

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately

[2020-05-28 16:33] TaraJensen opened #490 "Develop Grid-Diag Wrapper"
## Describe the New Feature ##
The Grid-Diag tool released in METv9.0 needs a new wrapper for several projects and DTC T&E activity

### Acceptance Testing ###
Input test data:  Data used for tool development
Output test data:  Output used for tool development
Need consistency with other METplus wrappers for functionality and availability of all config settings that will be changed routinely

###

[2020-05-28 16:39] jimfrimel opened #491 "Add Support for running ALL runnable uses_cases within Travis"
## Describe the Task ##

Add Support for running ALL /parm/uses_cases (model_applications and met_tool_wrappers) within Travis.

NOTE:
The Majority of this issue is completed by this closed issue SEE: #460
Consider this new issue as a record of completion and a minor cleanup.
  - [x] Added support for GempakToCF tests and pulling down GempakToCF.jar
  - [x] Added yum -y install java-1.8.0-openjdk

[2020-05-28 16:44] #413 closed, assigned to lindsayrblank, CPKalb, hankenstein2

[2020-05-28 16:46] TaraJensen opened #492 "Develop a StatAnalysis use-case to demonstrate using Python Embedding"
## Describe the Enhancement ##
It would be good to have an example of how to run StatAnalysis using Python Embedding, specifically to pass in matched pair records.  SWPC would like to use StatAnalysis to compute statistics for their ASCII-based forecasts and observations.

Input: Could be the python embedding test file and script in the MET test-suite
Output: Same as MET test scripts

### Time Est

[2020-05-28 17:01] jimfrimel opened #493 "Review, and refactor Travis yml file."
## Describe the Task ##

Note: This has been started.  This is really a clean-up and refactor/improvement issue. It will help support and simplify the maintenance of the METplus continuous integration framework that was started.

A ci/travis_jobs directory has been created.

Consider: IDEALLY

**MOVE script commands out of TRAVIS in to their own METplus/ci/travis_jobs  scripts**.  Github #606

- T

[2020-05-28 17:08] fentoad72 commented on #445
Closed unless errors are found testing on supporting NCAR, NOAA platforms (#468)

[2020-05-28 17:08] #445 closed, assigned to TaraJensen, georgemccabe, fentoad72, j-opatz

[2020-05-28 17:08] fentoad72 commented on #444
Closed unless errors are found testing on supporting NCAR, NOAA platforms (#468)

[2020-05-28 17:08] #444 closed, assigned to bikegeek, georgemccabe, fentoad72, j-opatz

[2020-05-28 17:09] fentoad72 commented on #439
Closed unless errors are found testing on supporting NCAR, NOAA platforms (#468)

[2020-05-28 17:09] #439 closed, assigned to TaraJensen, georgemccabe, fentoad72, j-opatz

[2020-05-28 17:10] fentoad72 commented on #428
Closed unless errors are found testing on supporting NCAR, NOAA platforms (#468)

[2020-05-28 17:10] #428 closed, assigned to georgemccabe, fentoad72, j-opatz

[2020-05-28 17:10] fentoad72 commented on #408
Closed unless errors are found testing on supporting NCAR, NOAA platforms (#468)

[2020-05-28 17:10] #408 closed, assigned to georgemccabe, fentoad72, j-opatz

[2020-05-28 17:20] jimfrimel opened #494 "Refine use case testing by validating the output and Add regression testing."
## Describe the Task ##

This is general and meant to document what I see as two important requirements that needs to be considered and added to the testing framework.

I would expect this to be either broken in to specific Sub-issues as those
are identified or just have there own tasks.

ONE:
IDEALLY Add logic to use case tests (stand alone wrappers and model application), where appropriate, to v

[2020-06-01 19:04] #471 closed, assigned to georgemccabe

[2020-06-02 16:09] #343 closed, assigned to georgemccabe

[2020-06-03 12:17] robdarvell commented on #442
Section 5.1.17.1:
In the 'Running METplus' section, in the text box, the format for where to find TCPairs_tropical.conf isn''t the same as in other sections.
Also in the 'Expected Output' section, the idea of where to find the output doesn't follow the same pattern as with other sections.

[2020-06-03 12:20] robdarvell commented on #442
General comment in the 'Datasets' section. It refers to the 'Running METplus' section. Is it missing the word 'Wrappers'? (Section 2.11)

[2020-06-03 12:54] robdarvell commented on #442
Section 5.1.18.1:
In the 'METplus Workflow' section, what does the TCST represent (and is the * supposed to represent something?)
Underneath the MET configuration config file text box there isn't the same level of description of variable names as in other examples?
In the 'Expected Output' section there is output referencing to tc_pairs and then later tc_stat. I think the tc_pairs reference is inc

[2020-06-03 12:57] robdarvell commented on #442
Section 5.2.1.1:
In the 'External Dependencies' section there is a typo of tool (written too)

[2020-06-03 13:02] robdarvell commented on #442
Section 5.5.1.2:
In the 'Datasets' section. Is the third bullet required? (Doesn't make sense in relation to the other two). Would it look better with 'data' adding at the end of the Observations bullet?
In the 'Expected Output' section, the pathname to the output is missing an Ensemble_Stat before the timestamp part.

[2020-06-03 13:06] robdarvell commented on #442
Section 5.2.1.3:
In the 'Expected Output' section, the path to the output files is incorrect. It goes into a 'hailtest' directory from the OUTPUT_BASE.

[2020-06-03 13:15] robdarvell commented on #442
Section 5.2.2.1:
In the 'Datasets' -> 'Observation Dataset', first bullet. I think the final operator is supposed to be a  > rather than a < ?
In the 'Running METplus' section does it require the user_config file to be referenced as well (as seen in all the other examples)?
In the 'Expected Output' section, typo in the first text box, running rather than runing?
Should 'as and example' just be 'as

[2020-06-03 13:18] robdarvell commented on #442
Section 5.2.3.1:
In the Scientific Objective section: Is there a typo with sumes rather than sums ?

[2020-06-03 13:19] robdarvell commented on #442
Section 5.2.3.2:
Just before the 'Running METplus' section we shouldn't really have a TODO bit?

[2020-06-03 13:32] robdarvell commented on #442
Section 5.2.3.3:
In the 'Scientific Description' section, typo of eatures which I think should be features?
In the 'Datasets' section, is the last bullet required?
In the 'Expected Output' section:
  Path to the output should include series_analysis_lead in relation to OUTPUT_BASE
  In the Day1 subdirectory list, the second file should be FCST_FILES_... rather than FCST_ASCII_FILES_...  (ie no ASC

[2020-06-03 13:52] robdarvell commented on #442
Section 5.2.3.4:
In the 'Expected Output' section, path to the output in relation to OUTPUT_BASE not correct. Appears to contain uswrp/met_out ...

[2020-06-03 13:55] robdarvell commented on #442
Section 5.2.3.5:
In the Datasets section, is the last bullet point required ?
In the 'METplus Workflow' section, is the last forecast range supposed to be 42 rather than 40?

[2020-06-03 13:57] robdarvell commented on #442
Section 5.2.4.1:
In the Datasets section, is the last bullet point required ?
In the 'Expected Output' section it says the directory will contain the following files, but then there are no files listed?

[2020-06-03 13:57] robdarvell commented on #442
Section 5.2.4.2:
In the Datasets section, is the last bullet point required ?

[2020-06-03 13:58] robdarvell commented on #442
Section 5.2.4.3:
In the Datasets section, is the last bullet point required ?
In the 'Expected Output' section it says the directory will contain the following files, but then there are no files listed?

[2020-06-03 14:01] robdarvell commented on #442
Section 5.2.4.4:
In the 'Expected Output' section, there is no grid_stat in the pathname as to where to find the output? Think it should be uswrp/met_out/{MODEL}/precip

[2020-06-03 14:02] robdarvell commented on #442
Section 5.2.4.7:
In the Datasets section, is the last bullet point required ?

[2020-06-03 14:04] robdarvell commented on #442
Section 5.2.7.2:
Don't know whether this was just me, but I could only get this example to work if the tc_pairs directory was empty to begin with (ie no other example output in it). If this is the case then it may be worth including that information for users somewhere?

[2020-06-03 15:02] robdarvell commented on #442
Section 8:
Not going to entirely go through this. Some may well be how the documentation gets built. Some summary comments mind you. Maybe worth someone looking through it?
 * CUSTOM_LOOP_LIST: Underneath the text box the first letter of the next couple of paragraphs are missing
 * CUT: Space missing after Linux
 * EXTRACT_TILES_DLAT: Maybe my understanding of the variable, but should it be simila

[2020-06-03 15:20] robdarvell commented on #442
OK, think that covers everything that I have written down in my notes. Not saying I haven't missed things.
Hope that it is of some use to you.

[2020-06-03 18:28] georgemccabe commented on #422
This issue is more of an enhancement to improve the logging to alert the user if they are missing required configuration variables or have something misconfigured. Changing this ticket to Enhancement.

[2020-06-03 23:31] georgemccabe commented on #422
It looks environment variables FCST_LEVEL and OBS_LEVEL are being set to '""' if they are not set via the config file, which is causing these arguments to be set instead of ignored.

FILTER:        -job filter -model CAMSiRA -fcst_lead 000000 -fcst_valid_beg 20180401_000000 -fcst_valid_end 20180501_210000 -fcst_valid_hour 000000 -fcst_valid_hour 030000 -fcst_valid_hour 060000 -fcst_valid_hour 0900

[2020-06-04 15:37] georgemccabe opened #498 "Create Docker image for METplus release"
We currently have 1 docker image for METplus which is tied to the develop branch. It does not obtain the METplus code because we use Travis to obtain it based on the branch that triggered the build.

We should create an image for METplus 3.0(.2) that is tied to MET 9.0(.2), obtains the METplus tarball for the release, and installs it (sets conf variables based on docker environment). Once that wor

[2020-06-04 16:09] #311 closed, assigned to georgemccabe

[2020-06-04 20:29] georgemccabe opened #500 "Enhance StatAnalysis/MakePlots to handle data generated from NetCDF files"
Currently when these 2 wrappers are run together, they generate a specific filename to be read by the plotting scripts. This filename contains level information, which contains commas for NetCDF data as is an invalid filename. These wrappers and plotting scripts should be enhanced to support a filename template as the input for MakePlots so NetCDF data can be used.

## Describe the Enhancement ##

[2020-06-04 22:03] j-opatz commented on #442
Copied over "open" issues from #238, which has largely been completed. Will continue to check for status of those first, close that issue when appropriate, then begin work on above comments.

[2020-06-08 16:20] fentoad72 opened #501 "Review new METplus-3.0.2 tutorial"
*Replace italics below with details for this issue.*

## Describe the Task ##
Check new Tutorial for mistakes, unclear things

### Time Estimate ###
3 days

### Relevant Deadlines ###
ASAP for Input for METplus training videos

### Projects and Milestone ###
- [ ] Review **projects** and select relevant **Repository** and **Organization** ones
- [x] Select **milestone**

## Define Related Issue(s)

[2020-06-08 16:45] j-opatz commented on #238
Confirmed that updates were completed with newer METplus releases, remaining issues not covered were completed in addition to list in #442.

[2020-06-08 16:45] #238 closed, assigned to jprestop, DanielAdriaansen, j-opatz

[2020-06-08 17:17] jvigh commented on #492
George and I just debugged my install on kiowa. It was a path issue that was causing the issue (python2 was not doing the import properly). So this pull request is good to go.

[2020-06-08 17:17] #492 closed, assigned to jvigh, TaraJensen, georgemccabe

[2020-06-08 18:50] fentoad72 commented on #501
Assigned this to myself

[2020-06-08 20:11] jprestop opened #502 "Add variable MET_BIN_DIR to replace {MET_INSTALL_DIR}/bin in the code"
## Describe the Problem ##
METplus wrappers scripts currently reference {MET_INSTALL_DIR}/bin, expecting the MET executables to be located in a "bin" directory.  However, NCO has asked for the executables to be in an "exec" directory, so we need to make this modifiable for the user.

### Expected Behavior ###
Replace {MET_INSTALL_DIR}/bin with MET_BIN_DIR throughout the code so that the user can c

[2020-06-08 20:29] jprestop opened #503 "Change the shebang lines from "#!/usr/bin/env python" to "#!/usr/bin/env python3""
## Describe the Task ##
Change the shebang lines from "#!/usr/bin/env python" to "#!/usr/bin/env python3"
Best practice indicates that we should change python shebangs to python3 when Python 3.x is supported.

### Time Estimate ###
1 day

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [x] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
METplus-3.1

###

[2020-06-09 18:05] fentoad72 commented on #501
Changing call order of METplus conf files so tutorial.conf is always called 1st

[2020-06-09 21:25] fentoad72 commented on #501
On this page: (https://dtcenter.org/metplus-practical-session-guide-version-3-0/session-2-grid-obs/met-tool-pb2nc)
It references a PrepBUFR document: from NOAA dated Feb 2018
http://www.emc.ncep.noaa.gov/mmb/data_processing/prepbufr.doc/document.htm 

The new Bufr page doesn't go into the detail of the 2018 document, but has links that do
https://emc.ncep.noaa.gov/emc/pages/infrastructure/bufrlib.

[2020-06-10 00:26] bikegeek commented on #442
**Questions/Still some of Rob's comments not addressed**

1) Not sure which version is correct, as Rob's comments on 5.2.3.4 :
_Section 5.2.3.4:
In the 'Expected Output' section, path to the output in relation to OUTPUT_BASE not correct. Appears to contain uswrp/met_out ..._

The previous version is indicating expected output as gather_by_date/stat_analysis/grid2grid/sfc (relative to OUTPUT_BASE),

[2020-06-10 13:44] georgemccabe commented on #442
1) You should refer to the current conf file to see what the value is set to.

grep OUTPUT_DIR ~/METplus/parm/use_cases/model_applications/medium_range/GridStat_fcstGFS_obsGFS_Sfc_MultiField.conf
GRID_STAT_OUTPUT_DIR = {OUTPUT_BASE}/met_out/{MODEL}/sfc

[2020-06-10 20:03] fentoad72 commented on #501
Updating MET USERS GUIDE to 9.0.1 on all pages

[2020-06-10 21:35] j-opatz commented on #442
Reviewed comments and corrected 1), it seems 2) and 3) were already corrected in initial submission. 4) has formatting issues beyond quick fix; may be related to alphabetical reordering of entries/behind the scene website build issues, as the entries themselves look identical to those without issues, and paragraphs have the beginning letters for CUSTOM_LOOP_LIST. My knowledge of MTD_OBS_CONV_THRES

[2020-06-11 01:58] fentoad72 commented on #501
Completed through Chapter 5.  Up to date for METplus3.0.2 and MET9.0.1

[2020-06-11 17:25] fentoad72 commented on #501
After METplus Engineering meeting, replacing links to MET User's Guide 9.0.1 to MET User's Guide 9.0_latest (can update manual without needing to update links every time)

[2020-06-12 04:10] JohnHalleyGotway opened #506 "Create an Amazon AMI containing all METplus components."
## Describe the Task ##
This issue began as a task for creating an AMI for use in METplus tutorial videos.
However, it has evolved into creating a general-purpose AMI for all of the METplus components. Note that it should NOT be based on Docker containers. Instead, install all of the components directly on the AMI. The key task here is writing a highly automated script to make creation of the AMI

[2020-06-12 15:49] fentoad72 commented on #501
added how to source /path/to/METplus_Tutorial/TutorialSetup.[machine].sh at the beginning of Chapters 2-5

[2020-06-12 15:49] #501 closed, assigned to fentoad72

[2020-06-15 14:05] hankenstein2 commented on #446
First step. OUTPUT_BASE is not set to INPUT_BASE anywhere
grep -r "OUTPUT_BASE =" * and
grep -r "OUTPUT_BASE=" *

show that only internal_tests have OUTPUT_BASE set to something explicit

[2020-06-15 14:45] georgemccabe commented on #446
Sorry, there was a typo in the initial comment. _INPUT_DIR is set to OUTPUT_BASE by default when it should be set to an empty string so the full path to input data can be defined in the corresponding _INPUT_TEMPLATE. For example, currently we have:

[code]

The _INPUT_TEMPLATE is required and we tell users that the _INPUT_DIR is optional so you can put the full path in _INPUT_TEMPLATE. The way the

[2020-06-15 17:04] #502 closed, assigned to jprestop

[2020-06-16 17:31] georgemccabe commented on #503
From email thread: You can still obtain the same functionality as calling a wrapper directly by adding an explicit override of the PROCESS_LIST.

For example, if you have a use case that calls GridStat and StatAnalysis in the PROCESS_LIST, let's call it GridStat_StatAnalysis_together.conf. If you wanted to just call GridStat, previously you could call

grid_stat_wrapper.py -c GridStat_StatAnalysis

[2020-06-16 17:38] j-opatz commented on #442
Branch has been reviewed and merged with Develop.

[2020-06-16 17:38] #442 closed, assigned to j-opatz

[2020-06-16 18:01] #503 closed, assigned to georgemccabe

[2020-06-16 18:50] #446 closed, assigned to georgemccabe, hankenstein2, fentoad72

[2020-06-17 17:38] georgemccabe opened #509 "Running EnsembleStat then GridStat fails when PCPCombine is also run"
Running with the following configuration fails:

[code]
## Describe the Problem ##
CompareGriddedWrapper contains logic (called for GridStat) that checks if ```[FCST/OBS]_PCP_COMBINE_RUN``` is set and formats the field name/level in a specific way to match the output of PCPCombine. This is still in the code to support legacy configurations where the ```[FCST/OBS]_VAR<n>_[NAME/LEVELS]``` affected l

[2020-06-17 17:48] georgemccabe opened #510 "Refactor command line argument parsing"
Currently the parsing is done inside config_metplus. The parsing of the command line should really be done inside the script that is called, master_metplus.py, then the list of values should be passed into config_metplus for processing.

## Describe the Enhancement ##
This enhancement would allow the pytests to be run correctly. They are currently called by passing arguments to pytest which are ha

[2020-06-17 17:48] georgemccabe opened #511 "Enhancement: Enhance command line arguments to override single variables to support lists"
You can specify variables on the command line when calling master_metplus.py like this:

master_metplus.py -c config.PROCESS_LIST=EnsembleStat

However, you cannot pass in a list of items, even if the list is surrounded by quotes:

master_metplus.py -c config.PROCESS_LIST="EnsembleStat,GridStat"

This is likely due to the logic to parse the command line arguments splitting items by comma without c

[2020-06-17 20:06] CPKalb opened #512 "Enable METplus to only process certain months of a year"
*Replace italics below with details for this issue.*

## Describe the New Feature ##
Enable METplus to only process certain months out of the year, and then move on to the next year.  For example, only process December, January, and February, skip the other months, and continue on to the next December.  I'm attaching the script below, which regrids data for December, January, February and skips th

[2020-06-22 15:29] hankenstein2 opened #513 "Add curl possibility to build_components build MET script"
*Replace italics below with details for this issue.*

## Describe the Enhancement ##
*Provide a description of the enhancement request here.*
Currently only wget is a possibility for downloading the 3rd party library tar files, adding curl is needed because wget is frequently not installed

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1

[2020-06-22 17:17] georgemccabe commented on #509
While this is technically a bug, we are close to a release and this change isn't urgent for people running 3.0.2, so I am going to make the change for 3.1. If the conf variable USE_EXPLICIT_NAME_AND_LEVEL is set to True, then the field name/level info will not be derived and instead only use what the user provides. The use case model_applications/precipitation/GridStat_fcstHREFmean_obsStgIV_NetCDF

[2020-06-22 23:42] georgemccabe opened #517 "File window functionality should give useful message and fail gracefully if not enough information provided in filename template"
Currently if not enough information for valid, init, or da_init is extracted, then no value will be set. However, this causes time_util.ti_calculate to crash.

## Describe the Enhancement ##
The parse_template function should check if one of the 3 time types were found and skip calling ti_calculate if that is the case. It should also give a useful message saying why it couldn't extract the info.

[2020-06-23 00:30] georgemccabe commented on #512
Work done in feature branch: feature_512_skip_months

[2020-06-23 13:48] georgemccabe opened #520 "Renamed POINT_2_GRID conf variables to be POINT2GRID"
Some utilities like CUSTOM_LOOP_LIST and the newly added SKIP_TIMES (and others?) assume that the configuration variable names start with the name of the actual MET executable in all caps followed by an underscore, i.e. grid_stat => GRID_STAT_CUSTOM_LOOP_LIST or ascii2nc => ASCII2NC_SKIP_TIMES. We should rename the variables that start with POINT_2_GRID to POINT2GRID so that this functionality wor

[2020-06-23 14:13] hankenstein2 commented on #513
Done and merged

[2020-06-23 14:13] #513 closed, assigned to hankenstein2

[2020-06-23 22:26] #517 closed, assigned to georgemccabe

[2020-06-23 23:42] lindsayrblank opened #522 "Create a Feature Relative Use Case with User Diagnostics"
## Describe the Enhancement ##
The DTC is working with Brian Colle of Stony Brook University (SBU) to enhance METplus to be able to run use cases with user defined diagnostics, with a specific focus on tropical cyclone analysis. A new feature relative use case is needed that allows a user to use their own python derived diagnostic in the feature relative use case. To do this, the "PyEmbedIngest" t

[2020-06-24 22:05] TaraJensen commented on #400
Files to be edited are now located in METplus/docs/use_cases

[2020-06-25 00:24] TaraJensen commented on #400
Done with met_tool_wrapper docs

[2020-06-25 20:03] jprestop opened #523 "Add variable MET_BIN_DIR to replace {MET_INSTALL_DIR}/bin in the code"
METplus wrappers scripts currently reference {MET_INSTALL_DIR}/bin, expecting the MET executables to be located in a "bin" directory. However, NCO has asked for the executables to be in an "exec" directory, so we need to make this modifiable for the user.

## Describe the Problem ##
Replace {MET_INSTALL_DIR}/bin with MET_BIN_DIR throughout the code so that the user can change if necessary and the

[2020-06-26 22:41] #523 closed, assigned to jprestop

[2020-06-30 15:55] #512 closed, assigned to CPKalb, georgemccabe

[2020-06-30 15:56] georgemccabe commented on #520
Merged into develop from this PR: https://github.com/NCAR/METplus/pull/521

[2020-06-30 15:56] #520 closed, assigned to georgemccabe

[2020-06-30 15:56] georgemccabe commented on #512
Merged into develop with this PR: https://github.com/NCAR/METplus/pull/519

[2020-06-30 15:58] georgemccabe commented on #500
Merged into develop with this PR: https://github.com/NCAR/METplus/pull/525

[2020-06-30 15:58] #500 closed, assigned to georgemccabe

[2020-06-30 16:44] TaraJensen commented on #400
Done with model_applications docs, merged back into development

[2020-06-30 16:44] #400 closed, assigned to TaraJensen

[2020-06-30 18:53] georgemccabe commented on #422
Refactor of StatAnalysis/MakePlots wrappers and plotting_scripts include better handling of empty values so they are not added into the job list incorrectly. Also added better log error reporting and exiting when insufficient information is provided to the plotting scripts to avoid mysterious failures.

[2020-06-30 18:53] #422 closed, assigned to georgemccabe, malloryprow

[2020-06-30 18:54] #437 closed, assigned to dwfncar, georgemccabe

[2020-06-30 18:54] #509 closed, assigned to georgemccabe

[2020-06-30 22:00] georgemccabe commented on #490
Work completed and merged into develop from PR: https://github.com/NCAR/METplus/pull/516

[2020-06-30 22:00] #490 closed, assigned to dwfncar, georgemccabe

[2020-07-02 01:01] georgemccabe commented on #399
Work done in feature_399_disable_download_buttons

[2020-07-02 15:35] fentoad72 commented on #494
taking over travisCI from jim frimel

[2020-07-02 15:37] fentoad72 commented on #491
taking over travisCI from jimfrimel

[2020-07-02 15:37] fentoad72 commented on #493
taking over travisCI from jimfrimel

[2020-07-02 15:38] fentoad72 commented on #489
taking over travisci from jimfrimel

[2020-07-02 15:39] fentoad72 commented on #488
taking over travis from Jimfrimel

[2020-07-02 15:40] fentoad72 commented on #487
taking over travis from jimfrimel

[2020-07-02 15:40] fentoad72 commented on #485
taking over travis from jimfrimel

[2020-07-02 15:41] fentoad72 commented on #483
taking over travis from jimfrimel

[2020-07-02 15:41] fentoad72 commented on #480
taking over Travis from jimfrimel

[2020-07-02 15:42] fentoad72 commented on #479
taking over travis from jimfrimel

[2020-07-02 15:43] fentoad72 commented on #478
taking over travis from jimfrimel

[2020-07-02 15:44] fentoad72 commented on #467
taking over travis from jimfrimel

[2020-07-02 15:45] fentoad72 commented on #461
taking over travis from jimfrimel

[2020-07-02 15:48] fentoad72 commented on #200
@JohnHalleyGotway is this issue still an issue?  Or can it be closed?

[2020-07-02 16:48] georgemccabe commented on #461
Closing this issue since we now list the version of sample data tarballs on each release. New ones will be added as assets.

[2020-07-02 16:48] #461 closed, assigned to fentoad72

[2020-07-02 21:12] lindsayrblank commented on #522
**PyEmbedIngest Changes:**
1. Added configurable options: "PY_EMBED_INGEST_{}_OUTPUT_FIELD_NAME" which allows user to specify what they want the output variable to be named
2. Fixed a bug where PyEmbedIngest was only running for the first forecast lead hour.

**ExtractTiles Changes:**
1. Added output file templates (fcst and obs) with support for referencing individual adeck model
2. Added ability

[2020-07-02 22:37] j-opatz commented on #411
Progress as of 6/2:
Both observation and forecast files have been reviewed and, via a python script, converted into a MET-readable netCDF format. These new .nc files have been passed to GridStat and EnsembleStat (via wrappers) and sensible output produced.
Next steps include:

- Utilize Python embedding to pass memory-stored data sets to GridStat and EnsembleStat (as opposed to creating new netCDF

[2020-07-06 22:22] #498 closed, assigned to georgemccabe, hankenstein2

[2020-07-06 22:48] jprestop opened #530 "Add descriptions for use case categories"
## Describe the Enhancement ##
Add descriptions for use case categories.  This issue arose because software engineers were not sure what "medium range" meant (medium range are forecasts that go out past 3 to 14 days).  It would be great if descriptions were added for all use cases categories, potentially on this page - https://ncar.github.io/METplus/Contributors_Guide/add_use_case.html - under "8.

[2020-07-09 19:06] georgemccabe opened #532 "Change default behavior to disable plot wrappers"
Currently if the environment variable METPLUS_DISABLE_PLOT_WRAPPERS is set (to anything), then those wrappers will not be loaded. This is done to reduce the number of external python dependencies that are only used for a few cases. The plotting functionality will eventually be moved out of METplus wrappers. @jprestop brought up a good point that the default behavior should likely be to have them d