[2020-07-10 14:46] #522 closed, assigned to lindsayrblank, georgemccabe

[2020-07-14 01:08] fentoad72 opened #534 "Tutorial Proofreading (Keith)"
*Replace italics below with details for this issue.*

## Describe the Task ##
One more iteration through the tutorial material

### Time Estimate ###
3 days

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [x] Chapter 1
- [x] Chapter 2
- [x] Chapter 3
- [x] Chapter 4
- [x] Chapter 5

### Relevant Deadlines ###
7/21 or sooner

### Funding Source ###
none

## Define the Metadat

[2020-07-14 16:39] georgemccabe commented on #532
While making these changes, I learned that all of the wrappers were being imported regardless of which are actually being used in a use case due to import dependencies. I was able to rearrange some of the imports and stopped this from happening, then added a line to import the individual wrappers based on the process list. This will allow users to run use cases that don't rely on extra dependencie

[2020-07-15 23:26] #399 closed, assigned to georgemccabe

[2020-07-20 21:29] #224 closed

[2020-07-20 21:33] georgemccabe commented on #304
Unit tests for get_process_list have been written. We still need to review the documentation and change wrapper names to the correct naming. For example, in the Glossary and Python Wrappers pages, TcStat should be TCStat.

[2020-07-22 20:24] lindsayrblank opened #536 "Enhance User Diagnostic Feature Relative use case to Run Multiple Diagnostics"
## Describe the Enhancement ##
The user diagnostic feature relative use case only runs on one diagnostic. This enhancement will set up the use case to allow users to run this use case on as many diagnostics as they provide. Related to #522

### Time Estimate ###
2 days

### Sub-Issues ###
- [x] Test user provided diagnostic script (calculates potential vorticity)
- [x] Add PyEmbedIngest commands/c

[2020-07-22 21:08] JohnHalleyGotway opened #537 "Create a new use case to demonstrate use of JEDI H(x) in STAT-Analysis with python embedding."
## Describe the New Feature ##
This issue consists of multiple steps:
(1) Identify the JEDI NetCDF output that should be used as input.
(2) Write a python embedding script for Stat-Analysis to convert data from this NetCDF file into MET's MPR line type data structure.
(3) Call Stat-Analysis with python embedding to pass in this MPR data and compute some statistics, such as...
   -job aggregate_sta

[2020-07-23 16:18] georgemccabe commented on #239
Discussed in meeting 7/23/2020 that this has been completed and should be closed.

[2020-07-23 16:18] #239 closed, assigned to CPKalb, hankenstein2

[2020-07-23 21:39] georgemccabe opened #538 "StatAnalysis catch error if wildcard returns no results instead of crashing"
If StatAnalysis is configured with a lookin dir that either doesn't exist or doesn't match any files, it crashes.

`MODEL1_STAT_ANALYSIS_LOOKIN_DIR = {INPUT_BASE}/met_test/out/grid_stat/*.chicken
`
## Describe the Enhancement ##
Handle the error to the call to "ls" and report that no results were found instead of crashing.

### Time Estimate ###
2 hours

### Relevant Deadlines ###
3.1 release (7/3

[2020-07-27 17:18] #538 closed, assigned to georgemccabe

[2020-07-27 19:26] georgemccabe commented on #406
Lindsay and Tina confirmed that the changes for this issue are in the develop branch. Closing the issue.

[2020-07-27 19:26] #406 closed, assigned to lindsayrblank, CPKalb, hankenstein2

[2020-07-28 19:09] georgemccabe commented on #491
This work was already completed.

[2020-07-28 19:09] #491 closed, assigned to fentoad72

[2020-07-28 19:14] georgemccabe commented on #479
Some of this work has already been completed by me. Currently the MET develop image is used in develop and feature branches.

The MET image tag is also now controlled by a build arg (MET_VERSION).

When a master_vX.Y release is created, we need to update the MET version to use the correct corresponding version (i.e. METplus 3.1 should use MET 9.1).

Task:
**We need to document all of the steps req

[2020-07-28 19:44] georgemccabe commented on #483
Can't this be controlled by the list of python versions in the .travis.yml file?

[code]

The python version is specified in the stages, which is likely why it is only using one version:

[code]

Also, Stage 2 seems to only be running 1 version, even though the python version is commented out:
[code]

It would be good to figure out why that is.

[2020-07-28 19:51] georgemccabe commented on #489
This work has already been completed by me.

[2020-07-28 19:51] #489 closed, assigned to fentoad72

[2020-07-28 20:01] georgemccabe commented on #493
Some of this has already been done by me, but there are other tasks that still need to be done. Some other ideas that could be explored:

COMPLETED with #597 - Try to reconcile list of current sample data tarballs so that the information is in 1 place and referenced wherever it needs to be. Currently the tarballs as referenced in ci/travis_jobs/test_use_cases_m* files and internal_tests/docker_dat

[2020-07-28 20:28] fentoad72 commented on #483
Hi George,

I'm struggling to get Travis to use two versions of python in a stage, eg
in stage "run_hello" in my .travis.yml file.

This file separates into two jobs, "prelim" and "run_hello", but only uses
Python 3.6, not 2.7.  I've tried in quotes or not and in various places in
the code.  If the python block above "install" is unquoted and the python
block inthe script stage is commented out, i

[2020-07-28 20:38] georgemccabe commented on #483
@fentoad72 , it looks your .travis.yml has quotes around the python versions, while the METplus version does not. That could be the reason it isn't using 2 versions.

METplus:
[code]

fentoad72/hello-world:
[code]

[2020-07-29 22:05] georgemccabe opened #545 "Enhance file list generation to allow python embedding arguments"
Related to MET #1432 and needed to resolve METplus #411. The MET tools expect a ASCII file list to contain at least 1 real file path to know that it is a file list and not just ASCII data. For python embedding, this list can be a set of arguments to pass to the script that are not necessarily a file path.

## Describe the Enhancement ##
Need to add file_list at the beginning of the file lists that

[2020-07-29 23:37] georgemccabe commented on #545
Changes were made in feature_545_file_list. I had to trigger the METplus docker build by hand to get it to pull the new changes in MET develop that are needed for the use cases to work. Once I confirm that the Travis tests run successfully, I will create a pull request.

[2020-07-30 13:16] #530 closed, assigned to TaraJensen

[2020-07-30 17:11] georgemccabe opened #547 "Changes to grid_diag app require some changes to GridDiag wrapper"
Related to MET https://github.com/NCAR/MET/issues/1391

## Describe the Enhancement ##
Need to change 'model' to 'desc' in MET config file and update/add METplus conf variable to match
Handle multiple -data items and ensure the number corresponds to the number of fields.

### Time Estimate ###
1 day

## Define the Metadata ##

### Assignee ###
- [X] Select **engineer(s)** or **no engineer** requir

[2020-07-30 18:42] lindsayrblank opened #549 "Enhance PyEmbedIngest to run RegridDataPlane over Multiple Fields in One Call"
## Describe the Enhancement ##
When developing #536 , I realized that I would have to create a separate forecast and observation .nc file for each diagnostic requested the way PyEmbedIngest is set up now. This would be tedious and would disrupt the current way that ExtractTiles and SeriesByLead operate.

George McCabe suggested modifying PyEmbedIngest to run RegridDataPlane over multiple fields in

[2020-07-30 22:51] georgemccabe commented on #278
Created feature branch feature_278_tc_gen with start of wrapper.

[2020-08-03 14:49] #547 closed, assigned to georgemccabe

[2020-08-03 14:50] #545 closed, assigned to georgemccabe

[2020-08-04 21:04] georgemccabe opened #551 "Generate PDF of User's Guide"
We have discussed generating a PDF of the User's Guide so users can access it offline. Also, many sponsors prefer print-out copies of documentation. I added an option to build the docs and generate a PDF copy.

To build a PDFs, you must have additional python packages (sphinx 2.4.2 or higher and rst2pdf) and set the environment variable METPLUS_DOC_PDF before running docs/build_docs.py.

## Define

[2020-08-04 23:29] georgemccabe commented on #532
I discovered that testing a version of Python with just dateutil installed still fails trying to import the extra dependencies of MakePlots and CyclonePlotter. There is a chance we were using an older version of importlib to test which at some point changed to always import the parents if importing a submodule, so metplus.wrappers.grid_stat_wrapper would require the import of metplus.wrappers as w

[2020-08-05 14:15] georgemccabe commented on #483
Todd and I worked together to debug this issue and learned that you can specify multiple version of python in the top level python section, but only a single version of python can be listed within jobs->include section because this section is used to define a single job. The top level python is used with other sections to create a matrix of jobs that are run.

We also learned that the version of p

[2020-08-05 14:24] fentoad72 commented on #483
I think Travis has support for conda under “services” (like it does for
Docker) but I have to check; if not, it can probably be installed (eg pip
install).  A question might be enabling an environment (conda activate
mini3.6.3).  This might be easier to do in Docker; I have to get spun up on
Docker first

On Wed, Aug 5, 2020 at 08:15 George McCabe <notifications@github.com> wrote:

--
============

[2020-08-05 14:32] georgemccabe commented on #483
@fentoad72 , these additional python environments must be created inside docker because that is where the tests are run. They must be run in docker so they can access the MET tools that are built in docker. The python environments created in Travis are not used by these scripts.

[2020-08-05 18:08] georgemccabe opened #555 "Clean up environment.yml and requirements.txt files"
This has been discussed before but the introduction of a security risk with one of the dependencies that can't be resolved without creating conflicts has elevated this issue.

https://github.com/NCAR/METplus/network/alert/requirements.txt/Pillow/open
_Dependabot cannot create a pull request as one or more other dependencies require a version that is incompatible with this update._

Our current env

[2020-08-06 15:12] georgemccabe opened #558 "Valid thresholds incorrectly fail error check"
Jamie Wolff discovered that valid thresholds with letters, i.e. >SFP90, are incorrectly denied due to error checking that expects a threshold value to be a comparison operator (i.e. < or ge) following by a number.

## Describe the Problem ##
Thresholds with numbers should be allowed.

### Expected Behavior ###
validate_thresholds function should return True if the input list includes >SFP90.

###

[2020-08-06 15:45] JohnHalleyGotway commented on #558
There are a handful of threshold type strings which fall into this category (**SFP, SOP, SCP, USP, FBIAS, and CDP**), all of which should be allowed.
Below is an excerpt taken from: https://ncar.github.io/MET/Users_Guide/data_io.html

- The following percentile threshold types are supported:
         - "SFP" for a percentile of the sample forecast values.
           e.g. ">SFP50" means greater tha

[2020-08-06 17:47] #532 closed, assigned to jprestop, georgemccabe

[2020-08-06 18:58] georgemccabe commented on #555
Created pull requests to update environment.yml and requirements.txt for develop and master_v3.0 (delete requirements.txt in master) with changes we discussed in the METplus meeting today.

Still need to create a conda environment.yml file to use for development and verify that security alert goes away.

[2020-08-07 00:01] #558 closed, assigned to georgemccabe

[2020-08-11 18:23] #304 closed, assigned to hankenstein2

[2020-08-11 18:23] #555 closed, assigned to georgemccabe

[2020-08-11 18:24] #278 closed, assigned to DanielAdriaansen, georgemccabe

[2020-08-17 17:02] fentoad72 opened #566 "Get SNAT to install Travis CLI on Dakota, Kiowa"
## Describe the Task ##
*Install command-line version of Travis on RAL machines dakota & kiowa *

### Time Estimate ###
*Depends on SNAT (ral-help)*

### Funding Source ###
*2791541*

### Assignee ###
- [Todd Arbetter] Select **engineer(s)** or **no engineer** required
- SNAT: Tor Mohling (rt: 96102)

### Labels ###
- [ mediium] Select **priority**
- [METplus/RAL/UCAR ] Select **requestor(s)**

##

[2020-08-17 17:39] georgemccabe opened #567 "Investigate using Docker Data Volumes for testing"
Docker data volumes could be used to not only store input data required to run tests, but to store "truth" output and new test output so that they can be compared. We should investigate how this would be done through Travis. The MET nightly build system has functionality to save the "truth" version commit to compare new output runs. This could be used as a guide to setting it up using data volumes

[2020-08-17 17:44] fentoad72 commented on #566
Submitted 8/3
8/10 Tor Mohling responded looking for a grant to cover the work; he'd e-mailed Laurie Carson but I suggested Tara Jensen
8/13 Not sure if Tor e-mailed Tara and/or heard back from her; I e-mailed Tara to get the grant number 2791541

[2020-08-17 18:35] georgemccabe commented on #510
This issue also needs to be completed for @CPKalb 's driver script work (issue #?).

These changes involve:
* Moved command line argument handling into master_metplus.py (currently in config_metplus)
* config_metplus.setup will instead take a list of configs (conf files or variable overrides) to use to setup the METplusConfig object

[2020-08-17 22:35] CPKalb opened #568 "Driver script and param file modification"
Allow metplus to be run with a driver script and to have all parameters in one file with separate sections for different runs of metplus and for parameters read into the python code of the driver script

[2020-08-17 22:36] #568 closed, assigned to CPKalb, georgemccabe

[2020-08-17 22:37] CPKalb opened #569 "Support METplus to run from a driver script"
## Describe the New Feature ##
Allow metplus to be run with a driver script and to have all parameters in one file with separate sections for different runs of metplus and for parameters read into the python code of the driver script

### Acceptance Testing ###
*List input data types and sources.*
*Describe tests required for new functionality.*

### Time Estimate ###
*Estimate the amount of work

[2020-08-19 18:41] #510 closed, assigned to georgemccabe

[2020-08-19 18:49] georgemccabe commented on #569
The changes for this issue involve modifications to the config get methods so that all variables are considered part of the [config] section while supporting the sections that currently exist ('config', 'dir', 'exe', 'filename_templates', 'regex_pattern', are there any others?). This will make it easier to implement the functionality to override certain variables from the user's additional config

[2020-08-19 21:05] fentoad72 opened #571 "Add all use_cases to automated tests (eg Travis)"
*Replace italics below with details for this issue.*

## Describe the Enhancement ##
Add support for use_cases that require additional python packages, see #483

medium_range/TCStat_SeriesAnalysis_fcstGFS_obsGFS_FeatureRelative_SeriesByLead_PyEmbed_IVT.conf (Q: Lindsay, what package(s) is needed for this?)
met_tool_wrapper/CyclonePlotter/CyclonePlotter.conf (Requires matplotlib and cartopy)

### T

[2020-08-20 17:02] JohnHalleyGotway opened #573 "Move METplus repository from the NCAR to DTCenter organization."
## Describe the Task ##

Move the METplus repository from the NCAR organization to the DTCenter organization. Make 3 changes:
- change github.com/NCAR to github.com/dtcenter
- change ncar.github.io to dtcenter.github.io
- rename METdb to METdatadb

These changes should be made to both the develop and master_v3.1 branches.

After the documentation updates are complete, re-push the METplus 3.1 docum

[2020-08-20 18:24] JohnHalleyGotway commented on #573
There are many, many files to be updated here!

[code]

[2020-08-20 19:28] DanielAdriaansen opened #576 "Add more logging to tc_gen_wrapper"
## Describe the Enhancement ##
When attempting to find -track or -genesis input files for tc_gen, it simply returns False if no files are found with no logging information reported for the user. It would be helpful to explicitly log which type of files (track or genesis) it was unable to find before returning.

### Time Estimate ###
1-2 hours

### Relevant Deadlines ###
NONE

### Funding Source ##

[2020-08-20 20:32] georgemccabe commented on #576
@DanielAdriaansen you did not see an error because you did not specify a template. The template is required. The wrappers are supposed to check if required variables are set in the create_c_dict function, but it looks like I forgot to check for this in TCGenWrapper. I will make this fix. I will also add an error in find_data if there are no templates specified to make sure this is logged correctly

[2020-08-20 20:46] DanielAdriaansen commented on #576
@georgemccabe I think you're right. I still wonder if it would be useful to report if no TRACK or no GENESIS files were found in tc_gen_wrapper.py, specifically line 310 and 322?

I guess your proposed fix to find_data would error out before we got to lines 310 and 322, but it just seems like if we make it to line 310 or 322, we have an empty list of required input data and so we should stop.

I w

[2020-08-20 21:04] georgemccabe commented on #237
We should review this content and either remove the old content or update it. Most of our information now lives in the User's or Contributor's Guide, so most of this should be removed to avoid confusion.

[2020-08-20 21:12] georgemccabe commented on #576
@DanielAdriaansen that error message is unnecessary because find_data should be reporting it already. The fixes I made add some additional checking to ensure that an error is thrown if no data is found. We don't want to call sys.exit(1) anywhere in the wrappers. There is code that cleans things up before it exits and prints out the log file path that would be skipped if we exit. Also, we may be ru

[2020-08-20 21:14] georgemccabe commented on #576
Really the wrapper should have had the error checking done in create_c_dict and then you wouldn't have gotten past the initialization step of the wrappers because you didn't have a required value (template). Either way, adding a check in find_data will prevent this from happening again even if the wrapper wasn't set up correctly. Also, it would silently skip a for loop in find_data if no files wer

[2020-08-20 21:18] DanielAdriaansen commented on #576
Thanks for the info on my suggestion I figured there was a more appropriate way than bailing inside the wrapper. I copied that code from tc_pairs_wrapper.py, although it looks like exit(1) and not sys.exit(1) is used but either way I at least tried to copy code from somewhere in the repo :).

[2020-08-20 21:22] georgemccabe commented on #576
Ah, that wrapper needs to be refactored to match the new standard. Those values should be checked in create_c_dict. The self.log_error function automatically increments the error counter, so after initialization it would report that it was not set up correctly and exit before any wrappers in the process list are run. I can make an issue for that.

[2020-08-20 21:26] georgemccabe opened #578 "Refactor TCPairs wrapper to error check config on init"
Currently the variables are checked during the run step and calls exit when it is not set up correctly.

## Describe the Enhancement ##
All config error checking should be done in create_c_dict so that it will report errors and fail before attempting to run any wrappers. It should not call exit either to avoid skipping the cleanup steps.

### Time Estimate ###
1 day

### Sub-Issues ###
Consider br

[2020-08-20 22:06] #573 closed, assigned to JohnHalleyGotway

[2020-08-21 17:18] DanielAdriaansen opened #579 "Align the user guide with get_relativedelta() in time_util.py"
The documentation here:
https://dtcenter.github.io/METplus/Users_Guide/systemconfiguration.html#time-interval-units

says 1 day = "1D", but get_relativedelta() in time_util.py expects "1d" (note lowercase vs. uppercase "D").

`        if unit_value == 'd':`
`            return relativedelta(days=time_value)`

Based on dateutil conventions for relativedelta, should it be "1d" or "1D"?

### Relevant

[2020-08-21 22:56] JohnHalleyGotway commented on #429
Some notes I had lying around:

For internal development, the person submitting the PR selects appropriate reviewer(s).  Make sense?
For external contributors, recommend that the met-help point person is responsible for assigning un-assigned PR on their day.  Good idea?
Need to setup and ensure that TravisCI regression tests pass.
Talked to Lisa about breaking a big issue (> 3 days), MET docs from

[2020-08-24 14:46] georgemccabe commented on #429
@JohnHalleyGotway, those all make sense to me. I recently made a PR for sub-tasks I was working on because I wanted to get the changes into the develop branch sooner than later so others can discover anything that may break things that aren't covered by the automated tests. The changes seemed to make sense on their own, meaning they didn't rely on other sub-tasks to be complete. If a sub-task does

[2020-08-24 17:40] fentoad72 commented on #566
8/24. Tor Mohling let me know the install of Travis CLI is still going on; however there are difficulties in the RAL/SNAT environment.

[2020-08-24 19:01] georgemccabe commented on #579
Fixed typo in documentation in master_v3.1 (updated gh-pages) and develop.

Other users have accidentally used 1D instead of 1d and the error message may not always be clear. Consider adding a check and either error out if D is used in a template format, or change it to lower-case d and warn the user that they used the wrong notation.

[2020-08-24 23:39] georgemccabe commented on #571
Lindsay's case requires pygrib and metpy to run. Installing metpy is pretty simple (run pip3 install metpy). pygrib was a little trickier, but I was able to install it using the following commands:

yum -y install eccodes-devel
pip3 install numpy
pip3 install pyproj
pip3 install eccodes-python
pip3 install pygrib

numpy was already installed in Docker since it is required to install MET, but I lef

[2020-08-25 00:27] georgemccabe opened #581 "Filename templates that have other arguments besides a filename for python embedding fails"
@j-opatz brought this to attention. His use case had a template with additional arguments to pass to his python embedding script via MET_PYTHON_INPUT_ARG:

[code]

## Describe the Enhancement ##
Added a check if the data type is set and it contains PYTHON in the text. If it does, then return the full path without checking if the file exists. This allows the text to contain other arguments that can

[2020-08-25 11:44] georgemccabe commented on #467
I completed this task with commit 8b240c153921ace55ef723fb56f6c15fbeaae11e with work done to finalize 3.1 release. We determined that while the MET docker build takes a very long time, the METplus docker build is relatively quick since it just pulls the latest MET docker build, installs a few packages/utilities, and sets up the environment. It is worthwhile to always build the docker image instead

[2020-08-25 11:44] #467 closed, assigned to georgemccabe, fentoad72

[2020-08-25 12:43] georgemccabe commented on #576
This issue was resolved with linked PR. It uncovered a use case that was failing due to no matches in a wildcard expression. I fixed that case (missing input data). I created an issue for the TCPairs improvement discussed in this conversation (#578 ).

[2020-08-25 12:43] #576 closed, assigned to DanielAdriaansen, georgemccabe

[2020-08-25 14:30] DanielAdriaansen commented on #579
@georgemccabe my vote per our discussion would be to error out if the user supplies "D", since it does not align with the standards we adopted from strftime.org.

Speaking of which, do we link anywhere in the documentation to strftime.org? Or do we have a standards page in the documentation of various Python standards we adhere to? That might be a useful addition, at a minimum to have somewhere to

[2020-08-25 14:54] georgemccabe commented on #579
There are links to the documentation on that webpage all over the user's guide:

https://dtcenter.github.io/METplus/search.html?q=strftime.org&check_keywords=yes&area=default

There are other error checks that could be done to the filename template tags. For example, I have see multiple cases where someone forgot a symbol in the tag, like {init?fmt%Y%m} (missing =). I think we should close this is

[2020-08-25 14:56] ksearight commented on #534
Session 1 feedback is ready for review.

[2020-08-25 14:57] georgemccabe commented on #307
This was covered in commit 8fb265c4e5ee3e0bb7c50a43d4814b22af7d2a7b (for #512) which adds the SKIP_TIMES config variable to define run times to exclude. See the User's Guide for more information: https://dtcenter.github.io/METplus/Users_Guide/systemconfiguration.html#skipping-times

[2020-08-25 14:57] #307 closed, assigned to nobody

[2020-08-26 17:01] georgemccabe opened #584 "Learn how to use Travis CLI"
I assigned many people to this task in case anyone is already familiar or knows someone who is.

Travis command line interface is now installed on some of the NCAR machines. We need to learn how to use it, particularly how to run Travis jobs locally instead of relying on Travis-CI's web interface to debug issues.

## Describe the Task ##
If someone we know already knows how to use this tool, we sh

[2020-08-26 20:46] fentoad72 commented on #483
We decided to implement this without conda so sub-issue was not needed.

[2020-08-26 21:18] fentoad72 commented on #571
Add new job in test_use_cases_model_applications.sh independent of medium_range1 and medium_range2

[2020-08-26 23:02] #483 closed, assigned to fentoad72

[2020-08-27 00:38] georgemccabe opened #586 "CyclonePlotter import error still causing other apps to fail in certain environments"
## Describe the Problem ##
Based on help ticket: https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=96457
Issue [Change default behavior to disable plot wrappers #532](https://github.com/dtcenter/METplus/issues/532) removed the necessity for users to need to run "export METPLUS_DISABLE_PLOT_WRAPPERS=true".  It made it so the default behavior is to have them disabled and have the user specify only w

[2020-08-27 21:18] #586 closed, assigned to jprestop, georgemccabe

[2020-08-27 23:23] JohnHalleyGotway opened #589 "Add missing Dockerfiles for the data assets of the METplus 3.1 release."
## Describe the Problem ##

The METplus 3.1 release contains Dockerfile to construct data volumes for 3 of the release data assets in:
METplus/internal_tests/docker_data

This task is to:

1. Create 5 new Dockerfiles for the other 5 release data assets listed at:
https://github.com/dtcenter/METplus/releases/tag/v3.1
2. Run the Dockerfiles to construct the data volumes.
3. Construct a 9th data volu

[2020-08-28 23:20] JohnHalleyGotway commented on #589
Created a DockerHub metplus-data repository:
https://hub.docker.com/repository/docker/dtcenter/metplus-data
This makes the 'dash' naming convention consistent with metplus-training and metexpress-...
Recommend removing existing metplus_data repository.
Replaced individual Dockerfiles for each tarball with a single parameterized Dockerfile and shell script to call it multiple times. Does not actual

[2020-08-31 17:32] georgemccabe commented on #589
metplus_data on DockerHub has been removed.

[2020-09-01 16:05] JohnHalleyGotway commented on #589
Rather than having many nearly identical Dockerfiles (one for each sample data tarball), I parameterized a single Dockerfile to handle this.
VERSION = METplus version number for which this data is posted
TARFILE = Sample data tarfile name (e.g. https://github.com/dtcenter/METplus/releases/download/${VERSION}/${TARFILE})
MOUNTPT = Path to the directory for which the data volume should be created

T

[2020-09-02 15:37] georgemccabe opened #594 "Add to User's Guide: using environment variables in METplus configuration files"
You can reference environment variables in the METplus config files by using the syntax {ENV[varname]} where varname is an environment variable. This is not mentioned in the METplus User's Guide (as far as I could find). We should add this information so user's are aware of the functionality.

### Time Estimate ###
< 1 day

## Account Key ##
2790541

## Define the Metadata ##

### Assignee ###
- [

[2020-09-02 15:38] #581 closed, assigned to georgemccabe, j-opatz

[2020-09-02 16:06] #589 closed, assigned to JohnHalleyGotway

[2020-09-02 16:14] JohnHalleyGotway commented on #589
Note that METplus-Data images are now available on DockerHub for versions 3.1 (existing release) and 4.0 (next release).

[2020-09-02 20:29] fentoad72 opened #595 "Change $DOCKER_WORK_DIR from /metplus to /root to be consistent with METplus tutorial"
*Replace italics below with details for this issue.*

## Describe the Task ##
METplus tutorial uses Docker containers where DOCKER_WORK_DIR is /root.  Change the instances of it in the METplus github issues

### Time Estimate ###
1 day

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
*Before MET OFFICE

[2020-09-02 21:29] fentoad72 opened #597 "Convert Travis Docker files (automated builds) to use Dockerhub data volumes instead of tarballs"
*Replace italics below with details for this issue.*

## Describe the Enhancement ##
Under https://dtcenter.github.io/METplus-Training/modules/Environment/docker.html, Sample Input Datasets explains how to access data containers on dtcenter/METplus-data using docker pull, docker create, and docker run

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent appr

[2020-09-03 16:42] fentoad72 commented on #571
Didn't we do a PR on this to merge with develop?  I can't see it here.  I think this issue is closed?

[2020-09-03 17:16] georgemccabe commented on #571
@fentoad72 I just linked the 2 pull requests that are related to this issue. I am closing the issue now.

[2020-09-03 17:16] #571 closed, assigned to fentoad72

[2020-09-05 01:32] #549 closed, assigned to lindsayrblank, georgemccabe

[2020-09-08 16:54] DanielAdriaansen opened #600 "Implement a way to turn timing control off"
## Describe the New Feature ##
For certain MET tools, like tc_gen, the notion of looping over time (e.g. init_time_beg to init_time_end via init_increment) doesn't fit. It's simply a tool to collect all forecast files in a directory and all observation files in a directory, and compute metrics, regardless of the time range of those files. Is there a case to implement a new METplus config variable,

[2020-09-08 17:50] georgemccabe commented on #600
@DanielAdriaansen , I think we should consider treating tools that are designed to run once to process all data differently than some of the other wrappers or even consider the wrappers that handle TC data to be handled differently.

The TC use cases often involve processing by storm instead of a given range of time even though a time range may be provided to subset. However, a series of times may

[2020-09-08 18:03] DanielAdriaansen opened #601 "Report unknown conf items to the user at runtime, or warn when using defaults"
## Describe the New Feature ##
Write a new function (perhaps in met_util.py) to report any configuration items encountered that METplus doesn't know about, or perhaps check against a dictionary in parse_var_list? Exit if any encountered to force user to reconfigure?

OR

Always warn when using default values.

The particular issue that came up when a user was attempting to set the conf item:
FCST_

[2020-09-08 18:36] georgemccabe commented on #601
@DanielAdriaansen , we actually allow (and sometimes encourage) users to user their own METplus variables that they have defined, so we wouldn't want to fail if they have any set that aren't one of the reserved METplus variables.

We do want any use of default values to be output in the logs. We do this in all wrappers except for a few that need to be refactored (i.e. PCPCombine). The specific cas

[2020-09-08 18:57] DanielAdriaansen commented on #601
@georgemccabe great point about the custom items I had forgotten that. We could still warn for our "known" variables but still not exit, however your point about putting out default values in the logs will also solve this particular issue.

What do you mean by your last sentence- use this issue for our thoughts and comments? I am not aware of any other issue for related future work if you were ask

[2020-09-08 19:01] georgemccabe commented on #601
@DanielAdriaansen , I couldn't find an issue for related future work. I likely wanted to come up with a well-thought solution before creating the ticket, but it seems useful to have a ticket where thoughts from others can be contributed.

[2020-09-08 19:10] georgemccabe opened #602 "Decouple PCPCombine, RegridDataPlane, and GridStat wrappers behavior"
Currently the behavior of RegridDataPlane and GridStat differ depending on if [FCST/OBS]_PCP_COMBINE_RUN is set to True. This is due to supporting legacy configuration where [FCST/OBS]_VAR1_[NAME/LEVELS] is used to control PCPCombine output accumulation, RegridDataPlane input and output names, and GridStat input name.

## Describe the Enhancement ##
PCPCombine and RegridDataPlane should be forced

[2020-09-08 19:13] georgemccabe commented on #601
I created this issue: https://github.com/dtcenter/METplus/issues/602
The logic in PCPCombine to use values from var_info if accum is not set will likely be removed for these changes. If output accum is not explicitly specified, the wrapper will likely error out and force this to be set (unless it makes sense to pull the accum from var_info and warn the user to update their config?).

[2020-09-08 19:28] DanielAdriaansen commented on #601
What is var_info...is that in the PCPCombine wrapper somewhere or referencing variable metadata from the input file?

Personally, I like the idea of erroring out and forcing the user to set the accum manually.

[2020-09-08 19:34] georgemccabe commented on #601
parse_var_list pulls out the information from [FCST/OBS]_VAR<n>_[NAME/LEVELS/THRESH/OPTIONS] and puts them into a list of each name/level combination. The list is usually called var_list and var_info is the name given for each list item in the loop. METplus currently doesn't check any information inside the actual files (just filenames).

I agree of the preference to error out and force the user t

[2020-09-09 19:42] georgemccabe commented on #595
We decided to not change to using /root instead of /metplus because we may not always run as root. Changes to use an environment variable everywhere /metplus is used were added with the work for #597. Closing this issue.

[2020-09-09 19:42] #595 closed, assigned to georgemccabe, fentoad72

[2020-09-09 22:13] georgemccabe commented on #480
This work was done in preparation for the 3.1 release. @JohnHalleyGotway added a build hooks file to control the branch to use for the MET Docker image. I took that file and enhanced it to allow the user to specify the METplus branch and the MET branch to use.

[2020-09-09 22:13] #480 closed, assigned to JohnHalleyGotway, georgemccabe

[2020-09-09 22:18] georgemccabe opened #604 "Add to release instructions to update the Docker versions"
We need to document all of the steps required to update the version and add it to the METplus release notes.

## Describe the Task ##
The Docker build hooks file specifies the default version of MET to use. This is generally set to develop but should be updated to a specified stable version for a release. We need to document the process of updating this and any pre-requirements, i.e. the MET relea

[2020-09-09 22:19] georgemccabe commented on #479
Closing this issue since the work has been completed. Created a new task for adding to the release instructions: #604

[2020-09-09 22:19] #479 closed, assigned to JohnHalleyGotway, georgemccabe

[2020-09-09 22:20] georgemccabe commented on #478
* Travis currently supports develop, feature_\*, master_\*, and bugfix_\*. That should cover the branches we want to trigger a build. Other branch regex can be added to the .travis.yml file.
* The timing concern was address when we changed Travis to build the docker image instead of pulling it from DockerHub (#479)
* Sub-issues #479 and #480 were completed in final preparation of the 3.1 release.

[2020-09-09 22:20] #478 closed, assigned to georgemccabe

[2020-09-09 22:43] georgemccabe opened #605 "Clean up documentation to remove errors"
Currently Travis runs doc8 on the documentation and produces errors. At a glance it looks like many of these are due to the line being too long (too many characters). We should clean up the docs so they are easier to read and don't produce complaints.

## Describe the Enhancement ##
*Provide a description of the enhancement request here.*

### Time Estimate ###
Hard to estimate. Potentially >3 day

[2020-09-10 14:36] fentoad72 commented on #534
Hi Keith, can you provide an update?  Is this still in progress or can we mark it done?

[2020-09-10 14:43] fentoad72 commented on #584
Read over Travis CLI summary of commands. Travis CLI lint looks promising, but not sure what the other commands provide in functionality over Travis CI web interface.  In search of a Travis CLI tutorial.  It would be nice if CLI could be used for debugging; currently we have to write an interactive bash script and set environment variables, but unlike real-world, datasets do not persist within Tra

[2020-09-10 14:47] fentoad72 commented on #566
Installation completed 8/26.  [Github #584](https://github.com/dtcenter/METplus/issues/584) is about learning Travis CLI

[2020-09-10 14:47] #566 closed, assigned to fentoad72

[2020-09-10 14:54] fentoad72 opened #606 "MOVE script commands out of TRAVIS in to their own METplus/ci/travis_jobs scripts"
This is a sub-issue of #493

## Describe the Sub-Issue ##
MOVE script commands out of TRAVIS in to their own METplus/ci/travis_jobs  script*

Declutter and streamline travis.yml file and place linux commands into shell scripts called by Travis. This will make it easier to read what travis.yml is doing and allow testing of scripts outside of the travis environment when needed

### Time Estimate ###

[2020-09-10 14:59] fentoad72 opened #607 "Migrate Docker run commands to the METplus ci/travis_jobs scripts/files"
This is a sub-issue of #497.

## Describe the Sub-Issue ##
Docker commands/files exist in several directories.  Consolidate them into the ci/travis_jobs directory, a subdirectory or ci/docker to make it simpler to edit and debug docker processes called by Travis

Move /internal_tests/docker to ci/docker

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent ap

[2020-09-10 15:00] fentoad72 commented on #493
Created subissues 606 and 607

[2020-09-10 15:04] ksearight commented on #534
Still in progress and currently working on Chapter 2.

[2020-09-10 15:14] fentoad72 commented on #468
Closing.  We are on 3.1.  Tutorial materials and videos are being created for the UK Met Office.  I'

[2020-09-10 15:14] #468 closed, assigned to bikegeek, ksearight, jprestop, TaraJensen, georgemccabe, fentoad72, j-opatz

[2020-09-10 15:16] fentoad72 commented on #485
Creating feature_485_noMETPLUS_DATA_PLOT_WRAPPERS

[2020-09-10 17:22] georgemccabe opened #608 "Add better error checking for filename templates"
We have seen multiple cases where users have typos in their filename template tags and the error message is not as clear as it could be to describe what is wrong.

## Describe the Enhancement ##
Add additional error checking in metplus/util/string_template_substitution.py to alert the user if they have made a mistake in formatted their template tags. An example of this is forgetting to include a r

[2020-09-10 17:22] georgemccabe commented on #579
Closing this issue and created a new issue to address adding better error checking in filename template tag parsing: #608

[2020-09-10 17:22] #579 closed, assigned to DanielAdriaansen

[2020-09-10 17:53] georgemccabe commented on #237
@jprestop has cleaned up the front page of the GitHub wiki with useful links and information. We still need to review/clean-up/remove the other wiki pages.

[2020-09-10 17:59] DanielAdriaansen commented on #463
@TaraJensen where should we start with this, or is it still needed? Is there a community user who might be able to help us with a CAM MTD use case? Or should we just acquire some CAM output and use accumulated precipitation? I can no longer remember what this use case specifically should be designed to evaluate from the CAM with MTD (i.e. the specific verification task to demonstrate).

[2020-09-10 23:31] fentoad72 commented on #485
Commented out line in Dockerfile: ENV METPLUS_DISABLE_PLOT_WRAPPERS yes
Commented out line in test_use_cases.py: from metplus.util.metplus_check import plot_wrappers_are_enabled
Commnted out block in test_use_cases.py:# if plot wrappers are enabled, add those use cases to the test lists
#if plot_wrappers_are_enabled(os.environ):
#    use_cases['met_tool_wrapper'].append(use_case_dir + "/met_tool_w

[2020-09-15 15:49] fentoad72 commented on #485
Merged in #609

[2020-09-15 15:49] #485 closed, assigned to fentoad72

[2020-09-15 22:25] JohnHalleyGotway opened #613 "Update METplus data container logic to pull tarballs from dtcenter.org instead of GitHub release assets."
## Describe the Enhancement ##
In issue #589, we added logic in the internal_tests/docker_data to prepare Docker data volumes for each of the 9 existing test data tarballs. The build_docker_images.sh script pull tarballs from the release page assets of DockerHub, converts them into data containers, and optionally, pushes them to DockerHub. Those data containers are then pulled and used by TravisCI

[2020-09-16 00:11] georgemccabe commented on #602
Working in branch: feature_602_decouple_wrappers

Adding the python netCDF4 package allows the wrappers to check if an input file is a MET-generated NetCDF file. If it is and the _VAR<n>_LEVELS value is in GRIB format, then we can reformat the name/level values. This allows old config files to still work but removes the problematic behavior so more complex use cases can still be configured.

I als

[2020-09-16 18:46] TaraJensen opened #614 "Integrate GFDL tracker into METplus framework using manage_externals"
## Describe the New Feature ##
Several projects are dependent on having Adecks from the GFDL tracker and there's a deliverable in the StonyBrook project to integrate a tracker into METplus.  The first step is to use manage externals to make it easy for users to grab the component and compile.

### Acceptance Testing ###
GFDL tracker able to be pulled from SVN repository and compiled

### Time Esti

[2020-09-16 18:53] TaraJensen opened #615 "New Use Case: GFDLTracker for TC tracking"
*Replace italics below with details for this issue.*

## Describe the New Feature ##
Need to develop wrapper and use-case to run GFDL tracker in TC-tracking mode

### Acceptance Testing ###
*List input data types and sources.*
*Describe tests required for new functionality.*

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of wo

[2020-09-16 18:56] TaraJensen opened #616 "New Use Case: GFDL tracker for TC genesis"
*Replace italics below with details for this issue.*

## Describe the New Feature ##
Need to develop a use-case example of running GFDL tracker for TC genesis - which uses a different GFDL tracker config

### Acceptance Testing ###
*List input data types and sources.*
*Describe tests required for new functionality.*

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should

[2020-09-16 18:59] TaraJensen opened #617 "New Use Case: GFDL tracker for Extra-TC tracking"
*Replace italics below with details for this issue.*

## Describe the New Feature ##
Develop use-case example of running GFDL tracker for Extra-TC tracking which uses a different config file

Based on Guang-Ping's presentation at:  https://www.emc.ncep.noaa.gov/mmb/gplou/emchurr/verify/EMC_seminar.ppt

This configuration may be as simple as just using the MSLP parameter for tracking.

From an 2017

[2020-09-16 19:57] georgemccabe commented on #602
Update: Brian's use case is now working.

[2020-09-16 20:49] fentoad72 opened #618 "Migrate from travis-ci.org to travis-ci.com"
*Travis is moving all its repositories (free and otherwise) to travis-ci.com and closing travis-ci.org on December 31, 2020.  Open source repositories (like METplus) will remain free.*

## Describe the Task ##
*Move repositories -- see [https://docs.travis-ci.com/user/migrate/open-source-repository-migration](https://docs.travis-ci.com/user/migrate/open-source-repository-migration)

### Time Estim

[2020-09-16 20:50] fentoad72 commented on #618
Please propagate to other METplus repos (MET, METplotpy, etc.) that use Travis-CI

[2020-09-21 17:00] georgemccabe opened #620 "Add support for GridStat neighborhood cov thresh"
Logan would like to be able to set nbrhd.cov_thresh in the GridStat config files via METplus config.

## Describe the Enhancement ##
Add support for this variable. Document steps to add support for new variable so that can be referenced in the future.

### Time Estimate ###
2-3 days

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [ ] *Add a checkbox for each sub-issue

[2020-09-21 17:04] georgemccabe commented on #620
@LoganDawson-NOAA , we currently support setting GridStat neighborhood width and neighborhood shape through METplus. Would it be useful to add any other neighborhood items besides cov_thresh? What about other MET variables?

[2020-09-21 18:54] j-opatz opened #621 "Add support for vld_thresh in EnsembleStat"
*Replace italics below with details for this issue.*

## Describe the Enhancement ##
To allow for METplus python wrapping of 'vld_thresh' variable in ensemble_stat MET configuration file

### Time Estimate ###
1-2 hours

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [x] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
NONE

### Funding Source ###

[2020-09-21 18:59] fentoad72 commented on #607
Using 3.1 tags, "develop" is incomplete -- no precip

[2020-09-21 19:08] fentoad72 opened #623 "Docker data caching"
*Replace italics below with details for this issue.*

## Describe the New Feature ##
Use Docker Data caching to speed up test-build process by downloading data once and caching

### Acceptance Testing ###

### Time Estimate ###
3 days
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues ###
Consider breaking the new feature down into sub-issues.
- [ ] *Add a checkbox for ea

[2020-09-21 21:30] georgemccabe opened #625 "StatAnalysis run without filtering or config file"
Passing in a config file and specifying filtering options are currently required in StatAnalysis wrapper.

## Describe the Enhancement ##
The tool can be run without a config file, so it would be nice to include that as an option. If so, the job args would have to be added to the command line call instead of setting the $JOB env variable

It would also be nice to avoid filtering if possible. It ap

[2020-09-22 19:43] #536 closed, assigned to lindsayrblank, georgemccabe

[2020-09-23 14:22] TaraJensen opened #626 "Add S2S Hovmoller Diagram use-case to replicate PSL transitioned capability"
*Replace italics below with details for this issue.*

## Describe the New Feature ##
*Provide a description of the new feature request here.*

### Acceptance Testing ###
*List input data types and sources.*
*Describe tests required for new functionality.*

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues

[2020-09-23 14:23] TaraJensen opened #627 "Add S2S Space-time coherence spectra use-case to replicate PSL transitioned capability"
*Replace italics below with details for this issue.*

## Describe the New Feature ##
*Provide a description of the new feature request here.*

### Acceptance Testing ###
*List input data types and sources.*
*Describe tests required for new functionality.*

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues

[2020-09-23 14:26] TaraJensen opened #628 "Add Difficulty Index use-case for NRL transitioned capability"
## Describe the New Feature ##
The Difficulty Index is now transitioned to METcalcpy and METplotpy. Now, the DTC needs to add a METplus use case that produces the Difficulty Index using these capabilities.

Here is a description of the Difficulty Index from NRL:
"The overall aim of this work is to graphically represent the expected difficulty of a decision based on a set of forecasts (ensemble) of

[2020-09-23 15:05] TaraJensen opened #629 "Develop wrapper to call METdbload from METdatadb to load data into database"
## Describe the New Feature ##
The next step in developing a fully automated METplus framework is to develop a wrapper that calls METdbload to load data into METdatadb for use with METviewer and METexpress.

There are quite a few details to be figured out to make this work, including:
How to handle it when the load script is on one server and the database is on another.  There should be functional

[2020-09-23 15:22] venitahagerty commented on #629
met_db_load.py currently has 2 arguments (one more has been requested in METdbLoad issue 30):

    parser.add_argument("xmlfile", help="Please provide required xml load_spec filename")
    parser.add_argument("-index", action="store_true", help="Only process index, do not load data")

The xml load_spec file contains connection tags:

\<connection\>: information about the database connection
\<host

[2020-09-23 17:12] DanielAdriaansen opened #630 "Add S2S use case for TC Genesis Density Function (GDF) and TC Track Density Function (TDF)"
## Describe the New Feature ##
Add a use case demonstrating the computation and visualization of Genesis Density Function (GDF). This metric is used in S2S application to visualize the distribution and frequency of TC genesis events across a user-defined time period.

### Acceptance Testing ###
Forecast data: GFDL vortex tracker output in "genesis mode" from NWP model forecast data
Observation dat

[2020-09-23 17:18] DanielAdriaansen opened #631 "Add S2S use case for TC Track Density Function (TDF)"
## Describe the New Feature ##
Add a use case demonstrating the computation and visualization of Track Density Function (GDF). This metric is used in S2S application to visualize the distribution and frequency of TC tracks associated with TC genesis events across a user-defined time period. The computation of TDF is dependent on identifying TC genesis. See #630.

### Acceptance Testing ###
Forecas

[2020-09-24 19:31] georgemccabe commented on #625
This work is required to complete #537

[2020-09-24 19:33] georgemccabe commented on #625
Dev note: Updated files can be pulled from:

/glade/u/home/wmayfield/work/met/jedi_python/METplus/docs/use_cases/model_applications/tc_and_extra_tc/StatAnalysis_fcstHAFS.py

/glade/work/wmayfield/met/jedi_python/METplus/parm/use_cases/model_applications/tc_and_extra_tc/StatAnalysis_fcstHAFS.conf

[2020-09-24 22:32] georgemccabe opened #633 "Add stage to Travis to update or create data volumes when new sample data is available"
Full notes here: https://docs.google.com/document/d/1aiXzap39K2pU2WQB3VAkJnlNN1WKVOixpcZdhEUYe2Y/edit#heading=h.skvq0sd9rdg8

## Describe the Enhancement ##
Compare last modified time of tarfiles hosted on web server.
Check if docker data volume already exists
If it exists, compare creation time to tarfiles to determine if they need to be rebuilt.
If it doesn't exist, create the data volumes
Push

[2020-09-24 22:36] georgemccabe opened #634 "Set up encrypted credentials in Travis to enable push to DockerHub"
## Describe the Task ##
Store secret credentials in Travis so that we can log into DockerHub and push images through Travis without authenticating by hand.

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.

[2020-09-24 22:36] georgemccabe commented on #634
Sub-task of #633

[2020-09-25 15:45] JohnHalleyGotway opened #635 "Add new use case of python embedding for point observations with NRL innovation files."
## Describe the New Feature ##
This task is to create a python script to read NRL innovation files and use python embedding to pass them into the ascii2nc tool. Once that script works well, collaborate with NRL staff to develop a new METplus use case which calls ascii2nc to prepare the point observations and then either Point-Stat or Ensemble-Stat to verify model output against them. Need to get d

[2020-09-25 15:49] JohnHalleyGotway commented on #635
Email from Liz on 9/23/2020:
The innovation files are ascii files with a 75 line header.  The column
description is below.  If you all could provide a reader to get these files
into MET that would be great!  I'm happy to provide a sample data set and
any additional information that you may need.

1. n: Observation number for indexing obs.
2. ob: Observation value.
3. bk_ob: Background (short-term

[2020-09-25 16:28] JohnHalleyGotway opened #636 "Enhance the build_docker_images.sh script to support TravisCI updates."
## Describe the Enhancement ##
The METplus team is overhauling the logic for preparing input datasets for continuous integration testing with Travis. That overhaul is described in this Google Doc:
https://docs.google.com/document/d/1aiXzap39K2pU2WQB3VAkJnlNN1WKVOixpcZdhEUYe2Y/edit

Listed below are the specific changes related to the build_docker_images.sh script.

- [x] (1) Enhance build_docker_i

[2020-09-26 00:11] JohnHalleyGotway commented on #636
Did the majority of this work on Friday, 9/25. Will test by running the script locally in the following ways to push images for develop and v3.1:
[code]

[2020-09-29 14:52] JohnHalleyGotway commented on #636
The initial logic was not sufficient for defining VOLUME mount points correctly. So George and I brainstormed a solution... have a single file each <version> directory listing the mount points for each dataset. That change has been implemented and now works well.

[2020-09-30 17:21] georgemccabe commented on #636
The changes related to this issue were merged into develop via PR #637 and additional changes mentioned in @JohnHalleyGotway 's last comment are included in PR #638

[2020-09-30 17:24] georgemccabe commented on #633
Changes in feature_633_travis_prepare_new_data were merged into feature_625_stat_analysis (#625) and modified to work out bugs.

[2020-09-30 20:53] fentoad72 opened #639 "docker push pull image repository"
*Replace italics below with details for this issue.*

## Describe the Enhancement ##
*Investigate whether docker updates after every build, and if updated it should push to metplus-dev*
update Test use cases to pull from metplus_dev:develop instead of building a new image

### Time Estimate ###
*Estimate the amount of work required here.*
1-2 dats

### Sub-Issues ###
Consider breaking the enhancem

[2020-09-30 21:25] fentoad72 commented on #623
We tried having a docker_image cache directory that would pull the images, but Docker built a new image even if an old one was availalble in the cache and then replaced it.  Mounting the docker_image directory from the cache was the limiting factor compared to time downloading the image, as loading the MET and METplus images did not take twice the time of just the METplus image.  George came up wi

[2020-09-30 21:25] #623 closed, assigned to fentoad72

[2020-09-30 21:29] #633 closed, assigned to georgemccabe

[2020-09-30 21:30] #625 closed, assigned to georgemccabe, willmayfield

[2020-09-30 21:33] #607 closed, assigned to georgemccabe, fentoad72

[2020-09-30 22:13] georgemccabe commented on #602
I decided to remove the netCDF4 dependency. The behavior was different depending if the package is available or not, so it was not a safe solution. Instead, I removed the logic that changes the output field name to {name}_{level} altogether. The user can update their config file to specify the output field name if they prefer that name.

[2020-09-30 23:21] georgemccabe commented on #618
This was completed on 9/29.

[2020-09-30 23:21] #618 closed, assigned to JohnHalleyGotway, georgemccabe, fentoad72

[2020-09-30 23:22] #597 closed, assigned to georgemccabe, fentoad72

[2020-10-01 16:17] TaraJensen opened #641 "New Use Case: Feature Relative using MTD output for feature centroid lat/lon"
## Describe the Enhancement ##
Currently the Feature Relative use-cases identify the location of the feature from output from the GFDL tracker.  The SBU and UW-CIMSS projects would also like to have support for MTD centroid lat/lon.  I think we need to discuss if this can be handled in the python script that provides lat/lons to the script that cuts out the tile prior to passing into Series-Analys

[2020-10-01 16:20] #613 closed, assigned to JohnHalleyGotway

[2020-10-01 16:24] fentoad72 commented on #606
Not done yet but gradually getting done via other Github issues.  Seems like something to do after we're happy with our Travis/Docker logic

[2020-10-01 16:28] fentoad72 commented on #493
gradually being done via subissues and Travis/Docker refinement

[2020-10-01 16:30] fentoad72 commented on #494
Unsure on what's being done with this; are we actively working on it?

[2020-10-01 16:32] fentoad72 commented on #584
There is not a lot of documentation or tutorial material out there, which makes me think this is still pretty new.  Recommend keeping open and watching for new material.  Most of what is done is through the web interface.  Linting files is one thing that might be done with CLI, but I don't have it on apostrophe where I do my work

[2020-10-01 16:34] JohnHalleyGotway commented on #635
On 10/1/2020, Tara noted that the funding to pay for this must be spent by the end of 2020.

[2020-10-01 16:35] fentoad72 commented on #634
What was the update from SNAT about group/role accounts?

[2020-10-01 16:38] TaraJensen opened #642 "Add Distance Map use-case for Brightness Temperature"
*Replace italics below with details for this issue.*

## Describe the New Feature ##
Part of the UW-CIMSS project includes developing a use-case for the evaluation brightness temperature to compute Distance Map metrics.  Sarah Griffin has provided sample data and the Grid-Stat configuration she used for the initial analysis.  They can be found on kiowa:/d1/personal/jensen/JTTI-UW

### Acceptance T

[2020-10-01 16:38] JohnHalleyGotway commented on #636
Handing this issue over to George now for him to work on documentation. He'll migrate the instructions over from the Google Doc (https://docs.google.com/document/d/1aiXzap39K2pU2WQB3VAkJnlNN1WKVOixpcZdhEUYe2Y/edit) to the METplus contributor's guide.

[2020-10-01 16:44] TaraJensen opened #643 "Add MODE use-case for Brightness Temperature"
*Replace italics below with details for this issue.*

## Describe the New Feature ##
Part of the UW-CIMSS project includes developing a use-case for the evaluation brightness temperature and MODE. Sarah Griffin has provided sample data and the Grid-Stat configuration she used for the initial analysis. They can be found on kiowa:/d1/personal/jensen/JTTI-UW

### Acceptance Testing ###
OU-CAPS ensemb

[2020-10-01 17:13] georgemccabe commented on #634
I am still waiting to hear back from SNAT about the group accounts. In the meantime, I stored my Docker credentials in Travis as encrypted environment variables to make sure the functionality works as intended. Once we get approval to create a group account, we can replace the values with the new user's credentials and everything should work the same.

[2020-10-01 17:36] georgemccabe opened #644 "Fix errors in METplus Documentation"
Running doc8 on the rst files reports many errors. We should clean up these errors.

## Describe the Task ##
Make doc8 happy. Most of the errors involve whitespace at the end of the line or lines that are too long. Work in a feature branch (feature_644_doc_errors) and check the Travis CI webpage to see if the errors have been resolved. When they are all resolved, the red X will change to a green c

[2020-10-01 18:09] georgemccabe commented on #494
This work has not been started. There are a few things that can be done to improve the tests. Here are some ideas:

* **Compare the output to some "truth" data to make sure nothing has changed** (unless the changes are expected)
Currently the use cases run and are considered successful if they run without errors. However, changes could cause the commands generated to change. The tests don't alert

[2020-10-01 21:41] #620 closed, assigned to georgemccabe, LoganDawson-NOAA

[2020-10-02 00:03] fentoad72 commented on #634
I'm looking at pass[https://www.passwordstore.org/(https://www.passwordstore.org/) , which is a unix-based password manager so can be used on Apple, Windows, and linux, something that is more secure than transmitting a cleartext password.

[2020-10-02 02:56] fentoad72 commented on #639
I've gone over the code and tried different ways of entering my Docker credentials and it looks like my permissions aren't set to write to dtcenter/METplus-dev.  If I use dtcenter/METplus the code pulls, builds, and pushes dtcenter/METplus:develop in docker_setup.sh and then in the use cases pulls down the existing dtcenter/METplus:develop image (doesn't rebuild it every time).

[2020-10-02 03:03] JohnHalleyGotway commented on #639
Todd,

Just checked and saw that the METplus “team” had admin access on the
METplus repo but no permissions in METplus-dev.

So I just changed them to match the METplus permissions.

Please try again.

John

On Thu, Oct 1, 2020 at 8:56 PM Todd Arbetter <notifications@github.com>
wrote:

[2020-10-02 04:00] fentoad72 commented on #639
Looks like everything's working now, pushing and pulling from dtcenter/METplus-dev.  Thanks for being a nite owl, John!

[2020-10-02 04:10] JohnHalleyGotway commented on #639
Todd,

Great glad to hear it. You know we currently don’t have any permissions
defined on METplus-data or METplus-data-dev and have admin defined for
METplus and METplus-dev.

I wonder if read/write for all those repos for the METplus “team” would be
the right choice?

John

On Thu, Oct 1, 2020 at 10:01 PM Todd Arbetter <notifications@github.com>
wrote:

[2020-10-02 04:51] fentoad72 commented on #639
I guess it's a question of how many people should have write access.  If they don't, they can still pull the images down as long as they have read access, the idea being they can pull down a pre-built image rather than have to build a new one every time, which was the goal of the Github issue I'm working on.

Some timing: it takes 1m 35sec to download dtenter/METplus-dev:develop, the METplus docke

[2020-10-02 16:57] JohnHalleyGotway commented on #636
I reviewed George's documentation at this URL:
http://icculus.rap.ucar.edu/metplus-test3/Contributors_Guide/add_use_case.html

Overall looks very good. Here's some recommended tweaks.

- We should probably list something other than "Tara Jensen" for adding a new category. I would say to write met_help@ucar.edu, but that'll be replaced this year with a forum. So I'm not sure what to say there now.

[2020-10-02 18:16] j-opatz commented on #411
Further development on the uses cases have taken steps outlined in previous meeting. These include:

- Python embedding now interprets netCDF files, no longer requires intermediate file creation step
- MODE and MODE-TD have been explored, as well as Series Analysis, which brings total METplus tools used to
  1. GridStat
  2. EnsembleStat
  3. MODE
  4. MODE-TD (not effective tool for total aerosol

[2020-10-02 22:57] georgemccabe commented on #636
I made the changes listed above and reworked some of the instructions to use environment variables to make running the commands easier.

[2020-10-06 16:47] jprestop commented on #551
Reopening issue because while a PDF was created it is not formatted well enough to be released to the public.  We'd like to get the PDF in good shape so that it is acceptable to be released, but it needs some further work.

A build_docs.py script in the docs subdirectory has been created and currently recreates a PDF.

Users will need to set up the sphinx environment before running the docs/build_

[2020-10-06 16:57] georgemccabe opened #648 "Reorganize use case tests so users can add new cases easily"
Subissue of #636

Use cases tests are becoming more disorganized. Many run through the internal_tests/use_cases/test_use_cases.py script based on command line args to determine groups of use cases to run. medium_range has been split into medium_range1 and medium_range2 in the script. Also, some new use cases that require additional dependencies are run in the ci/travis_jobs/test_* scripts.

## Des

[2020-10-06 17:21] jprestop commented on #644
Putting the "line too long" issues on hold for now due to funding and hoping to find an automated solution.   doc8 complains if <=79 characters.

John HG suggested potentially using "fmt" (see below), however, George noted that formatting in Sphinx can be verify specific, especially with literals, so it would need some clean up.  There are potentially other ways to solve these issues, but we are n

[2020-10-07 00:41] georgemccabe commented on #648
Working in feature_648_use_case_suite
Created classes/functions to set up existing use cases

[2020-10-08 15:57] #534 closed, assigned to ksearight, georgemccabe, fentoad72

[2020-10-12 12:29] georgemccabe commented on #486
For 3.1, I added a script called build_docs.py that can be run to build the documentation. This includes calling doxygen to generate the code documentation and copies in those files into _build/html so that it is available on the GitHub.io webpages. Closing the issue, but we can reopen if we eventually decide to use Sphinx to build the code documentation instead (I'm not sure what advantages come

[2020-10-12 12:29] #486 closed, assigned to georgemccabe

[2020-10-12 15:32] fentoad72 opened #649 "Travis/Docker timing"
This is a sub-issue of #*Github #639 *.

## Describe the Sub-Issue ##
Add timing statements throughout the code to get an idea of how long each component and subcomponent takes, and whether things can be optimized such that wall-clock time is reduced (currently ~48 minutes).  Tradeoffs include time to download images (currently 1m 35sec) and data volumes vs run time
### Time Estimate ###
*3 dats
#

[2020-10-12 17:10] JohnHalleyGotway opened #650 "Add a section to the METplus User's Guide about what questions to ask when applying METplus to a new testing and evaluation project."
## Describe the Enhancement ##
This idea arose during the METplus telecon with the UK MetOffice on 10/12/2020.
Over the years, we have applied MET, and now the METplus wrappers, to many testing and evaluation projects. And for each new application, we tend to ask a similar set of questions. A sample set of those questions is listed below. For users new to METplus or new to verification in general,

[2020-10-12 17:14] georgemccabe opened #651 "Cleanup version info"
Most packages store the version info so that it can be referenced by running:

[code]
METplus currently doesn't support this. Also, the current version number is found in a few places within the code.

## Describe the Enhancement ##
Make changes so that the version can be obtain from metplus.\_\_version\_\_ and reconcile uses of the version number so that there is only 1 copy that needs to be main

[2020-10-12 17:24] georgemccabe commented on #639
This issue was resolve by PR #646 because changes in this branch were needed for other development. A new issue was created for the timing tests (#649) to ensure that these changes are improving the timing of Travis jobs.

[2020-10-12 17:24] #639 closed, assigned to fentoad72

[2020-10-12 20:47] jprestop opened #653 "Investigate how to add version selector to documentation"
## Describe the Enhancement ##
Investigate how to add version selector to documentation

### Time Estimate ###
1 to 3 days of work

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
Next release

### Funding Source ###
?

## Define the Metadata ##

### Assignee ###
- [x] Select **engineer(s)** or *

[2020-10-13 17:03] georgemccabe commented on #634
We haven't heard back from SNAT about group accounts and Todd has been analyzing the time for each Travis job (#649), so I am moving this to beta2.

[2020-10-13 18:05] JohnHalleyGotway opened #658 "Create the METplus 4.0-beta1 release."
## Describe the Task ##
This task is to create the METplus 4.0-beta1 release currently scheduled for 10/21/2020.

Please follow the release instructions posted here:
https://github.com/dtcenter/METplus/wiki/Creating-a-new-METplus-release

If the instructions are incorrect or unclear, please clarify them.

### Time Estimate ###
2 hours?

### Sub-Issues ###
Consider breaking the task down into sub-i

[2020-10-13 23:54] georgemccabe commented on #636
PR #652 was submitted to resolve #648. Once these changes are merged, we can close this issue.

[2020-10-14 13:59] #653 closed, assigned to jprestop

[2020-10-14 14:08] georgemccabe opened #659 "Fix Travis tests for pull requests from forks"
Recent changes to the Travis tests involve pushing and pulling Docker images to use for the tests. However, forked repositories do not have permission to push Docker images to our Docker repos, so the tests fail.

## Describe the Enhancement ##
Build the Docker images and data volumes if the unable to push them. Potentially solutions include:
- Check for the environment variables that store the Do

[2020-10-14 16:12] georgemccabe commented on #605
This is a duplicate of #644. Closing.

[2020-10-14 16:12] #605 closed, assigned to nobody

[2020-10-14 21:37] JohnHalleyGotway opened #662 "Add a new document for METplus to inventory verification datasets for MET and METplus."
## Describe the Enhancement ##
This task relates to the 2019 Air Force datasets project for which we had a kickoff meeting on 10/14/21.

This task consists of the following steps:
- Add a new METplus document to describe input verification datasets (e.g. point observations, gridded verifying analyses, and gridded forecast products).
- Develop a template that can be used to describe each dataset. F

[2020-10-15 01:04] georgemccabe opened #664 "Add support for using file windows to find closest file using template with wildcards"
The [FCST/OBS]_FILE_WINDOW_[BEGIN/END] variables allow a window of time to search for files in a directory and find all matches or the closest file using filename templates. However, if the * wildcard expression is used, the logic breaks. This was not supported because it was difficult to extract the time info from a file with wildcards, but if all of the time information is found in filename temp

[2020-10-15 17:09] georgemccabe commented on #644
Lisa made all of the changes to resolve the errors except for the 'line too long' errors, which we have set to ignore. We moved this issue to the 4.0-beta2 project so we can discuss if we want to resolve the remaining errors or just resolve this issue.

[2020-10-15 20:09] #648 closed, assigned to georgemccabe

[2020-10-15 20:14] #602 closed, assigned to georgemccabe

[2020-10-15 20:27] georgemccabe commented on #636
Sub-issue was closed, so we can close this issue.

[2020-10-15 20:27] #636 closed, assigned to JohnHalleyGotway, georgemccabe

[2020-10-15 20:27] #659 closed, assigned to georgemccabe

[2020-10-15 20:29] #621 closed, assigned to georgemccabe, j-opatz

[2020-10-15 20:30] #651 closed, assigned to georgemccabe

[2020-10-15 20:34] fentoad72 commented on #649
I formatted the timing to mm:ss and also added a job_start timestamp in before_script and a job_end timestamp in after_script in travis.yml.  A couple syntax errors and some consistency (test_use_cases, not test_use_case, to match filenames and be consistent).  Left the sequencing alone for now.

I then copied a branch called feature_649a_travisticktockbuild, where docker_setup is called and docke

[2020-10-15 21:11] #614 closed, assigned to mrinalbiswas, hankenstein2

[2020-10-15 21:15] georgemccabe opened #665 "Internal: Consider automating some steps from Release Guide"
Note: This issue previously involved auto-updating the release date with an argument to the docs/build_docs.py script. However, we no longer use this script in favor of ReadTheDocs building the documentation, so I reopened the issue to be more general for automating release instructions.

Currently we have to update the release date and version number that is read by docs/conf.py by hand. It would

[2020-10-15 22:43] fentoad72 commented on #649
This link popped up when I logged on to my Travis repo just now:
[https://blog.travis-ci.com/2020-09-11-arm-on-aws](https://blog.travis-ci.com/2020-09-11-arm-on-aws)

It appears that they're upgrading their processor speed.  This would be a good thing if it knocks our 30 minute jobs down to 20, for example.  However, I'm going to keep things the way they are for now, so we continue to have a consi

[2020-10-20 10:40] linyu0219 opened #666 "different file system between MET source code by git and by download"
git clone  MET and download source code (met9.1.tar.gz) on MET'release page has different files.
like 'met/src/basic/vx_math/viewgravity_to_string.cc'   in tar.gz but not in git.
when  metplus build met by git clone by userguide, it  will  have compile error.

[2020-10-20 10:41] linyu0219 commented on #666
metplus 3.1

[2020-10-20 13:34] JohnHalleyGotway commented on #666
Linyu, this is not a bug. The default branch of MET is named main_v9.1. It contains the MET version 9.1 release plus all bugfixes for met-9.1. Once we’ve accumulated enough bugfixes, we’ll create a met-9.1.1 bugfix release from that branch. In addition, the code in the tarfile will never exactly equal the code in the repo. When creating a release, a couple of automatic code generation tools are ru

[2020-10-20 13:34] #666 closed, assigned to nobody

[2020-10-21 14:50] jprestop commented on #594
Pull request was submitted. Documentation was nice and succinct.  Task is complete.

[2020-10-21 14:50] #594 closed, assigned to jprestop, DanielAdriaansen

[2020-10-21 23:35] bikegeek commented on #658
created release

[2020-10-22 21:09] bikegeek commented on #658
Added some content: Pre-condition and questions under the 'Create Release on GitHub' section.

[2020-10-26 21:26] georgemccabe commented on #658
The release is available here: https://github.com/dtcenter/METplus/releases/tag/v4.0-beta1

[2020-10-26 21:26] #658 closed, assigned to bikegeek, georgemccabe

[2020-10-26 21:29] #606 closed, assigned to georgemccabe, fentoad72

[2020-10-26 21:29] #155 closed

[2020-10-26 21:34] georgemccabe commented on #76
The following wrappers need to be refactored to match the other wrappers: TCPairs, TCStat, ExtractTiles, SeriesByInit, SeriesByLead. PCPCombine could also be cleaned up. There may be others that need improvements.

[2020-10-26 21:54] georgemccabe commented on #76
Sub issue: #578

[2020-10-26 22:16] georgemccabe opened #669 "Refactor ExtractTiles wrapper"
Sub issue of #76

## Describe the Enhancement ##
See #76

### Time Estimate ###
~1-2 days

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [X] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
None

### Funding Source ###
None

## Define the Metadata ##

### Assignee ###
- [X] Select **engineer(s)** or **no engineer** required
- [X] Select **scienti

[2020-10-26 22:16] georgemccabe opened #670 "Refactor SeriesByInit wrapper"
Sub issue of #76

## Describe the Enhancement ##
See #76

### Time Estimate ###
~1-2 days

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [X] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
None

### Funding Source ###
None

## Define the Metadata ##

### Assignee ###
- [X] Select **engineer(s)** or **no engineer** required
- [X] Select **scienti

[2020-10-26 22:17] georgemccabe opened #671 "Refactor SeriesByLead wrapper"
Sub issue of #76

## Describe the Enhancement ##
See #76

### Time Estimate ###
~1-2 days

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [X] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
None

### Funding Source ###
2791541

## Define the Metadata ##

### Assignee ###
- [X] Select **engineer(s)** or **no engineer** required
- [X] Select **scie

[2020-10-26 22:18] georgemccabe opened #672 "Refactor TCStat wrapper"
Sub issue of #76

## Describe the Enhancement ##
See #76

### Time Estimate ###
~1-2 days

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [X] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
None

### Funding Source ###
None

## Define the Metadata ##

### Assignee ###
- [X] Select **engineer(s)** or **no engineer** required
- [X] Select **scienti

[2020-10-27 18:35] JohnHalleyGotway opened #673 "Internal: Create a METplus "Release Guide" describing how to build releases for the METplus components."
## Describe the Task ##
Please see [METplus meeting notes](https://docs.google.com/document/d/1nkAPFijlJq3X3vuOBVBPgVSzTn6IUMEAO_gnEaLskyg/edit#) from 10/27/2020 for more details. This task is to create a 3rd document for METplus in addition to the user and contributor's guides. This document will describe the process for creating a METplus release and consist of up to 8 chapters:
1. Introduction

[2020-10-27 20:40] jprestop commented on #673
I have created branch "feature_673_release_guide"  and have set up a very basic infrastructure for this task.

You can view what exists at this time by visiting:
https://ral.ucar.edu/staff/jpresto/work/METplus_jpresto/Release_Guide/index.html

Please let me know if you have any questions.

[2020-10-28 19:50] georgemccabe opened #674 "Crash when improperly formatted filename template is used"
@jvigh discovered this area for improvement.
If a filename template has a closing curly brace '}' without a corresponding opening curly brace '{' before it, the script will crash.

## Describe the Enhancement ##
In the getraw function in metplus/util/config_metplus.py inside the elif character == "}" block there should be a check that in_brackets is set to True. If it is not, it should report an e

[2020-10-28 20:43] fentoad72 opened #675 "Document Continous Integration Functionality in the METplus Contributor's Guide"
*Replace italics below with details for this issue.*

## Describe the Task ##
Document what is done with Travis.yml and Docker in the repo for versioning, testing, building, etc., for those that don't know Travis.  Eventually this would be a chapter in the Contributor's Guide

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of w

[2020-10-28 21:50] fentoad72 commented on #675
Potential topics include:
-- how to read and write a travis.yml file (and what it does)
-- the Travis webpage/gui
-- travis CLI: what is useful, such as travis log (cross-post with Travis CLI Github Issue)
-- github-travis-docker setup and interaction
-- using Travis (or "Pass") to store credentials

[2020-10-28 23:25] georgemccabe opened #676 "Make Docker data volume names consistent with other tags"
From Slack chat from @JohnHalleyGotway:
[code]

## Describe the Enhancement ##
- Update build_docker_images.sh script to remove "v" from the name of a tagged version, i.e. v4.0 => 4.0
- Generated 3.0 and 3.1 data volumes and remove v3.0 and v3.1 volumes.

### Time Estimate ###
2 hours

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [X] *Add a checkbox for each sub-iss

[2020-10-29 17:01] JohnHalleyGotway commented on #662
At the 10/29/2020 METplus meeting, we decided to organize this content into a new METplus document instead of an appendix to the METplus User's Guide. I update the title/body of this issue accordingly.

[2020-10-30 20:52] fentoad72 commented on #649
Timing tests for 11 test runs -- 5 with building the Docker image once and pulling it for the other jobs, 6 with building a fresh Docker image for each job, showed the always-build cases took around 2 minutes less of wall-clock time than the build-once cases.  The actual increase might be slightly more, as I was including two of the use case tests (pytest and test_met_tool_wrapper in the serial te

[2020-10-30 20:52] #649 closed, assigned to fentoad72

[2020-11-02 17:44] georgemccabe opened #678 "Add GridStat Python embedding use case example"
Biswas (NCAR) is trying to set up a METplus use case using GridStat with python embedding. It would be helpful to have an example showing how to configure GridStat using Python embedding to get input data so users can take that use case configuration and modify it for their needs.

## Describe the Task ##
The use case can use the example python embedding commands using fcst.txt and obs.txt that ar

[2020-11-02 18:17] georgemccabe opened #679 "INPUT_BASE should not be required if not used by example"
METplus wrappers cannot run unless INPUT_BASE is set to something other than /path/to. This shouldn't be required since some users don't use INPUT_BASE to define their input data location and some example use cases (like met_tool_wrapper/Example/Example.conf) do not use any input data. The documentation for the use cases actually mentions that the variable is optional when it is in fact required.

[2020-11-02 18:43] georgemccabe commented on #676
Resolved from PR

[2020-11-02 18:43] #676 closed, assigned to georgemccabe

[2020-11-02 19:24] georgemccabe commented on #402
Consider creating a separate page to describe how each METplus config translates to the environment variable read by MET config files. We could link into this page from each use case doc and the Python Wrappers section of the User's Guide.

[2020-11-02 19:25] georgemccabe opened #681 "Clean up use case documentation files"
There are a handful of text that are identical in every use case doc file that  should be cleaned up and improved in across the board.

One example is the way we word the "Running METplus" section requires us to modify the name of the new config 4 times. We also have discussed improving how we show how METplus config variables correspond to MET config variables (#402).

## Describe the Task ##
We

[2020-11-02 19:38] georgemccabe commented on #679
Closed by PR #680

[2020-11-02 19:38] #679 closed, assigned to georgemccabe

[2020-11-02 19:39] georgemccabe commented on #678
Closed by PR #680

[2020-11-02 19:39] #678 closed, assigned to georgemccabe

[2020-11-02 19:43] georgemccabe opened #682 "Add unit tests for set_met_config_X functions in CommandBuilder"
There are currently no unit tests for these functions. The functionality was tested by ensuring that the new wrappers that use them work as expected, but there should be actual pytests for these functions to ensure that they don't break and cover edge cases.

## Describe the Task ##
Add tests to internal_tests/pytests/command_builder

### Time Estimate ###
2-3 days

### Sub-Issues ###
Consider bre

[2020-11-03 17:04] georgemccabe opened #684 "Add support for comparing 1 input with Python embedding and 1 input without"
While putting together a use case using GridStat that reads OBS data using Python embedding but FCST data by specifying name/level, I learned that this is not supported because the code checks to ensure that the number of name/levels for fcst and obs are equal.

`ERROR: If FCST_VAR1_LEVELS is set, you must either set OBS_VAR1_LEVELS or change FCST_VAR1_LEVELS to BOTH_VAR1_LEVELS`

## Describe the

[2020-11-03 19:15] georgemccabe opened #685 "Internal: Improve use case testing"
We have discussed a few ideas to improve the use case tests that are run that are very time consuming. We should generate a testing strategy document to outline what improvements can be made and what we desire to have implemented. Once we have a solid plan, create sub-issues.

## Describe the New Feature ##
Initial brainstorming ideas include:
- Testing that the commands and environments created b

[2020-11-03 19:17] georgemccabe commented on #685
It will be overwhelming to have a use case in the repository to every possible configuration of MET tools, so we should consider creating tests that cover more cases besides the use cases. For example, we could use ensure that the wrappers are able to generate the MET unit tests: https://github.com/dtcenter/MET/blob/main_v9.1/test/xml/unit_python.xml

[2020-11-03 20:17] mrinalbiswas opened #686 "Add METplus use-case for HRD TDR data"
*Replace italics below with details for this issue.*

## Describe the New Feature ##
*This use-case will validate TC model output (e.g. HWRF and HAFS) against TDR data available from HRD. The input dataset was provided by Andrew Hazelton (HRD).*

### Acceptance Testing ###
*The input data is NetCDF format. It contains zonal, meridional, tangential and meridional winds and radar reflectivity data.

[2020-11-04 16:43] jprestop opened #687 "Fix Quick Search links"
## Describe the Problem ##
Fix quick search links in develop and 3.1 documentation in quicksearch.rst file.

### Expected Behavior ###
Quick search links listed on these pages:
https://dtcenter.github.io/METplus/develop/Users_Guide/quicksearch.html
https://dtcenter.github.io/METplus/3.1/Users_Guide/quicksearch.html
https://dtcenter.github.io/METplus/latest/Users_Guide/quicksearch.html
should take

[2020-11-04 17:10] jprestop opened #688 "Fix GitHub Workflow formatting in Contributor's Guide"
## Describe the Enhancement ##
The formatting of the GitHub Workflow in the Contributor's Guide does not look good:
https://dtcenter.github.io/METplus/develop/Contributors_Guide/github_workflow.html#github-workflow

### Time Estimate ###
1 day

### Sub-Issues ###
None

### Relevant Deadlines ###
None

### Funding Source ###
None

## Define the Metadata ##
None

### Assignee ###
- [x] Select **engi

[2020-11-04 17:41] georgemccabe commented on #684
Note: this change could be applied to previous versions as a bugfix if desired.

[2020-11-04 19:05] JohnHalleyGotway opened #690 "Define a common set of GitHub labels that apply to all of the METplus component repos."
## Describe the Task ##
Maintaining 7+ separate lists of GitHub labels in 7+ repositories has become unwieldy and prone to error.
This task is to construct a list of labels which apply to ALL METplus repos and define them in the METplus repo... ideally in the .github directory.

Unfortunately there is no easy way of defining "organziation-wide" labels. So this task is the next best thing.

Individ

[2020-11-04 19:13] georgemccabe commented on #686
Working on eyewall in branch feature_686_hdr_tdr

[2020-11-04 19:18] georgemccabe commented on #672
I discussed with @JohnHalleyGotway and we decided it makes sense to only support TCStat using a config file since we have a wrapped METplus TCStat config file to use and it will be easier to maintain. I will make the appropriate changes in a new branch.

[2020-11-04 21:05] georgemccabe commented on #686
Notes from meeting on 11-4-2020:
- Modifications are needed to METcalcpy so that the input model data can be read by the MET tools.
- Extract single mission from TDR data for use in the case

[2020-11-04 21:16] georgemccabe commented on #686
In the meeting today we discussed the possibility of modifying the python script to extract the valid time information from a given mission ID, then using that time to trigger GridStat. A driver script could be written to call GridStat instead of using master_metplus.py.

[2020-11-05 16:58] #684 closed, assigned to georgemccabe

[2020-11-05 17:37] JohnHalleyGotway commented on #690
Please update this Google Doc with common labels:
https://docs.google.com/document/d/1ZQ1cC0cnLdWMZxrR9wS-LddJSK-lshnYOEs3wolssNE/edit

[2020-11-05 20:20] georgemccabe opened #694 "Add plot_data_plane wrapper"
Implement a wrapper for plot_data_plane.

## Describe the New Feature ##
*Provide a description of the new feature request here.*

### Acceptance Testing ###
*List input data types and sources.*
*Describe tests required for new functionality.*

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues ###
Conside

[2020-11-05 20:27] georgemccabe opened #695 "Consider adding auto plot of input data"
We discussed the idea of adding a config variable that if true will determine which files/fields are inputs and run plot_data_plane on them to easily see if the configuration will read the data correctly.

## Describe the New Feature ##
*Provide a description of the new feature request here.*

### Acceptance Testing ###
*List input data types and sources.*
*Describe tests required for new function

[2020-11-10 18:42] georgemccabe commented on #665
Adding the following line to the docs/conf.py file will add the "Last modified time: " text to the footer automatically:

html_last_updated_fmt = '%c'

The datetime format specified in this variable will be used to format the timestamp.

[2020-11-12 16:44] #672 closed, assigned to georgemccabe

[2020-11-12 17:55] jprestop commented on #687
Resolved in pull requests #692 and #693

[2020-11-12 17:55] #687 closed, assigned to jprestop

[2020-11-12 17:57] jprestop commented on #688
Resolved in pull request #696

[2020-11-12 17:57] #688 closed, assigned to jprestop

[2020-11-13 20:21] fentoad72 commented on #634
I created a branch feature_634_credentials and did some tests.

1) There is no .docker directory, and no .docker/config.json on the Travis Virtual Machine in either the home directory (/home/travis), the build directory (/home/travis/build/fentoad72), or the METplus directory (/home/travis/build/fentoad72/METplus)
2) In the job log, DOCKER_USERNAME=[secure] and DOCKER_PASSWORD=[secure].  Even the

[2020-11-16 15:49] georgemccabe commented on #634
Based on this information, I think you are correct that we can resolve this issue without making any changes to the current setup.

[2020-11-16 15:49] #634 closed, assigned to JohnHalleyGotway, georgemccabe, fentoad72

[2020-11-17 21:55] lindsayrblank commented on #414
This issue has been done and we forgot to close it.

[2020-11-17 21:55] #414 closed, assigned to lindsayrblank, CPKalb, hankenstein2

[2020-11-18 17:49] JohnHalleyGotway commented on #690
Finished coordinating with Tara and Keith on updates to the labels. The ball is back in John's court to commit them and write utility scripts for updating them.

[2020-11-18 18:52] georgemccabe opened #701 "Add use cases using python embedding for tools that do not currently have one"
There have been many requests for examples to configuring METplus to use python embedding for tools like GridStat, MODE, etc. A GridStat example has already been added to the develop branch.

## Describe the New Feature ##
Identify which tools support python embedding that do not currently have an example in parm/use_cases/met_tool_wrapper. Add examples for these tools.

### Acceptance Testing ###

[2020-11-18 18:52] #694 closed, assigned to georgemccabe

[2020-11-18 18:53] #669 closed, assigned to georgemccabe

[2020-11-18 18:55] georgemccabe commented on #24
This should be covered when tackling #671

[2020-11-18 20:43] georgemccabe commented on #493
The .travis.yml file has been cleaned up based on the tasks listed above.

[2020-11-18 20:43] #493 closed, assigned to georgemccabe, fentoad72

[2020-11-18 21:15] fentoad72 commented on #487
change Travis-ci.org to travis-ci.com

[2020-11-18 21:20] fentoad72 commented on #487
If we change to ReadTheDocs, this issue could be closed because readthedocs automates it, but we'll need to create an issue to change the hard links to they don't point to github.io

[2020-11-18 21:21] fentoad72 commented on #488
change travis-ci.org to travis-ci.com in the URL the badge points to

[2020-11-18 21:23] fentoad72 commented on #584
update with info on how I used travis log to pull builds and check timing flags

[2020-11-19 16:38] #24 closed

[2020-11-19 21:12] georgemccabe opened #704 "Add support for multiple instances of tools in process list"
This is a sub-issue of #670
Currently only 1 instance of each tool can be provided in the process list

PROCESS_LIST = TCPairs, TCStat, ExtractTiles, SeriesByInit

TCStat was pulled out of ExtractTiles to make it more clear when it is run. TCStat is also optionally called inside SeriesByInit and SeriesByLead. It would greatly simplify the logic of those wrappers if you could call TCStat right befo

[2020-11-20 21:33] DanielAdriaansen commented on #635
The prototype for this work exists in branch feature_635_nrlinnov. I decided to add the filtering capability in the Python embedding for now, via pandas. The pandas filters are configurable via [user_env_vars] in METplus, as is the mapping between NRL column names and MET 11-column names. Processing is somewhat slow, but these are very large files. The ASCII format takes ~ 3 minutes per file while

[2020-11-23 15:49] DanielAdriaansen commented on #783
The sample header sent was from the PLOWS field campaign. Sounding data from this field campaign can be found here:
https://data.eol.ucar.edu/master_lists/generated/plows/

under "Upper Air: Radiosonde".

It appears there were three sources of soundings for this campaign, MISS, NWS, and Univ. of Mo. We should test any capability using all three sources, however the EOL Sounding Composite (ESC) for

[2020-11-23 22:55] #704 closed, assigned to georgemccabe

[2020-11-25 19:01] fentoad72 commented on #675
I wrote up [5 pages on Travis](https://docs.google.com/document/d/1-SWAPQVI53bN5ilGFmU8cyl3zBxMifr7m7pvaUaVKdI/edit) and how it works, including walking through the METplus travis.yml file.

Please comment directly in the document.  I think it could be fleshed out in a number of ways, including doing a little research on Circle CI and Github Actions (Circle CI is credit based, while GItHub Actions

[2020-11-30 17:13] georgemccabe opened #707 "Append semi-colon to end of _OPTIONS variables"
Currently the value of [FCST/OBS]_VAR<n>_OPTIONS is added directly to the end of the field dictionary. Multiple options are separated by semi-colon and the last (or a single) item must also end with a semi-colon. For example:

[code]

However, it would be nice if a single item did not require a semi-colon and it will be added automatically if missing.

## Describe the Enhancement ##
Add logic to p

[2020-11-30 17:21] georgemccabe commented on #675
@fentoad72 , I quickly reviewed the doc and there is a lot of good information in it. I added a few comments of which sections to expand (details about the scripts). I also recommended that you add code blocks in the final doc for each section of the .travis.yml file you describe so it is easier to follow.

[2020-11-30 21:50] georgemccabe opened #708 "Enhance Python embedding logic to allow multiple levels"
From MET Help ticket 97670 (from NASA GMAO), we learned that users would like to be able to provide a list of levels in [FCST/OBS]_VAR<n>_LEVELS that would be applied to the equivalent _NAME value (that contains the call to the Python script).

## Describe the Enhancement ##
Currently, to process multiple levels with Python embedding, the user must configure the following:

[code]

The _LEVEL valu

[2020-12-01 16:29] #488 closed, assigned to fentoad72

[2020-12-02 20:50] georgemccabe opened #711 "Support SKIP_IF_FILE_EXISTS for all wrappers"
Most wrappers support this functionality (i.e. PCP_COMBINE_SKIP_IF_OUTPUT_EXISTS) but it would be nice to support it in all wrappers so there is no question if the capability is available when someone asks (someone asked).

## Describe the Enhancement ##
Check that all wrappers handle the configuration appropriately and add support if they do not.

### Time Estimate ###
1 day

### Sub-Issues ###
C

[2020-12-03 18:09] georgemccabe opened #714 "Create the METplus 4.0.0-beta2 release."
## Describe the Task ##
This task is to create the METplus 4.0.0-beta2 release currently scheduled for 12/7/2020.

Please follow the release instructions posted here:
http://icculus.rap.ucar.edu/metplus-release/Release_Guide/metplus.html#development-release-e-g-vx-y-z-betan-or-vx-y-z-rcn

If the instructions are incorrect or unclear, please clarify them.

### Time Estimate ###
2 hours?

### Sub-Is

[2020-12-03 20:39] JohnHalleyGotway opened #715 "Update content in the METplus Verification Datasets Guide."
## Describe the Enhancement ##
This task relates to the 2019 Air Force datasets project for which we had a kickoff meeting on 10/14/21. METplus #662 created the initial framework for the Verification Datasets Guide. That was added for METplus version 4.0.0-beta2. This task is enhance that content and add new dataset descriptions.

Each new dataset can be added by:
1. Copy over the existing templat

[2020-12-03 20:45] #662 closed, assigned to JohnHalleyGotway

[2020-12-03 21:19] georgemccabe commented on #711
Need to fix warnings in documentation and add new *_SKIP_IF_OUTPUT_EXISTS items to glossary.rst and wrappers.rst

[2020-12-04 00:47] #711 closed, assigned to georgemccabe

[2020-12-04 23:25] georgemccabe opened #717 "user_env_vars section not available when using replace_config_from_section"
*Replace italics below with details for this issue.*

## Describe the Enhancement ##
*Provide a description of the enhancement request here.*

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

###

[2020-12-07 16:50] #205 closed

[2020-12-07 16:52] georgemccabe commented on #205
This has been completed since at least v3.0

[2020-12-07 16:56] georgemccabe opened #718 "Enhance PCPCombine wrapper to be able to process multiple fields in one command"
This has been discussed before, but we discovered an issue did not exist when handling Mallory's MET Help ticket 97764.

You should be able to process multiple fields at once in derive mode (in 1 command) and process multiple fields by looping through in other modes. I believe this can be achieved in some modes by using [FCST/OBS]\_VAR<n>\_* variables, but the logic should be updated to use the re

[2020-12-07 19:30] georgemccabe opened #719 "Enhance Python embedding logic to allow multiple level values"
This came up related to MET Help issue 97670. Currently Python embedding is configured by adding the script call as the _NAME value and leaving _LEVELS blank. It would be nice to be able to specify a list of levels and loop over them calling the script each time. For example, instead of having to do:

[code]

it would be nice to be able to set:

[code]

## Describe the Enhancement ##
Implement the

[2020-12-08 18:33] hankenstein2 commented on #714
The release has been created.

[2020-12-08 18:33] #714 closed, assigned to hankenstein2

[2020-12-08 18:58] georgemccabe opened #721 "Transition from using Travis CI to GitHub Actions"
Travis CI suddenly began charging for builds for all users without warning. We quickly ran out of credits and were unable to continue development using our CI/CD setup. We contacted them about getting an open source plan 2 1/2 weeks ago and provided them with the information they requested but have still not received a plan. Due to these events, we have decided to switch to using GitHub Actions fo

[2020-12-09 00:13] georgemccabe commented on #721
This task is complete to replicate the current setup run by Travis CI. The new setup has room to be cleaned up and improved.

[2020-12-09 00:13] #721 closed, assigned to nobody

[2020-12-09 18:59] georgemccabe opened #723 "Implement UserScript wrapper"
Create a new wrapper.

## Describe the Enhancement ##
See above.

### Time Estimate ###
~1 day

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [X] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
Multiple users need this for use cases.

### Funding Source ###
None

## Define the Metadata ##

### Assignee ###
- [X] Select **engineer(s)** or **no en

[2020-12-10 17:34] georgemccabe commented on #723
Created PR #724 , still need to write documentation for new wrapper configs and new use cases.

[2020-12-10 17:48] georgemccabe opened #725 "UserScript wrapper documentation"
*Replace italics below with details for this issue.*

## Describe the Enhancement ##
*Provide a description of the enhancement request here.*

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

###

[2020-12-10 18:00] JohnHalleyGotway opened #726 "Create a new METplus GitHub issue template for "New Use Case"."
## Describe the Task ##
We had intended to create a GitHub issue template to describe the steps for creating a new METplus Use Case.
This task is to add a new file in:
   METplus/.github/ISSUE_TEMPLATE/new_use_case.md

Recommend copying over new_feature_request.md to new_use_case.md and modifying it. Also, make sure to add a label for "task: new use case" and reference it in the new_use_case.md fi

[2020-12-10 18:09] georgemccabe opened #727 "Create training video for UserScript wrapper"
This would be useful to help users understand how to use the new features that are available with this wrapper.

## Describe the Task ##
See above

### Time Estimate ###
~ 1 day

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [X] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
None

### Funding Source ###
None

## Define the Metadata ##

### Assignee ##

[2020-12-10 19:05] fentoad72 opened #728 "Apply TCPairs, TCStat, CyclonePlotter, GridStat to EMC 2020 Data"
*Replace italics below with details for this issue.*

## Describe the Task ##
*Learn how to use TCPairs, TCStat, CyclonePlotter, and GridStat in the context of cyclones, using existing sample data from GitHub*

### Time Estimate ###
*Estimate the amount of work required here.*
*3 calendar days of work spread out over December.*
*Future work will either extend this task or create another one*

###

[2020-12-10 19:20] georgemccabe opened #729 "Fix broken use case documentation page for 3.1"
The model_applications/medium_range/TCStat_SeriesAnalysis_fcstGFS_obsGFS_FeatureRelative_SeriesByLead_PyEmbed_IVT.conf use case is formatted incorrectly so it displays "SyntaxError" as the title of the page instead of the actual title. This was fixed in the develop branch but the current docs displayed for 3.1 (latest) still show the error.

A patch to the main_v3.1 branch and render of the docume

[2020-12-11 17:06] #729 closed, assigned to georgemccabe

[2020-12-11 17:40] mrinalbiswas opened #731 "Adding METplus use cases to include verification of TC output against dropsonde data"
## Describe the New Feature ##
Add a new METplus use cases to verify TC output against dropsonde data obtained from HRD's website.

### Acceptance Testing ###
Test ASCII2NC tool to check the netcdf output. Then use pointstat to compare observations against TC output )e.g. HAFS output).

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3

[2020-12-11 19:12] JohnHalleyGotway commented on #690
As of 12pm on 20201210, all 50 common labels have been pushed to the METplus repositories:
metplus, met, metviewer, metexpress, metdatadb, metcalcpy, metplotpy, metplus-training

Still need to DELETE some non-component labels from those other repos though.

[2020-12-14 17:16] #723 closed, assigned to georgemccabe

[2020-12-14 17:34] georgemccabe opened #733 "GridDiag grouping files to process"
Per MET help 97672, Jamie Wolff brought to our attention that users want to run GridDiag to process not only a single run time, but a group of files covering multiple run times for a single analysis.

## Describe the Enhancement ##
Enhance GridDiag wrapper to utilize the RuntimeFreq wrapper functionality to determine the frequency to run. The wrapper should obtain a list of all files that correspo

[2020-12-14 22:35] JohnHalleyGotway opened #734 "Create ascii2nc python embedding script for TC dropsonde data."
This is a sub-issue of #731.

## Describe the Sub-Issue ##

In support of the new use case demonstrating the use of TC dropsonde data, edit/enhance the ascii2nc python-embedding script that Biswas has been developing. Listed below is a recent email from Biswas describing the state of that script.

I started with one variable and have 11 columns. However, I am seeing the same error. Regarding the v

[2020-12-14 23:53] #690 closed, assigned to ksearight, JohnHalleyGotway, TaraJensen

[2020-12-16 00:10] JohnHalleyGotway commented on #734
Made some good progress. Tested first by running via python alone:
[code]
Next, run via ascii2nc:
[code]
Lastly, run plot_point_obs to plot the result:
[code]
Here's the resulting image.
<img width="608" alt="Screen Shot 2020-12-15 at 5 09 29 PM" src="https://user-images.githubusercontent.com/21087144/102287781-60b1ab00-3ef8-11eb-88ab-6747d815d916.png">

[2020-12-16 00:26] jprestop commented on #644
We discussed this issue at a meeting a few weeks ago.  Tara mentioned that documentation has gone over budget. It was said that we would not tackle this now, but at some point in the future we would revisit and decide if it was something we wanted to do when we had more funding for this task.  We discussed having Lisa do this task or trying to do it with a script, but noted that Sphinx has some su

[2020-12-16 17:58] fentoad72 commented on #584
We are migrating from Travis CI/CLI to Github Actions; this issue is no longer relevant (closing)

[2020-12-16 17:58] #584 closed, assigned to ksearight, jprestop, imcginnis, jimfrimel, JohnHalleyGotway, georgemccabe, hankenstein2, fentoad72

[2020-12-16 18:02] fentoad72 commented on #487
This issue is changed because we're using ReadTheDocs and assigned to jprestop

If a ReadTheDocs issue exists; this can be closed.  If a ReadTheDocs issue does not exist, this issue can be modified to align to the current task plan.

[2020-12-16 18:45] JohnHalleyGotway commented on #506
On 12/15/20, DTC engineers met with Stylianos Flampouris to discuss NOAA's needs for a METplus AMI.
They'd like to use a METplus AMI to demonstrate the use and processing of UFS data that's provided by the BigData project on AWS. The timeline for the data to be available on the cloud is unclear.

Goal: Provide METplus AMI no later than the end of January 2021.

Stylianos will coordinate with Ken S

[2020-12-17 15:56] #734 closed, assigned to JohnHalleyGotway

[2020-12-17 21:24] JohnHalleyGotway opened #737 "Adapt NOAA Marine Vx python code into a MET python embedding script to serve up gridded data."
## Describe the Task ##
On 12/17/20, DTC staff met with NOAA/EMC staff to discuss the transition of the existing EMC Marine Verification functionality into METplus. One major topic of conversation was the handling of Marine data in NetCDF4 format on a tri-polar grid. No existing NetCDF [CF conventions](https://cfconventions.org/Data/cf-conventions/cf-conventions-1.8/cf-conventions.html) exist for

[2020-12-18 20:28] bikegeek opened #738 "Create a wrapper for the madis2nc MET tool"
A MET user has multiple files that he would like to reformat based on time.  A wrapper to the madis2nc tool would be helpful for this user.

## Describe the New Feature ##
*Provide a description of the new feature request here.*

### Acceptance Testing ###
*List input data types and sources.*
*Describe tests required for new functionality.*

### Time Estimate ###
*Estimate the amount of work requi

[2020-12-21 16:53] georgemccabe opened #740 "Time info corrupted during GridStat run"
Brian Matilla from NOAA discovered a bug where METplus crashes because it can't find the valid time even though it should be available.

## Describe the Problem ##
The bug occurs when running GridStat using the custom loop list. The first iteration runs fine, but the 2nd iteration of the loop crashes.

[code]

### Expected Behavior ###
The bug can be replicated by running METplus using this conf f

[2020-12-21 21:05] #740 closed, assigned to nobody

[2020-12-22 13:19] georgemccabe opened #743 "StatAnalysis MakePlots is broken"
## Describe the Problem ##

Mallory Row noticed that StatAnalysis fails when MakePlots is also run. A simple, one line fix prevented this error. This has already been tested by Mallory.

### Expected Behavior ###
The code should not error out when preparing for a MakePlots run

### Environment ###
Describe your runtime environment:
*1. Machine: (e.g. HPC name, Linux Workstation, Mac Laptop)*
*2. O

[2020-12-22 14:26] #743 closed, assigned to georgemccabe

[2020-12-29 21:03] fentoad72 commented on #728
I've run through the wrappers using the canned data under /d1/projects/METplus/METplus_data successfully.

Then I wrote a python program to look at the 2020 verification data and extract the 000 hour forecast files into an analyses file.  Not sure if the Python program is part of this issue or should be made into a new issue.

[2020-12-29 21:42] JohnHalleyGotway commented on #728
Todd,

When deciding whether or not to create a GitHub issue, I'd recommend asking
a simple question. Do you anticipate that this work will add to or change
any of the files in the repository? If so, please document the work as an
issue. If not, please don't create an issue. For example, this issue,
learning about existing tools, probably shouldn't be a GitHub issue at all.

If you want to keep tr

[2021-01-04 22:23] georgemccabe commented on #737
I was able to get tri-polar read into MET using the xesmf Python package.

This is an image from ncdump of the input data:
![tripolar-input](https://user-images.githubusercontent.com/23407799/103585289-07f28400-4ea0-11eb-87fd-2ad9cfa3695f.PNG)

This following images are output from running PlotDataPlane using the python embedding script as input:

Northern hemisphere:
![north-1x0 5](https://user-i

[2021-01-06 15:51] georgemccabe opened #748 "Support additional configurations in EnsembleStat"
See https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=98116 for discussion.

Binbin Zhou (NOAA) is setting up a use case that would benefit by having the following MET config variables configurable through the wrappers:

ens_ssvar_bin_size (and phist?)
ens.obs_thresh
climo_cdf.cdf_bins, center_bins, and write_bins

Also, ENSEMBLE_STAT_VERIFICATION_MASK_TEMPLATE is read and processed in the Compare

[2021-01-06 15:54] #670 closed, assigned to georgemccabe

[2021-01-06 15:57] georgemccabe commented on #310
A handful of PRs were done that resolve this issue. Once PR #747 is merged, this issue can be closed.

[2021-01-06 22:46] georgemccabe opened #749 "Improve logic of TCPairs wrapper"
There are two main things that could be improved in this wrapper.

1) Set cyclone to current cyclone if processing individually

Currently the wrapper passes in the full list of cyclones to process from the METplus config for every run. This works fine if the input files are sorted by cyclone since the input file contains only that cyclone. If the input file contains many cyclones and a list of cy

[2021-01-06 22:47] #733 closed, assigned to georgemccabe

[2021-01-06 23:44] #310 closed, assigned to georgemccabe

[2021-01-06 23:45] #671 closed, assigned to georgemccabe

[2021-01-06 23:52] #578 closed, assigned to georgemccabe

[2021-01-06 23:56] georgemccabe commented on #76
Currently all wrappers following config variable naming conventions (start with name of tool if specific to that tool). All wrappers except TCMPRPlotter and CyclonePlotter following the wrapper conventions to build and run commands. These wrappers are special cases -- TCMPR calls an R script that will eventually be replaced by python scripting and Cyclone calls matplotlib and cartopy functions to

[2021-01-06 23:56] #76 closed

[2021-01-07 16:59] georgemccabe commented on #470
This was already completed.

[2021-01-07 16:59] #470 closed, assigned to nobody

[2021-01-07 19:54] jprestop commented on #429
The formatting of that chapter 6 to have it render well on GitHub pages was handled in [Issue 688](https://github.com/dtcenter/METplus/issues/688) and is now complete.

Also, I wanted to note a change from John's comment on "Aug 21, 2020", which said "Need to setup and ensure that TravisCI regression tests pass." to note that we are switching from using TravisCI to using GitHub Actions.

[2021-01-07 20:06] jprestop opened #750 "Fix formatting and perspective METplus Contributor's Guide"
## Describe the Task ##
The formatting of Chapter 4:
https://dtcenter.github.io/METplus/develop/Contributors_Guide/conda_env.html

and the formatting of Chapter 9:
https://dtcenter.github.io/METplus/develop/Contributors_Guide/documentation.html

need to be made more consistent with the other Sphinx documentation.

Update the perspective in these chapters to third person (eliminating references to

[2021-01-08 19:39] georgemccabe commented on #628
On feature_628_diff_index, the new use case is running in the use case tests via GitHub Actions with error. METcalcpy and METplotpy are obtained via manage_externals.

I believe the only step remaining is to write the use case documentation.

Side note: A PR was created for changes to METplotpy (https://github.com/dtcenter/METplotpy/pull/77) to fix part of the difficulty index code so it can use t

[2021-01-08 22:11] georgemccabe opened #751 "Create subdirectories for use cases for supplemental files"
UPDATE: Confirmed that we want to make this change on 1/11/2021

Currently all files for a use case go into model_applications/<category>.

## Describe the Enhancement ##
We are considering creating a subdirectory with the same name as the use case conf (i.e. use_case_name for use_case_name.conf) to put all of the files that are used in the use case such as MET config files and python embedding sc

[2021-01-09 23:27] lindsayrblank opened #753 "Add Verification Dataset Use Case: IMERG"
## Describe the New Use Case ##
A new METplus use case that processes and uses the IMERG has been requested as part of the Air Force verification dataset task. This use case will read in IMERG data and use it as verification data to compare model performance.

### Acceptance Testing ###
Input observation data: IMERG
Input forecast data: GALWEM grib2 data

Test:
Reproduce GridStat output found in d

[2021-01-11 18:33] jprestop opened #754 "Fix Documentation Build Warnings"
## Describe the Task ##
Fix the warnings that appear when building the documentation, however this may be irrelevant when switching to ReadTheDocs.

### Time Estimate ###
1 to 3 days of work.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
NONE

### Funding Source ###
2712231

## Define the Metadata ##

[2021-01-11 18:34] jprestop commented on #754
One of the warnings is ""WARNING: Undefined substitution referenced: "projectRepo".

Correspondence from George:
"Those are expected warnings that I do not know how to avoid. It is frustrating that they clutter up the output. projectRepo is set in the top level .rst files, i.e. docs/Release_Guide/metplus.rst. This variable is referenced throughout the release instructions that are common to multip

[2021-01-11 23:40] georgemccabe opened #755 "Handle model, obtype, desc, and regrid dictionary the same for all wrappers that use them"
Related to #748

Many MET tools have model, obtype, desc, and regrid in their config file. We would like to have these variables handled the same way for all wrappers.

## Describe the Enhancement ##
Set these variables the same for all wrappers that use them. If unset, they should default to an empty string. If set, the environment variable set should include the variable name, i.e.

MODEL = FCST

[2021-01-12 02:08] georgemccabe commented on #748
Here are some notes describing all of the variables in the EnsembleStat MET config file that differ from the default values in one of the current METplus use cases:

nbrhd_prob.width can be a list, ensure supported i.e. width      = [ 1, 3, 5, 7, 9 ];

nmep_smooth
.gaussian_dx
.gaussian_radius
.type (method, width)

ens.obs_thresh, ens.ens_thresh, ens.vld_thresh

obs.wind_thresh?

duplicate_flag (

[2021-01-12 18:23] bikegeek commented on #629
Test this in the METplus AMI, which is not yet ready...

[2021-01-12 19:26] CPKalb opened #757 "Use Cases for CIMMS Spatial Vx"
*Replace italics below with details for this issue.*

## Describe the New Use Case ##
*Provide a description of the new feature request here.*

### Acceptance Testing ###
*List input data types and sources.*
*Describe tests required for new functionality.*

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issue

[2021-01-12 19:40] venitahagerty commented on #629
There is now a Dockerfile in METdatadb/METdbLoad that runs met_db_load.py using a local XML file, local data, and the remote MySQL server specified in the XML file.

[2021-01-12 21:23] georgemccabe commented on #749
We noticed that there are a few lines of log output between the list of environment variables set for the tc_pairs command run and the command run. The env var list should be found immediately before the command. We should fix this when we refactor this wrapper.

[2021-01-12 21:59] #757 closed, assigned to CPKalb

[2021-01-12 22:21] lindsayrblank opened #759 "Modify user diagnostic feature relative use case to use MetPy Python package"
## Describe the New Feature ##
Brian Colle from SBU wants us to change the user diagnostic input scripts to use MetPy. This means re-writing the follow scripts:

- gfs_pv_analysis.py
- gfs_pv_fcst.py

We should use the following function: https://unidata.github.io/MetPy/latest/api/generated/metpy.calc.potential_vorticity_baroclinic.html

I have tried to do this myself, but the required format (P,M

[2021-01-13 01:08] georgemccabe commented on #748
Working in branch feature_748_ensemble_stat_config. Implemented nbrhd_prob, nmep_smooth, duplicate_flag, skip_const, ens.obs_thresh, ens_ssvar_bin_size, ens_phist_bin_size, climo_cdf

[2021-01-13 19:44] georgemccabe commented on #737
Updated script based on feedback from Todd Spindler. Added additional optional argument to specify the path to the weight file to use. This drastically speeds up execution time. The weight file should be included with the input data for the use case.

Updated script: [read_tripolar_grid.py](https://github.com/dtcenter/METplus/files/5810755/read_tripolar_grid.py.txt)

[2021-01-13 23:13] #755 closed, assigned to georgemccabe

[2021-01-14 15:40] georgemccabe commented on #282
Working to add setup.py script to allow users to install metplus package using pip locally. This is needed for the SWPC use case to make METplus available in Docker without having to add the directory to the python path.

We can revisit adding metplus to PyPi at a later date, as there may be more involved to do that due to potential licensing issues.

[2021-01-14 17:57] fentoad72 commented on #728
I've gotten a sample storm through TCPairs, CyclonePlotter, and TCStat.

Next is to update repo as FeatureRelative cases may have changed

Then try to get the sample storm through the FeatureRelative cases

[2021-01-14 18:10] georgemccabe commented on #715
Any status updates for this issue? I see there have been a couple pull requests with changes already merged. Does anyone else have changes they are planning on making for this issue?

[2021-01-14 18:16] michelleharrold commented on #715
There will likely be a few additional changes in the next 1-2 weeks, but after that work should be all complete.

[2021-01-14 18:23] georgemccabe opened #760 "Fix MET config environment variable backwards compatibility"
Recent changes modified how MODEL, OBTYPE, and REGRID_* variables are set in the MET config (#755). However, these changes will break user's wrapped MET config files because the format of some of these variables have changed and REGRID_TO_GRID was removed.

## Describe the Enhancement ##
We should fix this by still supporting the setting of these environment variables as they were previously used

[2021-01-14 22:25] jprestop commented on #644
Lisa took a thousand line file to add return lines to keep the characters under 79 per line and timed it to see how long it might take for her to do this work manually, as we suspect that Sphinx has some subtleties that may not be handled well by a script in doing this work.  She said she thought that a half hour seemed like a reasonable ball park estimate.  She noted, however, that the document s

[2021-01-19 17:00] georgemccabe commented on #701
Added new use case for MODE using python embedding. Also added PointStat python embedding use case but the case produces no output lines because the sample data times do not match up. We should remedy this before adding this case.

[2021-01-19 17:09] j-opatz commented on #411
PR was completed and use case is successfully integrated into the next beta release

[2021-01-19 17:09] #411 closed, assigned to TaraJensen, georgemccabe, j-opatz, easatterfield

[2021-01-19 17:24] georgemccabe commented on #707
It turns out the change needed for this was already made previously. I cleaned up the logic to remove some white space and added a pytest to ensure the functionality doesn't ever break.

[2021-01-19 22:40] georgemccabe commented on #731
parm/use_cases/model_applications/tc_and_extra_tc/hrd_frd_sonde_for_ascii2nc.py should be moved into a sub-directory named after the .conf file for this use case.

[2021-01-20 18:12] JohnHalleyGotway commented on #715
Met on 1/20/21 and defined the following action items for this task:

- @lindsayrblank will document ice/ptype data (migrate content over from [Verification Dataset Brainstorm](https://docs.google.com/document/d/1Ta3oYIAEw0Ofczy94mCy2jGwMJ7GRsWctthnD9Hv_GY/edit))

- @lindsayrblank will document IMERG data.

- @michelleharrold will document dust data.

[2021-01-20 20:15] georgemccabe commented on #748
censor_thresh (list of comparisons) and censor_val (list of float) should also be supported (surrogate severe use case)

[2021-01-21 14:31] georgemccabe opened #767 "List external dependencies in use case documentation files"
There are currently only 3 use case docs that have an "External Dependencies" section.

* docs/use_cases/model_applications/precipitation/GridStat_fcstHREFmean_obsStgIV_Gempak.py
* docs/use_cases/met_tool_wrapper/GempakToCF/GempakToCF.py
* docs/use_cases/met_tool_wrapper/PCPCombine/PCPCombine_python_embedding.py

There are many more use cases that require additional Python packages that are used i

[2021-01-21 15:29] georgemccabe opened #768 "Update setting of environment variables for MET config files to add support for all to METPLUS_ vars"
We are moving towards a new format of setting environment variables that are read by the wrapped MET config files.
* All environment variables set that are used in the wrapped files should start with METPLUS_, i.e. METPLUS_MODEL. These variables should either contain an empty string (if not used so the default value will be used) or set to a string that contains the MET config variable name, an eq

[2021-01-21 23:23] jprestop opened #770 "Change perspective of Contributor's Guide chapters to 3rd person"
## Describe the Task ##
Change the perspective of chapters 2, 3, 5, 6, 7, and 8 to third person (e.g. from "you" ("we", "our") to "the user" (etc.))

### Time Estimate ###
2-3 days of work

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
*NONE*

### Funding Source ###
Split 2702691, 7740181, 2771021, 27

[2021-01-21 23:32] lisagoodrich commented on #770
Lisa's estimate of time:
There are about 1200 changes to be made.  Below is the grep commands used to find the words to change.  I'm guessing this will take a couple of days to clean up.

/git/METplus/docs/Contributors_Guide$ grep "you " * | wc -w
grep: figure: Is a directory
1049
/git/METplus/docs/Contributors_Guide$ grep " our" * | wc -w
grep: figure: Is a directory
0
/git/METplus/docs/Contribut

[2021-01-21 23:35] #429 closed, assigned to lisagoodrich

[2021-01-21 23:54] #750 closed, assigned to jprestop, lisagoodrich

[2021-01-22 17:58] #754 closed, assigned to jprestop, georgemccabe, lisagoodrich

[2021-01-25 17:48] georgemccabe opened #774 "Add support for setting output flags in GridStat and PointStat"
*Replace italics below with details for this issue.*

## Describe the Enhancement ##
*Provide a description of the enhancement request here.*

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

###

[2021-01-25 18:53] jprestop opened #776 "Resolve GitHub doc8 complaints"
## Describe the Task ##
George noticed that the GitHub Actions logs that run doc8 are complaining about some documentation items:
https://github.com/dtcenter/METplus/runs/1750485557?check_suite_focus=true
GitHub Actions are set to allow failures in the documentation checks. These doc8 "errors" don't show up when we build the docs, so we don't necessarily need to fix them since they seem to render

[2021-01-25 22:07] #760 closed, assigned to georgemccabe

[2021-01-25 22:08] #751 closed, assigned to georgemccabe

[2021-01-25 22:09] georgemccabe commented on #717
This was fixed in part of development for a SWPC use case. Unknown issue number.

[2021-01-25 22:09] #717 closed, assigned to georgemccabe

[2021-01-25 22:09] #708 closed, assigned to georgemccabe

[2021-01-25 22:10] georgemccabe commented on #345
This was completed with work for PR #747

[2021-01-25 22:10] #345 closed, assigned to nobody

[2021-01-25 22:11] georgemccabe commented on #342
This was covered in issues #671, #670, #669

[2021-01-25 22:11] #342 closed, assigned to georgemccabe

[2021-01-25 22:13] georgemccabe commented on #293
This was completed a while ago. I am unsure exactly when. This can be controlled with config variables found in parm/metplus_config/metplus_logging.conf:

LOG_LINE_FORMAT
LOG_ERR_LINE_FORMAT
LOG_DEBUG_LINE_FORMAT
LOG_INFO_LINE_FORMAT

[2021-01-25 22:13] #293 closed, assigned to georgemccabe

[2021-01-25 22:14] georgemccabe commented on #258
This was implemented for METplus 3.1

[2021-01-25 22:14] #258 closed, assigned to georgemccabe

[2021-01-25 22:15] georgemccabe commented on #286
This was completed. Unsure exactly when, but it is available in at least 3.1 (maybe earlier).

[2021-01-25 22:15] #286 closed, assigned to georgemccabe

[2021-01-25 22:25] georgemccabe opened #777 "Fix single config section changes"
This work was partly done but there are a few more things to change. It would be good to get this finalized so that we can ensure it doesn't break anything unexpected.

We determined that we don't need to separate out config sections into dir, exe, filename_templates, and regex_pattern because there is no benefit in having these sections and it forces variables that correspond to each other (i.e.

[2021-01-25 22:26] #748 closed, assigned to georgemccabe

[2021-01-25 22:58] georgemccabe commented on #682
The tests for this issue were added with PR #775

[2021-01-25 22:58] #682 closed, assigned to georgemccabe

[2021-01-26 16:44] georgemccabe opened #779 "Add support for many commonly changed MET config variables"
We would like to support setting MET config variables through the wrappers for values that are likely to be changed from the default. This will reduce the need for user's to create their own wrapped MET config files to configure.

Here is a list of variables from @malloryprow that she has changed:

*GridStat*: model, desc, obtype, regrid, fcst, obs, climo_mean, mask,
fourier, output_flag, grid_wei

[2021-01-26 16:58] #777 closed, assigned to georgemccabe

[2021-01-26 17:03] georgemccabe opened #780 "Add user settings env var to all wrapped MET configs"
Users often has settings they need to override in a MET config that are not currently supported. Until they are supported, it would be nice to allow them to set those overrides easily in the wrapped MET configs without having to copy the wrapped file and modifying it. This would greatly reduce the effort to create a user case if settings aren't yet supported in the wrappers.

## Describe the Enhan

[2021-01-26 17:11] #628 closed, assigned to lindsayrblank, georgemccabe

[2021-01-26 18:55] georgemccabe opened #781 "Create 4.0.0-beta3 release"
## Describe the Task ##
This task is to create the METplus 4.0.0-beta3 release.

Please follow the release instructions posted here:
https://dtcenter.github.io/METplus/develop/Release_Guide/metplus.html#development-release-e-g-vx-y-z-betan-or-vx-y-z-rcn

If the instructions are incorrect or unclear, please clarify them.

### Time Estimate ###
*Estimate the amount of work required here.*
Less than

[2021-01-26 19:51] #643 closed, assigned to CPKalb, TaraJensen

[2021-01-27 17:02] #719 closed, assigned to georgemccabe

[2021-01-27 17:02] #707 closed, assigned to georgemccabe

[2021-01-28 23:51] jprestop opened #785 "Update Release Guide procedures"
## Describe the Task ##
Update the METplus Release Guide to:
Remove instructions for the creation of a main_vX.Y-beta branch as listed in [sections 1.3.6 and 1.3.7](https://dtcenter.github.io/METplus/develop/Release_Guide/metplus.html#id17).
Add instructions to create a feature branch in the beginning of the release instructions.
Use MET instructions as a guide.  There may not be much to change.

[2021-01-29 21:11] jprestop commented on #781
This release was created on 1/27/20. Closing issue.

[2021-01-29 21:11] #781 closed, assigned to jprestop

[2021-01-29 23:54] JohnHalleyGotway commented on #715
We've had several updates to the verification datasets guide. As of 1/29/21, @michelleharrold confirms that we can now close this issue.

[2021-01-29 23:54] #715 closed, assigned to lindsayrblank, michelleharrold, ericgilleland, hertneky, briannen

[2021-02-01 16:41] jprestop opened #789 "Move the documentation over to Read The Docs"
## Describe the Task ##
Move the documentation over to Read The Docs

### Time Estimate ###
1 to 3 days of work

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
ASAP

### Funding Source ###

## Define the Metadata ##

### Assignee ###
- [x] Select **engineer(s)** or **no engineer** required
- [ ] Select

[2021-02-01 16:44] jprestop opened #790 "Add links to the top-level page for component's documentation"
## Describe the Task ##
Add links to the top-level landing page for each component's documentation on the top-level METplus documentation page:
   https://dtcenter.github.io/METplus/latest/
e.g. have MET link to "https://dtcenter.github.io/MET/latest/"

Wait to do this until after the switch to RTD when those links will change.

### Time Estimate ###
< 1 hour

### Sub-Issues ###
Consider breaking

[2021-02-03 19:42] j-opatz opened #791 "PlotDataPlane use case utilizing Python embedding for tripolar coordinates"
## Describe the New Use Case ##
In the pursuit of getting EMC's ocean verification package capabilities transferred to METplus, tripolar coordinate systems were successfully read into MET with a user Python script. Now, a use case demonstrating that Python script with a PlotDataPlane wrapper is being created. This will also be a first entry in the new model application "marine_and_coastal"

### Ac

[2021-02-03 23:11] georgemccabe commented on #768
Dan and I are working on branch feature_768_met_config
I have finished implementing support for all new METPLUS_ environment variables in the following wrappers:

ASCII2NC
EnsembleStat
GridStat
MODE
MTD
PointStat

Changes made to these wrappers are easy to replicate in the other wrappers. Some variables have already been supported in the other wrappers with changes to be consistent across wrappers

[2021-02-04 01:54] georgemccabe commented on #768
Finished:
GridDiag
PB2NC
SeriesAnalysis
STATAnalysis
TCGen
TCRMW

To go:
TCPairs
TCStat

Still need to test changes against previous version to ensure output is the same and update docs

[2021-02-04 20:14] j-opatz commented on #737
Tying this to #791, which focuses on bring this capability to a PlotDataPlane use case. This may be tied to a future GitHub as well, after a conversation with Todd Spindler on 2/3 indicated a need for higher resolution (1/12th deg) processing of tripolar coordinate datasets and it is unknown how much additional work will be required to adapt this code to that need.

[2021-02-04 20:45] georgemccabe commented on #768
All wrappers have now implemented the new method for setting environment variables.

[2021-02-04 21:01] georgemccabe opened #793 "Create Troubleshooting section in User's Guide"
We should put a list of common roadblocks that users run into here.

One example:
From MET Help ticket 98538, Deanna Spindler (NOAA) ran into an error trying to use a filename template tag in PB2NC_INPUT_DIR. This is currently only supported in the corresponding PB2NC_INPUT_TEMPLATE variable. (Side note: this may be something we want to add support for if possible).

## Describe the Enhancement ##

[2021-02-08 18:38] georgemccabe opened #794 "Rename master_metplus.py to run_metplus.py"
To avoid using problematic terminology, we should rename master_metplus.py.

## Describe the Enhancement ##
Rename the script to run_metplus.py. Create a symbolic link so that master_metplus.py will still work for users temporarily. Add release notes to encourage users to switch to using run_metplus.py instead.

### Time Estimate ###
~ 1 hour

### Sub-Issues ###
Consider breaking the enhancement d

[2021-02-08 19:16] georgemccabe commented on #768
@DanielAdriaansen I added a check for unused environment variables in the wrapped MET config files. Any item that is in the wrappers WRAPPER_ENV_VAR_KEYS list that is not found in the wrapped MET config file will produce a warning:

[code]

This should make it easier for you to see what has not yet been updated in the files in parm/met_config. Keep in mind that if I have forgotten to add a variabl

[2021-02-09 15:22] georgemccabe opened #795 "Cleanup CyclonePlotter file writing"
CyclonePlotter writes out a track info file for debugging purposes that needs to be cleaned up.
* Order of output lines vary from run to run, so regression testing is difficult
* Multiple file handles are opened for the same file
* sys.exit can be called while the file handle is still open

## Describe the Enhancement ##
Clean up this section of the code so that file I/O is handled better and outp

[2021-02-09 18:42] bikegeek opened #799 "Identify code throughout METplus components that are common utilities"
*Replace italics below with details for this issue.*

## Describe the Task ##
There are potential utilities that can be used for METplus wrappers, METplotpy, METcalcpy, METdatadb, and/or METviewer.  Collect potential common utilities.

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues ###
Consider breakin

[2021-02-09 18:44] georgemccabe commented on #799
Python scripts that would be useful for multiple projects:
- Regression testing diffing scripts

[2021-02-09 19:19] georgemccabe commented on #799
Breaking up metplus/util/met_util.py into multiple files with related functionality would make this easier. Here is the existing issue for that: https://github.com/dtcenter/METplus/issues/344

[2021-02-09 21:43] j-opatz opened #800 "Integrate NOAA marine verification package into METplus"
*Replace italics below with details for this issue.*

## Describe the Task ##
On 12/17/20, DTC staff met with NOAA/EMC staff to discuss the transition of the existing EMC Marine Verification functionality into METplus. After successfully embodying tripolar coordinate python wrappers into METplus (#737), a meeting on 02/03/21 laid out the remaining packages.
This Issue will serve as the central iss

[2021-02-09 22:11] DanielAdriaansen opened #801 "Add support for MET tc_gen changes in METplus"
## Describe the New Feature ##

MET tc_gen went through some major changes for MET-10.0.0-beta3. These changes were requested from multiple users including work being done for #630 and #631. The `tc_gen_wrapper` needs to be updated to accomodate the MET changes so the work for #630 and #631 can be completed.

The changes to MET can be seen here:
dtcenter/MET#1448
dtcenter/MET#1430
dtcenter/MET#159

[2021-02-09 22:15] DanielAdriaansen commented on #630
For now, we can use the new MET_CONFIG_OVERRIDES capability in METplus to control new tc_gen config options via METplus wrappers. However this should be changed to use the appropriately supported METplus config items once #801 is complete.

[2021-02-09 22:15] DanielAdriaansen commented on #631
For now, we can use the new MET_CONFIG_OVERRIDES capability in METplus to control new tc_gen config options via METplus wrappers. However this should be changed to use the appropriately supported METplus config items once #801 is complete.

[2021-02-09 22:27] JohnHalleyGotway commented on #801
For reference, the TC-Gen config files for MET versions 9.1 and 10.0.0 are attached:
[TCGenConfig_v9.1.txt](https://github.com/dtcenter/METplus/files/5954620/TCGenConfig_v9.1.txt)
[TCGenConfig_v10.0.0.txt](https://github.com/dtcenter/METplus/files/5954621/TCGenConfig_v10.0.0.txt)

The config file changes are listed below:
- Add "valid_freq" integer.
- Replace "lead_window" dictionary with "fcst_hr

[2021-02-09 22:32] georgemccabe commented on #801
Thanks for the info. This should be pretty straightforward to with the new changes to how the wrappers set env vars in MET config files. The changes are in branch feature_768_met_config ( #768 ). I have already verified that the output from the develop branch matches the output from this branch, but we are waiting for @DanielAdriaansen 's changes to the wrapped MET config files and documentation.

[2021-02-09 22:35] DanielAdriaansen commented on #801
Would #780 work? I thought that PR was meant to move this functionality into METplus faster than all of the work in #768.

If not, I could also re-prioritize my work and start on #768 which might be easier than having a separate PR and/or branch from #768.

[2021-02-09 22:41] georgemccabe commented on #801
#780 is waiting for PR review (#792) by @j-opatz to get the MET_CONFIG_OVERRIDES functionality into develop faster than the other issue. This needs to happen before you can use that feature for your work-around. #768 involves changing the wrappers to set environment variables for MET config files (starting with METPLUS_) in a new and improved way that is much more efficient and easy to add support

[2021-02-09 22:45] DanielAdriaansen commented on #801
I will start work ASAP on #768. Probably day or two I would imagine? Seems to make the most sense to me.

[2021-02-09 22:52] georgemccabe commented on #768
The diff output from running develop and this branch can be found on kiowa here:

/d1/personal/mccabe/diff-output/diff.log

The differences in the CyclonePlotter text file are due to the wrapper writing the output in a different order each run, which will be resolved with this PR: #797

The differences in the TCStat output have been resolved in a config change on the feature branch feature_768_met

[2021-02-09 23:42] #795 closed, assigned to georgemccabe

[2021-02-11 16:27] bikegeek opened #803 "CyclonePlotter no longer connects points to delineate storm tracks"
*Replace italics below with details for this issue.*

## Describe the Problem ##
Converting from Matplotlib Basemap to Cartopy has resulted in the loss of the line plot where individual storms are no longer connected to indicate storm tracks.

### Expected Behavior ###
*Provide a clear and concise description of what you expected to happen here.*

### Environment ###
Describe your runtime environm

[2021-02-11 22:37] georgemccabe commented on #674
Changes needed for #780 fixed this issue. Once #792 is merged, this issue can be closed as well.

[2021-02-12 20:30] #791 closed, assigned to j-opatz

[2021-02-16 22:41] j-opatz commented on #737
With the creation of overarching #800 and in preparing for the next major METplus release, this issue is being closed. If a new implementation is needed for higher resolution processing of tripolar data, then a new issue will be created.

[2021-02-16 22:41] #737 closed, assigned to j-opatz

[2021-02-16 22:44] #803 closed, assigned to bikegeek

[2021-02-18 02:35] DanielAdriaansen commented on #768
All met_tool_wrapper GridStat use cases were tested with the new wrapped GridStat config file and no differences between the output of each use case using the wrapped GridStat config file from this branch and the wrapped GridStat config file from the develop branch were noted. Documentation for the met_tool_wrapper GridStat use cases has been updated. Next up will be testing model_applications Gri

[2021-02-18 19:06] georgemccabe opened #812 "Improve regression testing logic"
Notes from @JohnHalleyGotway from PR review #810:

* When differences are detected, add the files from the reference "truth" branch to the artifact created for that pull request GHA. That'll make it really easy for the PR reviewer to investigate the diffs.

* Can we make the docker data volumes more self-describing? If possible, add a "/README" file that lists info like the creation date, source b

[2021-02-18 19:14] jprestop commented on #436
Funding for this work ran out before it was completed.  Closing issue for now.  Relevant files are being stored at kiowa:/d1/personal/jpresto/METplus/Skymet.tar and narya:/Users/jpresto/Projects/METplus/keep/Skymet.tar. Work was being done in feature_435_skymet_state.

[2021-02-18 19:14] #436 closed, assigned to nobody

[2021-02-18 19:14] jprestop commented on #435
Funding for this work ran out before it was completed.  Closing issue for now.  Relevant files are being stored at kiowa:/d1/personal/jpresto/METplus/Skymet.tar and narya:/Users/jpresto/Projects/METplus/keep/Skymet.tar. Work was being done in feature_435_skymet_state.

[2021-02-18 19:15] #435 closed, assigned to nobody

[2021-02-18 19:17] georgemccabe commented on #567
This was completed with PR #810. A new issue with suggested improvements to this logic can be found in #812.

[2021-02-18 19:17] #567 closed, assigned to georgemccabe

[2021-02-18 21:09] #794 closed, assigned to georgemccabe

[2021-02-18 21:11] #780 closed, assigned to georgemccabe

[2021-02-18 21:11] georgemccabe commented on #674
Resolved with PR #792

[2021-02-18 21:11] #674 closed, assigned to georgemccabe

[2021-02-19 19:26] DanielAdriaansen commented on #768
All of the GridStat model_applications use cases have been updated in two places:
1. Each METplus conf file was switched to use the GridStatConfig_wrapped MET config file
2. Each METplus docs Python/RST file was updated so the literalinclude is including the GridStatConfig_wrappped MET config file
3. Each METplus conf file for the use case was switched from using CONFIG_DIR to PARM_BASE/met_config

[2021-02-19 20:50] DanielAdriaansen opened #815 "Improve documentation for each wrapper to include required/optional conf items delineation"
## Describe the Enhancement ##
In the list of METplus configuration options for each wrapper, it would be nice to separate them into a "REQUIRED" and "OTHER" or "USER OPTIONAL" section so at a quick glance a user could copy out the minimum required for a wrapper to run it.

### Time Estimate ###
1 day

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [ ] *Add a checkbox

[2021-02-19 21:18] DanielAdriaansen commented on #768
Checklist for each wrapper:

- [x] GridStat
- [x] EnsembleStat
- [x] ASCII2NC
- [x] GridDiag
- [x] MODE
- [ ] MTD
- [x] PB2NC
- [x] PointStat
- [x] SeriesAnalysis
- [x] StatAnalysis
- [x] TcGen
- [x] TcPairs
- [x] TcRMW
- [x] TcStat

[2021-02-19 23:16] DanielAdriaansen commented on #768
Update- it looks like the GridStat S2S model_applications use case needs some attention. I think some output_flag or nc_pairs_flag changes are needed to get the use case to work properly. I tried testing with GRID_STAT_MET_CONFIG_OVERRIDES but I can't get that to work presently.

[2021-02-23 16:14] georgemccabe commented on #701
We are waiting for a full sample set of data to use for the PointStat use case. We need:
* Forecast data that can be processed with a Python Embedding script
* A Python Embedding script that can process the forecast data
* An observation file valid at the same time as the forecast data

[2021-02-23 16:55] georgemccabe commented on #641
The ExtractTiles wrapper (and optionally the SeriesAnalysis wrapper) reads a TCStat output file to get a list of storms and the lat/lon points along the track. The wrappers could be modified to read a MTD output file to parse out the lat/lon points from the appropriate columns. However, we will need to determine how to group these points.

[2021-02-23 20:02] JohnHalleyGotway opened #820 "New Use Case: Python embedding for using the wrf-python package to pass gridded data to MET."
## Describe the New Use Case ##
This suggested new use case is the results of a met-help question:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=98795

Many users of WRF would prefer not to have to post-process their raw NetCDF wrfout files using the wrf_interp or UPP tools. And there is a [wrf-python](https://wrf-python.readthedocs.io/en/latest/) package to make processing wrfout files easier

[2021-02-23 23:53] georgemccabe commented on #282
Work has been done in branch feature_282_metplus_package. Initial testing seems promising, but it would be good to test it one of the driver scripts that are currently being used to call functions from the metplus.util and metplus.wrappers areas.

[2021-02-25 17:15] georgemccabe commented on #793
Discussed creating FAQ Section as Chapter 9 in the User's Guide and add Troubleshooting items to that.

[2021-02-25 17:27] #731 closed, assigned to mrinalbiswas, JohnHalleyGotway, georgemccabe

[2021-02-25 17:31] georgemccabe commented on #726
It looks like this has been created. @TaraJensen can this issue be closed or is there more work to be done?

[2021-02-25 18:31] TatianaBurek commented on #629
There is a shell script that calls met_db_load.py and it is similar to the one that is currently uses Java.
https://github.com/dtcenter/METviewer/blob/v4.0-beta3/bin/mv_load_python.sh

[2021-03-01 21:04] #282 closed, assigned to georgemccabe

[2021-03-02 02:33] DanielAdriaansen commented on #768
With the help of George all GridStat use cases are passing now. I am moving to EnsembleStat.

- [x] Make sure the \_wrapped config file for the MET tool has been updated to include all of the METPLUS_* env vars
- [x] Change the literalinclude in both met_tool_wrapper and model_applications use case docs files to be the wrapped MET config file
- [x] Change the paragraph under "MET configuration" to

[2021-03-02 02:45] DanielAdriaansen commented on #768
@georgemccabe does the EnsembleStat wrapper support METPLUS_MASK_DICT yet?

[2021-03-02 17:02] DanielAdriaansen opened #828 "Fix EnsembleStat wrapper config glossary items"
## Describe the Problem ##
While working on #768 I noticed some issues with the following three METplus conf items in the glossary:
OBS_ENSEMBLE_STAT_INPUT_GRID_DATATYPE
ENS_ENSEMBLE_STAT_INPUT_DATATYPE
FCST_ENSEMBLE_STAT_INPUT_DATATYPE

1. Is the first one supposed to be *GRID_DATAYPE? Or just *_DATATYPE?
2. It appears item 2 is not in the conf glossary
3. Double check item 3 is correct in glossa

[2021-03-02 17:26] DanielAdriaansen commented on #828
Additionally, should these be "DATATYPE", or "FILETYPE" to more closely align with MET vernacular? It seems like for EnsembleStat, there is a METPLUS_ENS_FILE_TYPE which controls the setting of the file_type item in the ens dictionary in the MET config file, but this is controlled via METplus using a conf item with "DATATYPE" in the name (ENS_ENSEMBLE_STAT_DATATYPE).

[2021-03-02 17:45] georgemccabe commented on #828
OBS_ENSEMBLE_STAT_INPUT_GRID_DATATYPE is correct. EnsembleStat supports grid obs and point obs, so there are different variables for each.

[2021-03-02 18:15] DanielAdriaansen commented on #768
EnsembleStat use cases have been updated and docs changes are complete. Here are a list of use cases changed:

[code]

The docs build except for the glossary entry for ENS_ENSEMBLE_STAT_DATATYPE (see #828).

[2021-03-02 18:16] DanielAdriaansen commented on #768
Moving to ASCII2NC:

- [x] Make sure the \_wrapped config file for the MET tool has been updated to include all of the METPLUS_* env vars
- [x] Change the literalinclude in the use case docs file to be the wrapped MET config file
- [x] Change the paragraph under "MET configuration" to match for all use cases (e.g. https://ral.ucar.edu/staff/dadriaan/work/metconf/generated/met_tool_wrapper/GridStat

[2021-03-02 18:42] DanielAdriaansen commented on #768
ASCII2NC was a breeze, and only had met_tool_wrapper use cases and one METPLUS_* item to support. Here are the modified use cases:

[code]

The docs build except for previously mentioned errors.

[2021-03-02 18:42] DanielAdriaansen commented on #768
Moving to GridDiag:

- [x] Make sure the \_wrapped config file for the MET tool has been updated to include all of the METPLUS_* env vars
- [x] Change the literalinclude in the use case docs file to be the wrapped MET config file
- [x] Change the paragraph under "MET configuration" to match for all use cases (e.g. https://ral.ucar.edu/staff/dadriaan/work/metconf/generated/met_tool_wrapper/GridStat

[2021-03-02 18:48] georgemccabe commented on #768
I have started some of the MODE examples, so I would skip that tool for now.

- [X] Make sure the \_wrapped config file for the MET tool has been updated to include all of the METPLUS_* env vars
- [x] Change the literalinclude in the use case docs file to be the wrapped MET config file
- [x] Change the paragraph under "MET configuration" to match for all use cases (e.g. https://ral.ucar.edu/staff/

[2021-03-02 19:25] DanielAdriaansen commented on #768
GridDiag similarly straightforward, mainly due to lack of model_applications use cases. Here are the modified use cases:

[code]

Docs build successfully.

[2021-03-02 19:26] DanielAdriaansen commented on #768
Moving to PB2NC:

- [x] Make sure the \_wrapped config file for the MET tool has been updated to include all of the METPLUS_* env vars
- [x] Change the literalinclude in the use case docs file to be the wrapped MET config file
- [x] Change the paragraph under "MET configuration" to match for all use cases (e.g. https://ral.ucar.edu/staff/dadriaan/work/metconf/generated/met_tool_wrapper/GridStat/Gr

[2021-03-02 20:13] DanielAdriaansen commented on #768
PB2NC was also straightforward. Here are the modified use cases:
[code]
Docs build successfully.

[2021-03-02 20:14] DanielAdriaansen commented on #768
Moving to PointStat:

- [x] Make sure the \_wrapped config file for the MET tool has been updated to include all of the METPLUS_* env vars
- [x] Change the literalinclude in the use case docs file to be the wrapped MET config file
- [x] Change the paragraph under "MET configuration" to match for all use cases (e.g. https://ral.ucar.edu/staff/dadriaan/work/metconf/generated/met_tool_wrapper/GridSta

[2021-03-03 00:24] georgemccabe opened #830 "Create the METplus v4.0.0-beta4 release"
Creating next release.

## Describe the Task ##
*Provide a description of the task here.*

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
*List relevant project deadlines her

[2021-03-03 01:18] #830 closed, assigned to georgemccabe

[2021-03-03 15:59] georgemccabe commented on #644
While reviewing PR #826 @fisherhucar noticed that there are use case doc files (in docs/use_cases) that have lines that are very, very long. Those files likely don't show up in the errors from this issue, but if we decide to modify the doc files to limit the length of each line, we should review those files as well.

[2021-03-03 18:46] DanielAdriaansen commented on #768
PointStat is complete. Automation is running now. Here are the modified use cases:

[code]

Docs build.

[2021-03-03 18:46] DanielAdriaansen commented on #768
Moving to StatAnalysis:

- [x] Make sure the \_wrapped config file for the MET tool has been updated to include all of the METPLUS_* env vars
- [x] Change the literalinclude in the use case docs file to be the wrapped MET config file
- [x] Change the paragraph under "MET configuration" to match for all use cases (e.g. https://ral.ucar.edu/staff/dadriaan/work/metconf/generated/met_tool_wrapper/Grid

[2021-03-03 22:53] #701 closed, assigned to georgemccabe

[2021-03-04 03:11] DanielAdriaansen commented on #768
StatAnalysis is complete. All use cases appear to be passing automation. Here are the modified use cases:
[code]

Docs build- some issues with items not in conf glossary. Will resolve later.

[2021-03-04 03:11] DanielAdriaansen commented on #768
Moving to SeriesAnalysis:

- [x] Make sure the \_wrapped config file for the MET tool has been updated to include all of the METPLUS_* env vars
- [x] Change the literalinclude in the use case docs file to be the wrapped MET config file
- [x] Change the paragraph under "MET configuration" to match for all use cases (e.g. https://ral.ucar.edu/staff/dadriaan/work/metconf/generated/met_tool_wrapper/Gr

[2021-03-04 15:13] hankenstein2 opened #832 "Update manage externals for beta5 versions"
*Replace italics below with details for this issue.*

## Describe the Task ##
Update manage external scripts to pull the correct versions of MET,METcalcpy,METplotpy and METdatadb

### Time Estimate ###
2 hours

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
beta5

### Funding Source ###
NONE

## Define

[2021-03-04 16:27] DanielAdriaansen commented on #768
SeriesAnalysis is complete. Automation has not run yet. Here are the modified use cases:

[code]

Note that it appears all SeriesAnalysis use cases were already using the \_wrapped MET config file, and that file already contained all the new METPLUS_* items supported by series_analysis_wrapper so theoretically these changes are only for documentation and all use cases should still run.

Docs build

[2021-03-04 16:34] DanielAdriaansen commented on #768
Moving to TcGen:

- [x] Make sure the \_wrapped config file for the MET tool has been updated to include all of the METPLUS_* env vars
- [x] Change the literalinclude in the use case docs file to be the wrapped MET config file
- [x] Change the paragraph under "MET configuration" to match for all use cases (e.g. https://ral.ucar.edu/staff/dadriaan/work/metconf/generated/met_tool_wrapper/GridStat/Gr

[2021-03-04 17:12] DanielAdriaansen commented on #768
TCGen is complete. Automation has not run yet. Here are the modified use cases:

[code]

Note that it appears all TCGen use cases were already using the \_wrapped MET config file, and that file already contained all the new METPLUS_* items supported by tc_gen_wrapper so theoretically these changes are only for documentation and all use cases should still run.

Docs build- some issues with items no

[2021-03-04 17:13] DanielAdriaansen commented on #768
Moving to TcPairs:

- [x] Make sure the \_wrapped config file for the MET tool has been updated to include all of the METPLUS_* env vars
- [x] Change the literalinclude in the use case docs file to be the wrapped MET config file
- [x] Change the paragraph under "MET configuration" to match for all use cases (e.g. https://ral.ucar.edu/staff/dadriaan/work/metconf/generated/met_tool_wrapper/GridStat/

[2021-03-04 17:43] DanielAdriaansen commented on #768
TCPairs is complete. Automation has not run yet. Here are the modified use cases:
[code]
Docs build- some issues with items not in conf glossary. Will resolve later.

The use cases using TCPairs should be monitored because the \_wrapped MET config file was changed for these use cases.

[2021-03-04 17:44] DanielAdriaansen commented on #768
Moving to TcRMW:

- [ ] Make sure the \_wrapped config file for the MET tool has been updated to include all of the METPLUS_* env vars
- [ ] Change the literalinclude in the use case docs file to be the wrapped MET config file
- [ ] Change the paragraph under "MET configuration" to match for all use cases (e.g. https://ral.ucar.edu/staff/dadriaan/work/metconf/generated/met_tool_wrapper/GridStat/Gr

[2021-03-04 20:49] georgemccabe commented on #801
While doing this work, I learned that the values for fcst_raw_plot.color_table and the equivalent obs color table were incorrect in the parm/met_config/MODEConfig_wrapped file (differs from share/met/config version). This will result in differences in ps output.
I have seen this in met_tool_wrapper/MODE/MODE.conf but there may be more. Once we get a full list of use cases that are affected, we can

[2021-03-04 20:52] georgemccabe commented on #768
While doing this work, I learned that the values for fcst_raw_plot.color_table and the equivalent obs color table were incorrect in the parm/met_config/MODEConfig_wrapped file (differs from share/met/config version). This will result in differences in ps output.
I have seen this a couple cases but there may be more. Once we get a full list of use cases that are affected, we can rerun them with the

[2021-03-05 22:36] j-opatz opened #834 "New Use Case: Ice cover/concentration use case, part of marine layer verification integration"
## Describe the New Use Case ##
This new use case will duplicate the efforts of Todd Spindler's VLab-Redmine code, specifically its calculations for ice coverage and concentration (which includes extent and area calculations). This will need to utilize Python embedding for the data file ingest, as well as a possible need to convert between coordinate systems (if not available in METplus).
It still

[2021-03-09 00:00] georgemccabe commented on #768
Update: The following are output in the difference output that are expected changes:

### Caused by incorrect default color table in default wrapped MET config:

#### met_tool_wrapper
Text diff
  A:/data/truth/MODE/mode/2005080712/mode_WRF_RH_vs_WRF_RH_P500_120000L_20050807_120000V_000000A.ps
  B:/data/output/MODE/mode/2005080712/mode_WRF_RH_vs_WRF_RH_P500_120000L_20050807_120000V_000000A.ps

####

[2021-03-09 00:03] jprestop opened #836 "ReadTheDocs: Set up gh-pages redirection and update Release Guide"
## Describe the Task ##
Once ReadTheDocs is set up for all METplus components, set up gh-pages redirections, add documentation about ReadTheDocs, and remove or modify the "Update the Documentation on the Web" instructions in the Release Guide.

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*
< 1 day of work

### Sub-Is

[2021-03-09 00:12] georgemccabe commented on #768
Full logs of the differences tests can be viewed here (for ~90 days):
https://github.com/dtcenter/METplus/actions/runs/633804009

[2021-03-09 00:25] jprestop commented on #836
We will need to tag official releases with "stable" for them to show up as the latest "stable" branch. I will modify the Release Guide instructions to indicate that step.

[2021-03-10 00:23] georgemccabe commented on #801
I have made the first pass at refactoring the wrapper. I still need to:

- [X] Update the parm/met_config/TCGen_wrapped file to use the new environment variables
- [X] Update the parm/use_cases/met_tool_wrapper/TCGen use case to use the new METplus config variables
- [x] Add unit tests for TCGen wrapper and add more tests for new MET config handling functions
- [x] Update the documentation to incl

[2021-03-10 20:26] j-opatz commented on #726
Used commit 69637da313c6862f6f55acd48a6358bd1c1ea452 on develop branch to add new categories for discussion on use case category, input data size, run time, and develop-ref merging.

[2021-03-10 20:26] #726 closed, assigned to TaraJensen, j-opatz

[2021-03-11 00:51] #768 closed, assigned to DanielAdriaansen, georgemccabe

[2021-03-11 19:05] DanielAdriaansen commented on #768
We should also update the docs about adding a new use case to note that a MET conf file is no longer needed- the \_wrapped file should be used.

https://dtcenter.github.io/METplus/latest/Contributors_Guide/add_use_case.html

[2021-03-12 00:30] georgemccabe opened #839 "Improve approach to obtain additional python packages needed for some use cases"
I learned that the marine_and_coastal use case takes 15 seconds to run, but takes 35-40 minutes in GitHub Actions because it takes an extremely long time to obtain the xesmf package that is needed for that use case. A large portion of the processing time in all of the use cases that have additional packages involves obtaining packages.

## Describe the Enhancement ##
Consider a new approach to get

[2021-03-12 00:34] georgemccabe commented on #642
This use case was merged into develop, but there is another pull request to handle updates to the CI to properly handle getting the new truth data generated. Once that is merged in, we should create a pull request to update develop-ref from develop and can close this issue.

[2021-03-15 15:21] hankenstein2 commented on #832
Pull request approved and done

[2021-03-15 15:21] #832 closed, assigned to hankenstein2

[2021-03-15 18:39] georgemccabe commented on #718
From MET Help ticket #99031, @LoganDawson-NOAA noted that the addition of extra input fields requires specifying additional output names, especially if there are multiple inputs from the same field (different levels). Logan suggested adding a new configuration variable called FCST_PCP_COMBINE_EXTRA_OUTPUT_NAMES to handle this, and I agree that would be a good solution.

[2021-03-15 18:46] georgemccabe commented on #642
PR #842 updates develop-ref to generate new output data volumes for testing. This issue is complete.

[2021-03-15 18:46] #642 closed, assigned to CPKalb, TaraJensen, georgemccabe

[2021-03-15 22:37] georgemccabe commented on #629
Is it possible to reference environment variables from an XML file that is read by met_db_load.py?

[2021-03-16 13:57] TatianaBurek commented on #629
To my knowledge, XML doesn't support direct environment variables references.  In our scripts we usually parse XML and replace needed values "by hand"  before submitting it to Java or Python executable.

[2021-03-16 14:01] hankenstein2 commented on #629
I just recently (i.e. two days ago) looked into this for METcalcpy issue 31
and I agree, There does not seem to be a way to include environment
variables within XML.

There is however a fairly easy way in YAML which I have implemented and
that works with METdatadb if you want to discuss in todays meeting.

Hank

On Tue, Mar 16, 2021 at 7:57 AM Tatiana Burek ***@***.***>
wrote:

--
----------------

[2021-03-16 14:37] venitahagerty commented on #629
I've never felt the need for environment variables in the XML files, since
we can specify the directories and filenames in a variety of flexible ways.
It might be possible to add a tag for that, but it would take a fair amount
of coding.

Venita

On Tue, Mar 16, 2021 at 8:02 AM Hank Fisher ***@***.***>
wrote:

--
Venita Hagerty, PhD
Research Associate
CIRA at NOAA, GSL/AVID
2B152, x6098

[2021-03-16 14:47] georgemccabe commented on #629
Thanks for the feedback everyone. I assumed that was the case but thought I would ask in case I was missing something. The METplus wrappers utilize environment variables to override values in MET configuration files to avoid creating many tmp files for each run, so my first thought was to try to implement this logic in the same way. Using a template XML file and substituting keywords will work fin

[2021-03-16 15:42] ksearight commented on #551
Here are PDFs I generated for the 4 METplus manuals.  @jprestop @georgemccabe How close do you think these are to being releasable?
- [Verification_Datasets_Guide_vdevelop.pdf](https://github.com/dtcenter/METplus/files/6150311/Verification_Datasets_Guide_vdevelop.pdf)
- [METplus_Components_Release_Guide_vdevelop.pdf](https://github.com/dtcenter/METplus/files/6150315/METplus_Components_Release_Guid

[2021-03-16 15:42] #718 closed, assigned to georgemccabe

[2021-03-16 15:51] georgemccabe commented on #551
I just looked through the User's Guide and it looks pretty good! The formatting of the documentation for each use case is a little wonky, namely the use case config files that are added with a literal include of the file seem to be split up into multiple blocks with different sized text, but the content is all there. In my opinion, the docs are formatted very nicely on the web which is what most p

[2021-03-16 15:51] georgemccabe commented on #551
I also noticed some of the text is huge on page 19 of the User's Guide. I'm not sure why that happened.

[2021-03-16 16:23] ksearight commented on #551
Per Tara, we need the section & figure numbers to release the PDFs.

[2021-03-16 17:14] #801 closed, assigned to DanielAdriaansen, JohnHalleyGotway, georgemccabe

[2021-03-17 02:14] DanielAdriaansen opened #844 "Tidy up glossary errors in documentation"
## Describe the Problem ##
There were some glossary warnings when building the documentation from #768 that were allowed through the PR for #837 to get the features implemented in develop for others to complete their work for the release. I failed to follow up on these warnings, and this issue is to fix the remaining errors.

### Expected Behavior ###
No glossary warnings when building docs.

###

[2021-03-17 21:55] DanielAdriaansen commented on #631
Closing in favor of #630. Combining TDF/GDF into single use case.

[2021-03-17 21:55] #631 closed, assigned to DanielAdriaansen

[2021-03-17 21:57] DanielAdriaansen commented on #630
Plotting being handled via dtcenter/METplotpy#48.

[2021-03-17 22:51] TaraJensen commented on #631
Congratulations and THANK YOU for getting it done ;-)

On Wed, Mar 17, 2021 at 3:55 PM Dan Adriaansen ***@***.***>
wrote:

--
[code]

[2021-03-19 00:28] jprestop opened #849 "Enhance the documentation to remove the HTML download buttons"
## Describe the Enhancement ##
A way is not currently known to have the HTML download buttons removed in building the documentation through ReadTheDocs.   Adding the code for removing the HTML download buttons as the last step in the conf.py file did not remove them. “generating gallery...” happens after the last thing in conf.py and the removal needs to happen after the gallery is generated.  Loo

[2021-03-19 16:18] bikegeek opened #850 "Fix CyclonePlotter cartopy mapping issues"
## Describe the Problem ##
*When plotting the MET tc output in the CyclonePlotterWrapper, the points are in the incorrect location when the map is changed from the default central longitude of 0 degrees to 180 degrees. NOTE/BEWARE: Due to the nature of Cartopy, some of the original syntax employed when Basemap was used may no longer apply, breaking some of the original code. The watermark is no lo

[2021-03-19 17:28] bikegeek commented on #850
As a result of using the PlateCarree projection with a central meridian of 180 (default is 0 degrees), the cyclone track points were getting plotted in the incorrect continent (Eurasia vs North America) because some settings needed to be explicitly defined.
- fixed the plotting of points in the wrong continent by explicitly setting the transformation via transform=ccrs.PlateCarree() in the plt.plo

[2021-03-22 16:54] ksearight commented on #551
I've generated a PDF using ReadTheDocs in my feature_551_create_pdf_user_guide branch.
[attached here](https://github.com/dtcenter/METplus/files/6183793/metplus-readthedocs-io-en-feature_551_create_pdf_user_guide.pdf).  I think it successfully addresses all the previously reported formatting issues from the command line build.

A few things I noticed:
- Some of the numbering isn't indented correct

[2021-03-22 17:33] georgemccabe commented on #551
It looks like the indentation in the section above the Track and Intensity example is indented correctly. Perhaps this could be fixed by modifying the rst file?

I think it is OK that the thumbnails are not shown in the PDF. I do think it would be helpful to have at least the 3rd level numbering for these use cases in the table of contents if possible. There is a lot of content in that section so

[2021-03-22 20:15] georgemccabe opened #852 "Add support for 2 fields with same name and different levels in SeriesBy cases"
MET Help ticket 99154 brought to attention that the SeriesBy use cases currently can't handle 2 fields with the same name with different level values. The calls to RegridDataPlane in ExtractTiles wrapper fail because the same name is used for both fields. This can be remedied by setting FCST_REGRID_DATA_PLANE_VAR\<n\>_OUTPUT_NAME, however SeriesAnalysis still looks for fields with the original nam

[2021-03-23 01:55] DanielAdriaansen commented on #630
Prepping for PR. @georgemccabe, I am confused by the docs that say this:

https://dtcenter.github.io/METplus/develop/Contributors_Guide/add_use_case.html#use-case-rules

Does automation assume INPUT_BASE is `parm/use_cases` necessitating this configuration?

[2021-03-23 02:17] DanielAdriaansen commented on #630
Remaining items:

- [ ] Finish documentation py file
- [ ] Add gallery image
- [x] Add sample data
- [x] Run test with sample data
- [x] Set up automation
- [ ] Create PR
- [x] Create PR in METplotpy

[2021-03-23 14:46] georgemccabe commented on #630
No, INPUT_BASE is set to the directory containing the input data needed to run the use cases. The directory structure is organized to match parm/use_cases directory structure. Similarly, the documentation for the use cases are found in the same structure under docs/use_cases.

For example, on kiowa, I often have INPUT_BASE set to /d1/projects/METplus/METplus_Data:

**ls /d1/projects/METplus/METplu

[2021-03-24 12:52] georgemccabe commented on #629
The wrapper is implemented on branch feature_629_metdbload. Documentation for the new wrapper can be viewed here:
https://metplus.readthedocs.io/en/feature_629_metdbload/Users_Guide/wrappers.html#metdbload

I added a simple use case that reads some sample input data that is used for the met_tool_wrapper use cases and loads the data into a METviewer database. This runs successfully through GitHub A

[2021-03-24 23:45] georgemccabe commented on #850
The changes for the issue broke the regression tests because a watermark with the current time now appears on the output images. This means that the images will be different for every single test and cause a failure. A new PR was added to make the watermark optional (default is to add it) so these tests can pass.

[2021-03-25 18:08] #569 closed, assigned to CPKalb, georgemccabe

[2021-03-27 15:59] JohnHalleyGotway opened #857 "Update TCStat config options and wrappers to filter data by excluding strings."
## Describe the Enhancement ##
The issue dtcenter/MET#1733 makes the following changes to MET:
- Add TC-Stat configuration file options: column_str_exc_name, column_str_exc_val, init_str_exc_name, init_str_exc_val
- Add TC-Stat job command options: -column_str_exc, -init_str_exc
- Add Stat-Analysis job command options: -column_str_exc
Please see the changed files here: https://github.com/dtcenter/

[2021-03-29 22:15] j-opatz commented on #850
Linked PR #854 has fixed the broken regression tests and we can now close this.

[2021-03-29 22:15] #850 closed, assigned to bikegeek, j-opatz

[2021-03-30 17:07] JohnHalleyGotway opened #859 "Create an Amazon AMI from scratch and store the commands for doing so in the METplus repo."
## Describe the Task ##
This task is very similar to METplus #506. However for METplus #506, we started with the existing METviewer AMI from NOAA and added the other METplus components to it. The goal for this issue is to create a script to construct a METplus AMI totally from scratch, without starting from the METviewer NOAA AMI.

The majority of the work should already be done for #506 and can b

[2021-03-31 00:23] #857 closed, assigned to georgemccabe

[2021-04-01 04:20] dwfncar commented on #626
See https://github.com/dtcenter/METplotpy/wiki/Hovmoeller-Plots for documentation.

[2021-04-01 17:30] #789 closed, assigned to jprestop

[2021-04-04 19:46] DanielAdriaansen commented on #844
This was resolved by #845 but somehow the PR didn't automatically close the issue.

[2021-04-04 19:46] #844 closed, assigned to DanielAdriaansen

[2021-04-05 15:16] georgemccabe commented on #844
@DanielAdriaansen for future reference, linked an issue to a pull request will not automatically close it. You will need to put a keyword in front of the name of the issue in the pull request comment that tells it to close the issue, i.e. closes #844

[2021-04-05 17:10] DanielAdriaansen commented on #844
Yeah I had "closes # 844" in the issue _description_, but maybe I need it in the PR comment or something like you mentioned. Either way, I just wanted to close this and clean it up.

[2021-04-05 23:48] j-opatz commented on #728
Reopening this to create a new PR that addresses a few issues with the embedded script

[2021-04-06 17:37] jprestop opened #869 "Implement building and hosting of doxygen documentation"
## Describe the Task ##
The Doxygen documentation can be built using the build_docs.py script and was previously hosted at dtcenter.github.io.  We are no longer hosting our documentation at dtcenter.github.io.  It would be ideal for Read the Docs to build the doxygen documentation and host it in the Contributor's Guide.  We want to focus the effort on having the Doxygen information available for r

[2021-04-07 14:54] jprestop commented on #836
Work is complete.

[2021-04-07 14:54] #836 closed, assigned to jprestop

[2021-04-07 18:53] j-opatz commented on #728
With the plotting error corrected and Python script updated to place the A and B deck in separate directories (to avoid reading in both decks as A decks and B decks), a new issue occurred where the resulting image is no longer comparable to Guang Ping's website imagery.
After a discussion with George, the central problem with the use case seems to be how TCPairs is being utilized. The tool is best

[2021-04-07 18:55] j-opatz commented on #728
Including here the shell script currently being run on Guang Ping's website.
[verify_pair_glbl.sh.txt](https://github.com/dtcenter/METplus/files/6273882/verify_pair_glbl.sh.txt)

[2021-04-07 19:48] JohnHalleyGotway commented on #728
John O,

Please be aware that you do NOT need to remove that extra column. The
existing code does actually handle it. Although I suspect this may need to
be updated in the user's guide.

Take a look at this line:
https://github.com/dtcenter/MET/blob/acf97fc54d22178993e13ed9e2acd81f6f52a9ae/met/src/libcode/vx_tc_util/atcf_line_base.cc#L174

All input TC data goes through this "ATCFLineBase::read_li

[2021-04-08 14:51] georgemccabe opened #871 "Update TCGen config options to use new names"
A few MET config variables changed or were added in dtcenter/MET#1750.

## Describe the Enhancement ##
Update TCGen wrapper to set the updated variables.

* Add genesis_match_point_to_track (boolean)
* Add genesis_match_window (dictionary with beg and end integers)
* Remove ops_hit_tdiff and replace it with ops_hit_window (dictionary with beg and end integers)

### Time Estimate ###
~1-2 hours

##

[2021-04-08 15:07] georgemccabe commented on #749
In PR dtcenter/MET#1750 the logic to handle genesis files changed to set the STORM_ID to the FOF value (i.e. 2020100700_F000_261N_1101W_FOF). Currently the wrapper assumes that if the user sets the storm ID explicitly that it matches the ATCF format and breaks down the string into year, basin, and cyclone. The wrapper logic should be improved to check if it matches this format and use it if so, ot

[2021-04-08 15:09] jprestop commented on #487
ReadTheDocs has been implemented and the documentation is being built via GitHub actions in all METplus component repositories.  This issue is being closed as it is no longer relevant.

[2021-04-08 15:09] #487 closed, assigned to jprestop

[2021-04-08 16:08] j-opatz commented on #728
Success: yesterday a working group with @JohnHalleyGotway and @georgemccabe had the breakthrough for this use case. The solution was in simplifying what was the actual end-goal; that is, to produce a picture comparable to Guang Ping's. Because extra TCs lack an authentic analysis track, the Adecks that were pulled from the source file needed to serve as their own analysis tracks, essentially creat

[2021-04-09 02:27] DanielAdriaansen commented on #871
George, let me know when you have this done, I'd like to test it with #630 before finalizing that use case.

[2021-04-09 17:34] georgemccabe commented on #871
PR is here: https://github.com/dtcenter/METplus/pull/872

[2021-04-12 17:44] #871 closed, assigned to georgemccabe

[2021-04-12 17:59] jprestop opened #874 "Add documentation about the Release Guide and Verification Datasets Guide"
## Describe the Task ##
The documentation page in the Contributor's Guide:
https://metplus.readthedocs.io/en/develop/Contributors_Guide/documentation.html
gives an overview of the various Guides for the METplus documentation. An overview needs to be added for Verifications Datasets and a more elaborate description needs to be added for the Release Guide (either on that page or in the Release Guide

[2021-04-12 23:56] j-opatz opened #875 "Add support for probability field threshold in SeriesAnalysis"
## Describe the Enhancement ##
Currently in SeriesAnalysis, if the forecast or observation field is set as a probability, it needs to have a probability threshold. However, there is no dedicated variable for this (i.e. FCST_SERIES_ANALAYSIS_PROB_THRESH) as there is in GridStat and Point2Grid. This enhancement is to create that variable and allow iterative thresholds (via ==) to be set.

### Time E

[2021-04-13 13:16] #852 closed, assigned to georgemccabe

[2021-04-13 15:55] DanielAdriaansen commented on #630
@georgemccabe should the use case conf file for METplus contain _only_ items that deviate from the default settings? Or should it include all the conf options like the met_tool_wrapper use case conf file, but just set to the defaults?

[2021-04-13 17:03] DanielAdriaansen commented on #759
@lindsayrblank were you working in a feature branch by chance? If not, could you point us to the two scripts mentioned in the issue description? And Tara mentioned you were working with MetPy on some questions- is there a GitHub issue in the MetPy repository or a discussion board in their repository where that conversation is documented or was it just via email so far? Thanks!

[2021-04-13 17:26] georgemccabe commented on #630
I don't think it is necessary to include every default value for the model applications use cases. I would only include something you changed or something you foresee the user wanting to change for the use case.

[2021-04-13 19:07] #728 closed, assigned to georgemccabe, fentoad72, j-opatz

[2021-04-13 22:15] JohnHalleyGotway opened #879 "Create a new wrapper to handle the untarring of data as a pre-processing step."
## Describe the New Feature ##
During a meeting with Cristina Stan from GMU on 4/13/21 about using METplus via an Amazon AMI, a good idea arose. A lot of the NOAA data available in Amazon S3 buckets is stored in tar files. Currently, it would be the user's responsibility to retrieve and untar these files prior to processing them using METplus. The same setup also exists on NOAA's WCOSS machine. Th

[2021-04-13 22:17] georgemccabe opened #880 "Refactor field info parsing to read once then substitute time info for each run time"
PR #868 mentions to consider adding this functionality. We learned that SeriesAnalysis does not currently support using filename template tags in field info variables (FCST/OBS_VAR<n>_*). This is needed for a use case @j-opatz is working developing, so this seemed like a good time to go ahead and implement this.

## Describe the Enhancement ##
Read field info variables on initialization, skipping

[2021-04-13 22:23] georgemccabe commented on #879
A use case exists that runs a python script as a "UserScript" to untar files before processing:

Use Case Config:
https://github.com/dtcenter/METplus/blob/develop/parm/use_cases/model_applications/tc_and_extra_tc/UserScript_ASCII2NC_PointStat_fcstHAFS_obsFRD_NetCDF.conf

Python Script to Untar:
https://github.com/dtcenter/METplus/blob/develop/parm/use_cases/model_applications/tc_and_extra_tc/UserS

[2021-04-13 22:52] lindsayrblank commented on #759
@DanielAdriaansen Hi Dan, I was not in working in a feature branch, unfortunately. I was first trying to get things working with an example to then implement into METplus, but that never happened. The scripts, including what I've done so far with MetPy are here: eyewall:/d1/lblank/SBU/metpy. As for the conversation, it was through email. I have forwarded that to you. Let me know if you need anythi

[2021-04-14 01:48] DanielAdriaansen commented on #759
Thanks @lindsayrblank! What version of MetPy were you using to develop with? And are there any requirements or restrictions I should know about? It looks like you're using pygrib and wondered if that was required or whether other options were OK.

Was the sample GFS file provided for you?

Also- I thought both of the scripts listed in this issue description were provided to you and `gfs_pv_fcst_me

[2021-04-14 19:33] georgemccabe commented on #681
From PR #882, we found a few minor edits to apply to the repeated content for each use case. To avoid redundancy, we could move the common content to another file to reference in each use case doc.

Suggested changes:

Change (Click here to **see** the METplus releases):

`# | **Location:** All of the input data required for this use case can be found in the met_test sample data tarball. Click her

[2021-04-14 20:52] #630 closed, assigned to DanielAdriaansen

[2021-04-14 20:52] #629 closed, assigned to TatianaBurek, georgemccabe, venitahagerty, LoganDawson-NOAA

[2021-04-15 23:23] lindsayrblank commented on #759
@DanielAdriaansen No problem! Here are all the answers to your questions.

1. I was using MetPy v1.0.
2. There are no requirements that I can think of!
3. You do not have to use pygrib.
4. The sample GFS file is one file from the larger Dorian GFS data (eyewall:/d1/lblank/SBU/dorian_data/model_data)
5. All of the scripts were originally provided to me by a graduate student at Stony Brook. I then a

[2021-04-15 23:46] #880 closed, assigned to georgemccabe

[2021-04-19 18:51] #686 closed, assigned to mrinalbiswas, JohnHalleyGotway, georgemccabe

[2021-04-19 23:08] ksearight commented on #551
To Do list to finish the PDF version of the User Manual.
- [x] Some of the numbering isn't indented correctly. For example, in chapter 3.6, under Track and Intensity Use Case with Sample Data, the a, b, c, ... lines are flush with the numbered 1, 2, 3, ...
- [x] The Use Cases under 5.1 need to have at least the 3rd level numbering in the table of contents if possible.  _Done, except it's showing 5

[2021-04-20 17:52] DanielAdriaansen commented on #759
IVT use cases:
https://metplus.readthedocs.io/en/develop/generated/model_applications/medium_range/TCStat_SeriesAnalysis_fcstGFS_obsGFS_FeatureRelative_SeriesByLead_PyEmbed_IVT.html#sphx-glr-generated-model-applications-medium-range-tcstat-seriesanalysis-fcstgfs-obsgfs-featurerelative-seriesbylead-pyembed-ivt-py

https://metplus.readthedocs.io/en/develop/generated/model_applications/medium_range/T

[2021-04-21 02:42] ksearight commented on #551
@georgemccabe @jprestop @TaraJensen Ready to review again and evaluate for doneness.  See the checklist above for the changes made.  The HTML version is changed as well as the PDF version.  Here are the RTD links to look at:
- [HTML](https://metplus.readthedocs.io/en/feature_551_create_pdf_user_guide/)
- [PDF](https://metplus.readthedocs.io/_/downloads/en/feature_551_create_pdf_user_guide/pdf/)

I

[2021-04-21 13:59] georgemccabe commented on #551
@ksearight I think it looks great!

Regarding Chapter 6 quick search links, if we were to add the actual keyword next to each of the links (i.e. the ASCII2NC link contains the keyword ASCII2NCToolUseCase in the URL), then the user could search for that string in the PDF to find the use cases that correspond to that quick search link. I noticed that you have additional text in the quick search page

[2021-04-21 14:24] georgemccabe commented on #551
My only other comment would be to remove the lines in docs/conf.py that are from my previous attempt to generate a PDF so that there is no confusion as to what is needed to generate the version you created. There may be other files that I had changed that we will want to clean up as well (i.e. docs/Makefile a pdf directive was added that we should remove if it doesn't affect the generation of the

[2021-04-21 14:34] jprestop commented on #551
I think it's a good idea to remove the lines in docs/conf.py that are from George's previous attempt to generate a PDF so that there is no confusion.  @georgemccabe @ksearight I don't have any problems with adding the actual quick search keywords next to each item so that users can search for those strings in the PDF.  Keith, thank you so much for all of your work and effort on this!

[2021-04-21 14:53] hankenstein2 commented on #506
The general task of supplying UFS an EC2 instance with METviewer + all METplus components is done but the creation of a general script is not. Pushing that part to a future release.

[2021-04-21 15:20] ksearight commented on #551
Thanks for your reviews.  I like the first option (with ":") for the keywords.  Let's do that.  I'll also look at some cleanup.

[2021-04-21 20:06] georgemccabe commented on #779
PR #888 handles unsupported MODE configs
* fcst.filter_attr_name
* fcst.filter_attr_thresh
* fcst.censor_thresh
* fcst.censor_val
* fcst.vld_thresh
* obs.filter_attr_name
* obs.filter_attr_thresh
* obs.censor_thresh
* obs.censor_val
* obs.vld_thresh
* mask dictionary (all values: grid, poly, grid_flag, poly_flag)
* weight dictionary (all values)
* nc_pairs dictionary (all values)
* match_flag
* ma

[2021-04-21 21:55] ksearight commented on #551
Done!  I did see that the search links are also in the entries in Chapter 5, so those may need to be changed as well.  Those are pointing to the pre-RTD locations, so I suggest creating a new issue to change them.

[2021-04-22 17:58] DanielAdriaansen commented on #759
Working on branch feature_759_FR_MetPy.

We will be eliminating this use case:
https://metplus.readthedocs.io/en/develop/generated/model_applications/medium_range/TCStat_SeriesAnalysis_fcstGFS_obsGFS_FeatureRelative_SeriesByLead_PyEmbed_IVT.html#sphx-glr-generated-model-applications-medium-range-tcstat-seriesanalysis-fcstgfs-obsgfs-featurerelative-seriesbylead-pyembed-ivt-py

And modifying this us

[2021-04-23 00:18] #551 closed, assigned to ksearight, jprestop, georgemccabe

[2021-04-24 01:09] CPKalb opened #892 "New Use Case: RMM and OMI (driver scripts)"
## Describe the New Use Case ##
Convert the example scripts (compute_omi_example.py, compute_rmm_example.py, phase_diagram_example.py)  into the METplus system as driver scripts using the UserScript command.  This will include running the model and obs through a MET tool to get a MET formatted netCDF and then reading in this with the new calcpy read_file.py

### Acceptance Testing ###
data is on k

[2021-04-27 17:10] georgemccabe opened #895 "Create the METplus v4.0.0-beta5 release"
Create the release by following the Release Guide instructions for a development release.

https://metplus.readthedocs.io/en/develop/Release_Guide/metplus_development.html

[2021-04-27 17:18] georgemccabe commented on #779
PR #893 added support for PB2NC config variables:
* pb_report_type
* level_range dictionary (all items: beg and end)
* level_category
* quality_mark_thresh

PR #894 added support in GridStat wrapper for:

* interp dictionary (all items)
* nc_pairs_var_name
* grid_weight_flag
* fcst.file_type
* obs.file_type
* climo_mean and climo_stdev dictionaries (all items)

Also added support for all climo_mea

[2021-04-27 17:26] georgemccabe commented on #779
Closing this issue so it is tied to the 4.0.0 release. Remaining work will be documented in #896 for the 4.1.0 release.

[2021-04-27 18:02] georgemccabe opened #896 "Add support for commonly changed MET config variables part 2"
Continuation of #779 to keep progress completed for the issue associated with METplus 4.0.0 and associate the remaining tasks with 4.1.0.

## Describe the Enhancement ##

From the original list @malloryprow provided, all of the MET config variables are supposed EXCEPT for the following:

GridStat:
- [x] fourier
- [x] censor_thresh
- [x] censor_val

PB2NC:
- [x] obs_prefbufr_map
- [x] obs_bufr_map

[2021-04-27 18:03] #779 closed, assigned to georgemccabe

[2021-04-27 18:19] georgemccabe commented on #832
@fisherhucar could you link the pull request that completes this issue? I tried to search for 832 but I didn't see any PR names that matched this issue.

[2021-04-29 18:32] georgemccabe commented on #767
@jopatz can this issue be closed? I see there was a pull request for this work.

[2021-04-29 19:31] jopatz commented on #767
@georgemccabe I don't know, but maybe @j-opatz does :)

[2021-04-29 19:38] georgemccabe commented on #767
Sorry for the accidental tag!

[2021-04-29 22:39] jprestop opened #898 "Documentation: Make Headers Consistent in METplus components User's Guides"
## Describe the Task ##
The headers for the METplus components User's Guides may not be consistent, but we want them to be.

Here is the syntax from the RST docs (https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#sections):

\# with overline, for parts (e.g. the RTD documentation for the component (i.e. docs/index.rst), each guide (e.g. User's Guide, Contributor's Guide) (i.e

[2021-04-29 22:40] jprestop commented on #898
Check with @TaraJensen on when an appropriate time to work on this is, with regard to funding.

[2021-04-30 01:21] georgemccabe opened #900 "Consolidate metplus_config directory into single file"
Cleaning up the duplicate comments in these files caused the files to be very small, some only containing a single variable. It is also difficult to remember which file contains which variable that must be set to run.

## Describe the Enhancement ##
Create a single file to contain all default configurations and update logic/docs accordingly.

### Time Estimate ###
<1 day (already done)

### Sub-Is

[2021-05-03 19:31] #626 closed, assigned to dwfncar, georgemccabe, hankenstein2

[2021-05-03 19:31] #627 closed, assigned to dwfncar, georgemccabe, hankenstein2

[2021-05-03 20:51] #900 closed, assigned to georgemccabe

[2021-05-03 21:17] #895 closed, assigned to georgemccabe

[2021-05-03 21:22] georgemccabe opened #903 "Update User's Guide for 4.0.0"
I discovered some of the information in the User's Guide is out-of-date. This should be updated before the 4.0.0 release.

## Describe the Task ##

Review and update User's Guide

### Time Estimate ###
~1 day

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [X] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
4.0.0

### Funding Source ###
*Define the sour

[2021-05-03 21:40] #767 closed, assigned to j-opatz

[2021-05-04 20:23] JohnHalleyGotway opened #911 "New Use Case: TC Verification Compare ADECK vs BDECK"
## Describe the New Use Case ##
The National Hurricane Center organizes their track data into separate files for each storm. A historical archive of this data is available via the NHC ftp site:
https://ftp.nhc.noaa.gov/atcf/archive/

For past hurricane evaluations, the DTC ran the MET tc-pairs tool once for each input storm. METplus team members met with Yan Jin from the NOAA/HAFs group on 5/4/21.

[2021-05-04 21:07] georgemccabe commented on #911
If specifying a list of storm information to loop over and process is desired, then issue #749 will need to be completed before that will work as expected. Currently all storms can be processed properly.

[2021-05-06 18:57] georgemccabe opened #913 "Create the METplus v4.0.0 release"
*Replace italics below with details for this issue.*

## Describe the Task ##
*Provide a description of the task here.*

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
*List

[2021-05-06 20:29] georgemccabe opened #914 "Dictionary overrides not supported in _VAR<n>_OPTIONS"
Brought to our attention by @jwolff-ncar
Setting the following

`OBS_VAR1_OPTIONS = interp = { type = [ { method = NEAREST; width = 1; } ] };`

fails because it tries to interpret the text between curly braces (method = NEAREST; width = 1;) as a variable.

[code]

## Describe the Problem ##
See above

### Expected Behavior ###
When setting:
`OBS_VAR1_OPTIONS = interp = { type = [ { method = NEARES

[2021-05-07 04:44] j-opatz commented on #903
My review of Chapter 4 (Python Wrappers) revealed only one needed update:

[2021-05-07 20:14] jprestop commented on #903
I really like the changes you made and the new flow of Chapters 2/3.  I have a few suggestions.

I recommend changing the name of Chapter 2 from "Software Installation/Getting Started" to simply "Software Installation".  It'd be nice to have a shorter title and seem more accurate.  

I recommend adding bold to the words "bin" and "exec" and "share" in 3.2.1.1. MET_INSTALL_DIR for consistency.

I r

[2021-05-10 12:52] georgemccabe commented on #914
This bugfix was only applied to the develop branch because we are very close to the 4.0.0 release.

[2021-05-10 12:52] #914 closed, assigned to georgemccabe

[2021-05-10 13:39] georgemccabe commented on #903
I made this change in the branch.

[2021-05-10 13:45] georgemccabe commented on #903
I agree with these suggestions and have made the changes in the branch.

[2021-05-10 15:05] hankenstein2 commented on #903
I did not see anything else needed changing for Chapter 4. Looks good.

[2021-05-10 15:14] georgemccabe opened #917 "Create the METplus v4.0.0 release"

[2021-05-10 15:25] georgemccabe commented on #903
From email sent on 5/5/2021:

I assigned at least 1 scientist and 1 engineer to each section to review. Please review your section by the end of the week so we can make any edits before we create the release. Let me know if you are unable to review your section by then. There is also no penalty if you chose to review other sections as well!

Chapter 2 and 3 (Software Installation/Getting Started a

[2021-05-10 16:18] DanielAdriaansen commented on #463
@TaraJensen can you advise about this issue? Please see my last comment from 9/10/2020 above: https://github.com/dtcenter/METplus/issues/463#issuecomment-690584120

[2021-05-10 16:22] DanielAdriaansen commented on #828
@georgemccabe would you agree this was handled via #768 and this issue can be closed?

[2021-05-10 16:23] georgemccabe commented on #673
An initial version of a Release Guide for each project is now available in the METplus repository. These documents will evolve as the process is refined. Closing issue.

[2021-05-10 16:23] jvigh commented on #903
Hi George,

I am unclear as to the timeline for this. Was it needed by last Friday, or
this coming Friday (May 15)? I am in a conference all week, but if it's
needed right away, I can try to work on this later this afternoon.

Jonathan

Jonathan Vigh
Project Scientist I, Joint Numerical Testbed
Research Applications Laboratory (RAL)
National Center for Atmospheric Research (NCAR)
P.O. Box 3000

[2021-05-10 16:23] DanielAdriaansen commented on #402
@georgemccabe would you agree this was handled via #768 and can be closed?

[2021-05-10 16:26] georgemccabe commented on #903
@jvigh the release is scheduled for this afternoon, so any documentation updates should be in before then if they will be included in the release.

[2021-05-10 16:28] DanielAdriaansen commented on #90
I think this issue has been superseded by much other work and is no longer relevant. Closing.

[2021-05-10 16:28] #90 closed

[2021-05-10 16:29] jvigh commented on #903
My conference session ends today at 2 PM. I can start reviewing it then if
it's still needed. Have you had any reviews yet for those Chapters?

Jonathan Vigh
Project Scientist I, Joint Numerical Testbed
Research Applications Laboratory (RAL)
National Center for Atmospheric Research (NCAR)
P.O. Box 3000                    tel: +1 (303) 497-8205
Boulder, CO 80307-3000   fax: +1 (303) 497-8171Jonatha

[2021-05-10 16:30] georgemccabe commented on #828
I would double check that items 2 and 3 were completed, then close the ticket if they are. If not, we will need to move this to 4.1.0-beta1.

[2021-05-10 16:31] DanielAdriaansen commented on #903
I don't have any changes or suggestions for chapter 5 for this release. I looked at some of the newer use cases that were added for this release but didn't review every single use case page since much of those were touched and reviewed as part of the work in #768. Chapter 5 looks good to go.